
block dependencies

| <!--
block comment
  demo
    block demo
| -->

block root
  dom-module(id=name)
    template
      block template
        style
          block style

    script
      block script
