//- link(rel="import" href="/vendors/frameworks/polymer/1.4.0/polymer.html")

| <!--
block comment
  demo
    block demo
| -->

block root
  dom-module(id=name)
    block dependencies
      //TODO maya5j
      //See https://github.com/GoogleWebComponents/google-map/blob/master/google-map-marker.html
      //Polymer library is included in the component. Other libraries are on the client side see
      //https://github.com/GoogleWebComponents/google-map/blob/master/index.html
      //Include it here??
      //link(rel="import" href="/node_modules/polymer-1.4.0/polymer-mini.html")
      //link(rel="import" href="/node_modules/polymer-1.4.0/polymer.html")
      //link(rel="import" href="https://static.scania.com//vendors/frameworks/bootstrap/3.2.0/dist/js/bootstrap.min.js")

    template
      block style_dependencies
        //- Bootstrap and corporate-ui references will be needed when we switch to run Polymer in shadow dom mode.
        //- link(rel="stylesheet" href="/vendors/frameworks/bootstrap/3.2.0/dist/css/bootstrap-org.css")
        //- link(rel="stylesheet" href="/css/corporate-ui.css")

      block template
        style
          block style

    script
      | var name = '#{name}'; 
      block script
