<!--
#### Variation-2


Do a tidy table. For sorting and filtering to work, it must include 1 table, 1 thead, 1 tbody, and have the same number of th-tags as td-tags (for each row).
'control-item' component specifies which columns you want to filter by.



<demo>
<c-rich-text-table title="Emission data" variation="2">
    
    <control-item controls="Engine" col="1"></control-item>
    <control-item controls="RPM" col="2"></control-item>

    <table>
        <thead>
            <tr>
                <th>Engine</th>
                <th>RPM</th>
                <th>Emission</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>DC09 074C</td>
                <td>5600</td>
                <td>ICFN1</td>
            </tr>
            <tr>
                <td>DC09 074C</td>
                <td>5600</td>
                <td>ICFN1</td>
            </tr>
            <tr>
                <td>DC09 074b</td>
                <td>5400</td>
                <td>ICF2</td>
            </tr>
            <tr>
                <td>DC09 074C</td>
                <td>4440</td>
                <td>ICF2</td>
            </tr>
            <tr>
                <td>DC09 074b</td>
                <td>1200</td>
                <td>ICFN1</td>
            </tr>
        </tbody>
    </table>
  
</c-rich-text-table>
</demo>
-->
<dom-module id="c-rich-text-table-variation-2">
	<template>
		<content></content>
	</template>
	<script>
		Polymer({
			is: "c-rich-text-table-variation-2"
		})
	</script>
</dom-module>