<!--


<demo>
<c-rich-text-table variation="3" headline="GET TO THE HEART OF THE MATTER" description="We have a wide array of engines that can give your vehicle, whether it be a dumper, screening machine, excavator, wheel loader, or more, a strong heart. Browse the engines below, and learn more about their equipment and performance.">
            
    
            <table>


                <tbody>
                    <tr>
                        <td>

                          <img src="https://static.scania.com/resources/images/demo/placeholder.png">
                          <div class="info-text">
                            <strong>4x2</strong>
                            <strong>Chassi height:</strong>
                            <span>Low/normal</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                          </div>

                        </td>
                        <td><img src="https://static.scania.com/resources/images/demo/placeholder.png"></td>
                        <td><img src="https://static.scania.com/resources/images/demo/placeholder.png"></td>
                    </tr>
                    <tr>
                        <td>
                          <img src="https://static.scania.com/resources/images/demo/placeholder.png">
                          <strong>4x2</strong>
                          <strong>Chassi height:</strong>
                          <span>Low/normal</span>
                        </td>
                        <td><img src="https://static.scania.com/resources/images/demo/placeholder.png"></td>
                        <td><img src="https://static.scania.com/resources/images/demo/placeholder.png"></td>
                    </tr>
                    <tr>
                        <td>
                          <img src="https://static.scania.com/resources/images/demo/placeholder.png">
                          <strong>4x2</strong>
                          <strong>Chassi height:</strong>
                          <span>Low/normal</span>
                          <p>Sometext</p>
                        </td>
                        <td><img src="https://static.scania.com/resources/images/demo/placeholder.png"></td>
                        <td><img src="https://static.scania.com/resources/images/demo/placeholder.png"></td>
                    </tr>
                </tbody>

            </table>
          

        </c-rich-text-table>
</demo>
-->
<dom-module id="c-rich-text-table-variation-3">
	<template>
		<content></content>
	</template>
	<script>
		Polymer({
			is: "c-rich-text-table-variation-3"
		})
	</script>
</dom-module>