<link rel="import" href="iron-resizable-behavior/iron-resizable-behavior.html">

<!--

`c-panel-grid` adds the framework for a panel grid. Useful for listing articles. It includes a title, and counts
the number of articles it contains. Auto-sizeing of the panels so that all are the same height.
Use with the `panel-item` component. Text and content that belongs in the header should have attribute `header`, footer content should have the attribute `footer`.

@dev

Something equivelant to onload event? Update height when height on ready.
-->
<dom-module id="c-panel-grid">
  <template>
    <style>
      :host {

        h3 {
          font-family: 'Scania Sans Headline Bold';
          font-size: 22px;
          line-height: 22px;
          color:#041e42;
          margin-bottom: 25px;
        }
        .container.extra-gutter {
          background-color: #fff;
          padding:40px;
        }
      }
    </style>

    <div class="container extra-gutter" id="panelgridindentifier">
      <h3 class="text-uppercase">
        <template is="dom-if" if="{{countItems}}">{{counted}}</template> 
        {{title}}
      </h3>
      <div class="row">
        <content></content>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'c-panel-grid',
      behaviors: [
        Polymer.IronResizableBehavior
      ],
      properties: {
        /* the title displayed after the count.*/
        title: String,
    
        /* the number displayed before the title. */
        counted: {
          type: Number,
          value: 0
        },
        /* If the number of items should be counted */
        countItems: {
          type: Boolean,
          value: false
        }
      },

      /* Listens to the iron-resize event (from IronResizableBehaviour) */
      listeners: {
        'iron-resize':'_onResize',
        //'child-attached': '_childAttached'
      },

      /* Calls the _highest method once attached, to match height if possible. */
      childAttached: function() {
        var element = $(this.getContentChildren());
        debugger
        this._highest(element);
      },

        /* Counts the number of panels on ready, and passes on the variation to the childelements. */
      ready: function() { 

        this.count();   
        /*var i,
          contentChildren = this.getContentChildren();

        for(i=0;i<contentChildren.length;i++) {
          contentChildren[i].setAttribute('variation', this.variation);
        }*/

      },

      /** 
       *  Counts the number of panels.
       */
      count: function() {
        this.counted = this.getContentChildren().length;
        //this.setAttribute("counted", this.getContentChildren().length);
      },

      /** 
       *  Check the if a variations matches the current one.
       *
       *  @param {String} e The string (variation) to check against.
       *
       *  @return {Boolean} True if it matches the variation 
       */
      _checkVariation: function(e) {
        return (this.variation == e);
      },

      /* Called on resize (from IronResizableBehaviour) and calls the _highest method. */
      _onResize: function() {
        var element = $(this.getContentChildren());
        //this._highest(element);
      },

      /**
       *  Matches the height of each heading, body and footer of all the panels.
       *
       *  @param {jQuery-object} element The elements to perform the resizing on.
       */
      _highest: function(element) {

        var height = {
          heading : 0,
          body  : 0,
          footer  : 0
        };

        $(element).each(function() {
          $('.panel-heading', this).removeAttr('style');
          $('.panel-body', this).removeAttr('style');
          $('.panel-footer', this).removeAttr('style');
        });

        $(element).each(function() {
          height.heading  = $('.panel-heading', this).height()  > height.heading  ? $('.panel-heading', this).height()  : height.heading;
          height.body   = $('.panel-body', this).height()     > height.body     ? $('.panel-body', this).height()     : height.body;
          height.footer   = $('.panel-footer', this).height()   > height.footer   ? $('.panel-footer', this).height()   : height.footer;
        });

        $(element).each(function() {
          $('.panel-heading', this).height(height.heading);
          $('.panel-body', this).height(height.body);
          $('.panel-footer', this).height(height.footer);
        });
      }
    });
  </script>
</dom-module>


<!-- -->
<dom-module id="panel-item">
  <template>
    <style>
      :host {

        .panel {
          padding:0 15px;
          border:0px;
          margin-bottom: 30px;
        }
        .panel-heading {
          border:1px solid #dbdbdb;
          border-bottom: 0px;
          border-radius: 0;
          padding: 24px 27px 10px 27px;
          height: auto;
        }
        .panel-body {
          border-radius: 0;
          border-right: 1px;
          border-left: 1px;
          border-bottom: 1px;
          border-top: 0px;
          border-color: #dbdbdb;
          border-style: solid;
          padding:15px 27px 15px 27px;
          height: auto;
        }
        .panel-footer {
          border:1px solid #dbdbdb;
          border-top: 0px;
          border-radius: 0;
          background-color: #fff;
          padding: 10px 27px 22px 27px;
          height: auto;
        }

        ::content {

          h3 {
            font-family: 'Scania Sans Headline Bold';
            font-size: 24px;
            letter-spacing: 1.2px;
            line-height: 26px;
            color:#041E42;
            margin-bottom: 8px;
            margin-top:6px;
          }
          h4 {
            font-family: 'Scania Sans Bold';
            font-size: 18px;
            line-height: 25px;
            color:#747472;
            margin:0;
            padding: 0;
            text-transform: uppercase;
          }
          h5 {
            font-family: 'Scania Sans Bold';
            font-size: 14px;
            letter-spacing: 1.9px;
            line-height: 20px;
            word-spacing: 0;
            color:#041E42;
            text-transform: uppercase;
          }
          p {
            font-size: 16px;
            line-height: 24px;
            margin-top:22px;
            color:#53565A;
          }
          a {
            font-family: 'Scania Sans Bold';
            font-size: 14px;
            color:#041E42;
            &:hover, &:active, &:focus {
              text-decoration:none;
            }
            &::after {
              font-family: 'corporate-icons';
                content: "\e6e9";
                color: #c50918;
                padding-left: 6px;
            }
          }
        }
      }
    </style>
    
    <div class="col-md-4 col-sm-6 panel">
      <div class="panel-heading">
        <content select="[header]"></content>
      </div>

      <div class="panel-body">
        <content select=":not([header]):not([footer])"></content>
      </div>

      <template is="dom-if" if="{{_isFoot}}">
        <div class="panel-footer">
          <content select="[footer]"></content>
        </div>
      </template>
    </div>
  </template>

  <script>
    Polymer({
      is: 'panel-item',
      properties: {
        _variation: {
          type: String,
          value: "variation-1",
          observer: "_variationListener"
        },
        _isFoot: {
          type: Boolean,
          value: false
        }
      },
      attached: function() {
        //$(this).closest('c-panel-grid')[0].childAttached();
      },
      _variationListener: function() {
        console.log(this._variation);
        if(this._variation == "variation-2") {
          this._isFoot = true;
        }
      }
    });
  </script>
</dom-module>

<link rel="import" href="variation-1.html">

<link rel="import" href="variation-2.html">
