
<!--
___

<demo>
	<c-decisions-tool data='{
    "caption": "Help Me choose",
    "isPublishMode": false,
    "decisionMap": [{
      "question1": "Do you want the vehicle to show as an asset for your business?",
      "question1Yes": "question2",
      "question1No": "question5",
      "question2": "Do you have enough taxable profits to be able to claim capital allowances?",
      "question2Yes": "question3",
      "question2No": "conclusion4",
      "question3": "Do you want lower payments with a lump sum payment at the end?",
      "question3Yes": "conclusion1",
      "question3No": "question4",
      "question4": "Do you want to fix the rate of interest?",
      "question4No": "conclusion3",
      "question4Yes": "conclusion2",
      "question5": "Do you want repair and maintenance to be included?",
      "question5No": "conclusion6",
      "question5Yes": "conclusion5",
      "conclusion1": "Lease Purchase",
      "conclusion2": "Hire Purchase Fixed Rate",
      "conclusion3": "Hire Purchase Variable Rate",
      "conclusion4": "Finance Lease",
      "conclusion5": "Contract Hire",
      "conclusion6": "Opertaing Lease",
      "conclusion1Text": "Lease purchase features lower regular repayments by including a final lump sum balloon payment at the end of the contract.",
      "conclusion2Text": "Lease purchase features  2.",
      "conclusion3Text": "Lease purchase features 3.",
      "conclusion4Text": "Lease purchase features 4.",
      "conclusion5Text": "Lease purchase features 5.",
      "conclusion6Text": "Lease purchase features  6.",
      "learnMore1": "https:google.com",
      "learnMore3": "https:google.com",
      "learnMore2": "https:google.co.in",
      "learnMore6": "https:google.com",
      "learnMore4": "https:google.com",
      "learnMore5": "https:google.co.in"
    }]
  }'></c-decisions-tool>
</demo>

___

-->
<dom-module id="c-decisions-tool-variation-1">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <content></content>
  </template>

  <script>
    Polymer({
      is: 'c-decisions-tool-variation-1'
    }); 
  </script>
</dom-module>
