extends ../../component

append dependencies
  script(src="/vendors/frameworks/jQuery/2.2.2/dist/jquery.min.js")
  link(rel="import" href="variation-1.html")

block comment
  include comment.md

block style
  include style.css

append template
  include template.html

block script
  include script.js