extends ../../component

append dependencies
  link(rel="import" href="variation-1.html")

prepend root
  style
    include test.css

block comment
  include comment.md

block style
  include style.css

append template
  include template.html

block script
  include script.js