
<footer class="footer">
      <span class="wordmark"></span>
      <content select="c-social-share"></content>

      <div class="dropdown-container">
        <nav class="dropdown-menu footer-links">
          <content></content>
        </nav>
        <a href="#" class="btn btn-lg-center-block hidden-md hidden-lg" data-toggle="dropdown">
          SCANIA
          <span class="icon-caret-up"></span>
        </a>
      </div>
      <p class="footer-copy-text">
        <!-- <content select="copyright-text">
          &copy; Copyright Scania 2016 All rights reserved.
        </content> -->
        <span>&copy;</span> {{copyright}}
      </p>
    </footer>
