
<div ng-app="angular.table">
  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>age</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in persons">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.age}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3" class="text-center">Footer</td>
      </tr>
    </tfoot>
  </table>

  <script>
    angular.module('angular.table', [])
      .directive('angularTable', angularTable);

    function angularTable() {
      return {
        restrict: 'E',
        scope: {
          persons: '=persons'
        },
        templateUrl: 'partials/angular-table.html'
      };
    }
  </script>
</div>
