
<script src="/libs/react/dist/react.js"></script>
<script src="/libs/react-dom/dist/react-dom.js"></script>
<script src="/libs/babel-standalone/babel.min.js"></script>

<script type="text/babel">
  var ReactTable = React.createClass({
    render: function() {
      return <table className="table">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>age</th>
          </tr>
        </thead>
        <tbody>
          {
            this.props.data.map(function(item) {
              return <tr key="{item.id}"><td>{item.id}</td><td>{item.name}</td><td>{item.age}</td></tr>
            })
          }
        </tbody>
        <tfoot>
          <tr>
            <td colSpan="3" className="text-center">Footer</td>
          </tr>
        </tfoot>
      </table>
    }
  });

  var root = document.querySelector('react-table'),
      data = JSON.parse(root.dataset.persons);

  ReactDOM.render(
    <ReactTable data={data} />,
    root
  );
</script>
