# Compiled from Stencil
.build/
.www/
src/**/readme.md

# Compiled theme
tmp/

# Compiled from gulpfile.babel.js
.storybook/
www/
dist/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
*.tgz
*.d.ts

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
.npmrc

data/stats.json
data/docs.json

package-lock.json
themes/elicitation/c-card.scss
themes/elicitation/c-content.scss
themes/elicitation/c-footer.scss
themes/elicitation/c-header.scss
themes/elicitation/c-navigation.scss
themes/elicitation/c-theme.scss
