
<!--
___

<demo>
  <c-main-navigation show-search>
    <primary-items>
      <nav-item location="#/">solutions</nav-item>
      <nav-item location="#/branding">products and services</nav-item>
      <nav-item location="#/contact">experience scania</nav-item>
    </primary-items>

    <secondary-item>
      <nav-item location="#/profile"><span class="icon-user"></span></nav-item>
    </secondary-item>

    <sub-navigation>
      <nav-item location="#/news">news</nav-item>
      <nav-item location="#/popular">popular</nav-item>
      <nav-item location="#/related">related</nav-item>
    </sub-navigation>
  </c-main-navigation>
</demo>

___
-->

<dom-module id="c-main-navigation-variation-1">
  <template>
    <style>
      /* Main navigation variation 1 */

      :host {
        display: block;
      }
    </style>

    <content></content>

  </template>

  <script>
    Polymer({
      is: 'c-main-navigation-variation-1'
    });
  </script>
</dom-module>
