/* navigation */
h1 {
  color: red;
}
.navbar {
  padding: 0;
}
.navbar-default {
  font-family: 'Roboto Condensed';
  background-color: #303c49;
  margin-bottom: 0;
  border-bottom: 4px solid var(--danger);
  border-radius: 0;
  z-index: 1000;
  font-size: 1.4rem;
  min-height: auto;
}

.navbar-default .navbar-header {
  float: none;
  display: block;
  font-family: 'Roboto Condensed';
  font-weight: bold;
  padding: 2px 0 0px;
  font-size: 1.3rem;
  color: #acb1b6;
}

.navbar-default .navbar-header .navbar-brand {
  float: none;
  display: inline-block;
  vertical-align: middle;
  height: auto;
  font-size: 0;
  padding: 0;
  margin: 20px 30px 20px 15px;
  color: #777;
  line-height: 20px;
}

.navbar-default .navbar-header .navbar-brand:before {
  display: inline-block;
  content: '';
  background-image: url('https://www.corporate.man.eu/media/nresources/nimages/man_logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
  width: 103px;
  height: 55px;
}

.navbar-default .navbar-header .navbar-nav a,
.navbar-default .navbar-header .navbar-nav span {
  font-family: 'Roboto Condensed';
  font-weight: normal;
  font-size: 12px;
  color: #fff;
  padding: 15px;
}

.navbar-default .navbar-header .navbar-symbol {
  display: none;
}
