:host{
  background: var(--primary);
  padding-bottom: 35px;
}
:host .wordmark{
  background-image: url(https://www.corporate.man.eu/media/nresources/nimages/man_logo.png);
  width:103px;
  height: 55px;
}
