<!--
#### variation-1

Variation-1 doesnt make use of any kind of filtering (so control-items wont work). You can however use several thead and tbody as many times as you want, and set a colspan on th-tags for uneven ratios of th/td-tags.



<demo>
<c-rich-text-table title="Emission data" variation="1">
    <table>
        <thead>
            <tr>
                <th colspan="2">Engine</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>DC09 074C</td>
                <td>5600</td>
                <td>ICFN1</td>
            </tr>
            <tr>
                <td>DC09 074C</td>
                <td>5600</td>
                <td>ICFN1</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th colspan="2">Title</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Item nr1</td>
                <td>Item nr2</td>
            </tr>
        </tbody>
    </table>
</c-rich-text-table>
</demo>
-->
<dom-module id="c-rich-text-table-variation-1">
	<template>
		<content></content>
	</template>
	<script>
		Polymer({
			is: "c-rich-text-table-variation-1"
		})
	</script>
</dom-module>