<!--

##### Variation-1:

Quote from engineers, customers etc. - more inspirational than the testimonial.

<demo>
  <c-quote image="https://static.scania.com/resources/images/demo/c-quote-full.jpg">
    <h2>Title of the quote</h2>
    <p>A very inspirational quote indeed</p>
    <h3>A quoteable person</h3>
    <h3>Quote company Inc.</h3>
  </c-quote>
</demo>

-->
<dom-module id="c-quote-variation-1">
  <template>
    <style>
      /* Quote variation 1 */

      :host {
        display: block;

        ::content {

          .box {
            border: 1px solid #dadada;
          }
          .text-container {
            padding:30px 6%;

            h2 {
              color: #041e42;
              font-size: 45px;
            }
            h3 {
              font-size: 14px;
              color: #747472;
              margin-bottom:5px;
            }
            p {
              letter-spacing: 0.6px;
              margin-top:8%;
              margin-bottom:10%;
            }
          }
        }
      }
    </style>
    <content></content>
  </template>

  <script>
    Polymer({
      is: "c-quote-variation-1"
    })
  </script>
</dom-module>
