@import 'node_modules/@fortawesome/fontawesome-pro/scss/fontawesome';

:host{
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-family: 'FontAwesome';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
