$link-color: #fff;
$link-color-hover: darken($link-color, 100%);

%nav-link {
  color: $link-color; // Fallback for non supported browsers
  color: var(--link-color);
  text-decoration: none;
  padding: 5px;
  text-align: center;
}
// Sass compiler renders :hover and :before differently
// and this is due to browsers lackof support
%nav-link-hover {
  text-decoration: underline;
}
%nav-link-social {
  background-color: black;
  color: $link-color; // Fallback for non supported browsers
  color: var(--link-color);
  border-color: white;
  margin-top: 30px;
}
%nav-link-social-hover {
  background-color: white;
  color: $link-color-hover; // Fallback for non supported browsers
  color: var(--link-color-hover);
  border-color: white;
}

:host {
  --link-color: #{$link-color};
  --link-color-hover: #{$link-color};
  --social-media-color-hover: #{$link-color-hover};

  background-color: #000;
}

::slotted(a) {
  @extend %nav-link;
}

// Due to browsers not supporting: ::slotted(a):hover 
// we need to have the hover separated instead of nested
::slotted(a:hover) {
  @extend %nav-link-hover;
}
::slotted(c-social-media) {
  @extend %nav-link-social;
}
::slotted(c-social-media:hover) {
  @extend %nav-link-social-hover;
}

p {
  width: 100%;
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  padding: 50px 10px;
  margin: 0;
  display: block;
}

.navbar {
  flex-direction: column;
  padding: 0;

  .navbar-top {
    width: 100%;
  }

  .navbar-nav {
    text-transform: uppercase;
    font-family: 'Scania Sans';
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
    width: 100%;

    .nav-item {
      &.nav-link {
        @extend %nav-link;

        &:hover,
        &:focus {
          @extend %nav-link-hover;
        }
      }
    }
  }

  .social-media-items {
    display: block;
    padding-left: 10px; /* To cancle out last item margin */
    text-align: center;

    c-social-media {
      @extend %nav-link-social;

      &:hover  {
        @extend %nav-link-social-hover;
      }
    }
  }
}
.navbar-brand {
  display: block;
  width: 100%;
  padding: 30px 10px 0;
  margin: 0;
  background-color: #000;
  text-align: center;

  &:before {
    display: inline-block;
    content: '';
    width: 178px;
    height: 29px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: var(--footer-background-url);
    background-image: url(https://static.scania.com/resources/logotype/scania/scania-wordmark-white.png);
    background-image: url(https://static.scania.com/resources/logotype/scania/scania-wordmark-white.svg);
  }
}


@media (min-width: 992px) {

  %nav-link-desktop {
    text-decoration: none;
    padding: 0;
    margin-right: 15px;
  }
  // Sass compiler renders :hover and :before differently
  // and this is due to browsers lackof support
  %nav-link-hover-desktop {
    text-decoration: underline;
  }
  %nav-link-social-desktop {
    margin-top: 0;
  }

  :host {
    background-color: #000;
    color: #97999b;
    padding: 46px 30px 35px;
  }

  ::slotted(a) {
    @extend %nav-link-desktop;
  }
  // Due to browsers not supporting: ::slotted(a):hover 
  // we need to have the hover separated instead of nested
  ::slotted(a:hover) {
    @extend %nav-link-hover-desktop;
  }
  ::slotted(c-social-media) {
    @extend %nav-link-social-desktop;
  }
  ::slotted(c-social-media a) {
    margin-right: 0;
  }

  p {
    text-align: left;
    padding: 0;
    margin: 15px 0 0;
    font-size: 1rem;
    color: #97999b;
  }

  .navbar {
    flex-direction: row;
    flex-wrap: wrap;

    .navbar-nav {
      margin-top: 0px;

      .nav-item {
        &.nav-link {
          @extend %nav-link-desktop;

          &:hover {
            @extend %nav-link-hover-desktop;
          }
        }
      }
    }
    
    .social-media-items {
      display: flex;
      margin-bottom: 20px;
      padding-left: 0;

      c-social-media {
        @extend %nav-link-social-desktop;
      }
    }
  }

  .navbar-brand {
    display: flex;
    padding: 0;
    height: 0; /* To make the aligning of items/social items work */
    
    &:before {
      margin-left: auto;
    }
  }

}

// handling for hover styling in IE and Edge (should target social-media a:hover)
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  ::slotted(c-social-media a:hover) {
    background-color: white;
    color: black;
    border-color: white;
    border-radius: 22px;
  }
}
@supports (-ms-ime-align:auto) {
  ::slotted(c-social-media a:hover) {
    background-color: white;
    color: black;
    border-color: white;
    border-radius: 22px;
  }
}
