$link-color: #fff;
$link-color-hover: darken($link-color, 100%);

%nav-link {
  color: $link-color; // Fallback for non supported browsers
  color: var(--link-color);
  text-decoration: none;
  padding: 5px;
}
// Sass compiler renders :hover and :before differently
// and this is due to browsers lackof support
%nav-link-hover {
  text-decoration: underline;
}
%nav-link-social {
  background-color: black;
  color: $link-color; // Fallback for non supported browsers
  color: var(--link-color);
  border-color: white;
  margin-bottom: 10px;
}
%nav-link-social-hover {
  background-color: white;
  color: $link-color-hover; // Fallback for non supported browsers
  color: var(--link-color-hover);
  border-color: white;
}

:host {
  --link-color: #{$link-color};
  --link-color-hover: #{$link-color};
  --social-media-color-hover: #{$link-color-hover};

  background-color: #fff;
}

::slotted(a) {
  @extend %nav-link;
}
// Due to browsers not supporting: ::slotted(a):hover 
// we need to have the hover separated instead of nested
::slotted(a:hover) {
  @extend %nav-link-hover;
}
::slotted(c-social-media) {
  @extend %nav-link-social;
}
::slotted(c-social-media:hover) {
  @extend %nav-link-social-hover;
}

p {
  width: 100%;
  font-size: 1rem;
  text-align: center;
  border-top: solid 1px #e7e7e7;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar {
  flex-direction: column;
  padding: 0;

  .navbar-nav {
    text-transform: uppercase;
    margin-top: 0;

    &.social-media-items {
      display: block;
      padding-left: 10px; /* To cancle out last item margin */

      c-social-media {
        @extend %nav-link-social;

        &:hover  {
          @extend %nav-link-social-hover;
        }
      }
    }

    .nav-item {

      &.nav-link {
        @extend %nav-link;

        &:hover,
        &:focus {
          @extend %nav-link-hover;
        }
      }
    }
  }
}
.navbar-brand {
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color: #000;
  text-align: center;

  &:before {
    display: inline-block;
    content: '';
    width: 113px;
    height: 18px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: var(--footer-background-url);
    background-image: url(https://static.scania.com/resources/logotype/scania/scania-wordmark-white.png);
    background-image: url(https://static.scania.com/resources/logotype/scania/scania-wordmark-white.svg);
  }
}
.navbar-collapse {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  padding: 10px;
  white-space: nowrap;
  font-size: 1rem;
  text-align: center;

  &.show + .navbar-toggler {

    &,
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }

  + .navbar-toggler {
    border-radius: 0; /* This should probably be added to btn rules */

    &,
    &:hover {
      color: #000;
    }
  }
}
.navbar-top {
  background-color: #000;
  text-align: center;
  width: 100%;
}
.dropup {
  position: relative;
  text-align: center;
}

@media (min-width: 992px) {

  %nav-link-desktop {
    text-decoration: none;
    padding: 0;
    margin-right: 15px,
  }
  // Sass compiler renders :hover and :before differently
  // and this is due to browsers lackof support
  %nav-link-hover-desktop {
    text-decoration: underline;
  }
  %nav-link-social-desktop {
    margin-bottom: 0;
  }

  :host {
    background-color: #000;
    color: #97999b;
    padding: 46px 30px 35px;
  }

  ::slotted(a) {
    @extend %nav-link-desktop;
  }
  // Due to browsers not supporting: ::slotted(a):hover 
  // we need to have the hover separated instead of nested
  ::slotted(a:hover) {
    @extend %nav-link-hover-desktop;
  }
  ::slotted(c-social-media) {
    @extend %nav-link-social-desktop;
  }
  ::slotted(c-social-media a) {
    margin-right: 0;
  }

  p {
    text-align: left;
    padding: 0;
    border-top: 0;
    margin-top: 15px;
  }

  .navbar {
    flex-direction: row;
    flex-wrap: wrap;

    .navbar-nav {

      &.social-media-items {
        margin-bottom: 20px;
        padding-left: 0;
        order: -1;

        c-social-media {
          @extend %nav-link-social-desktop;
        }
      }

      .nav-item {

        &.nav-link {
          @extend %nav-link-desktop;

          &:hover {
            @extend %nav-link-hover-desktop;
          }
        }
      }
    }
  }
  .navbar-nav {
    font-family: 'Scania Sans';
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .navbar-brand {
    padding: 0;
    width: auto;
    margin-left: auto;
    height: 0; /* To make the aligning of items/social items work */

    &:before {
      width: 178px;
      height: 29px;
    }
  }
  .navbar-collapse {
    position: static;
    transform: none;
    padding: 0;
  }
  .navbar-top {
    display: flex;
  }
}

// handling for hover styling in IE and Edge (should target social-media a:hover)
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  ::slotted(c-social-media a:hover) {
    background-color: white;
    color: black;
    border-color: white;
    border-radius: 22px;
  }
}
@supports (-ms-ime-align:auto) {
  ::slotted(c-social-media a:hover) {
    background-color: white;
    color: black;
    border-color: white;
    border-radius: 22px;
  }
}
