$link-color: #747472;

%nav-link {
  color: var(--link-color);
  padding: 15px;
  text-decoration: none;
}
// Sass compiler renders :hover and :before differently
// and this is due to browsers lackof support
%nav-link-hover {
  text-decoration: underline;
}

:host {
  --link-color: #{$link-color};

  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  background-color: #fff;
  font-family: 'Scania Sans';
  font-size: 1.4rem;
  z-index: 1000;
  padding: 0;
  border-bottom: 1px solid #e2e2e2;
}

::slotted(a) {
  @extend %nav-link;
}
// Due to browsers not supporting: ::slotted(a):hover 
// we need to have the hover separated instead of nested
::slotted(a:hover) {
  @extend %nav-link-hover;
}

c-navigation {
  background-color: #f5f5f5;
}

.navbar {
  flex: 1;
  padding: 0;
  overflow: hidden;
  background-color: inherit;
  z-index: 1;
  border-bottom: 1px solid #e2e2e2;

  .navbar-brand {
    padding: 13px;

    &:before {
      display: block;
      content: '';
      background-image: url('https://static.scania.com/resources/logotype/scania/scania-wordmark.png');
      background-image: url('https://static.scania.com/resources/logotype/scania/scania-wordmark.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 170px;
      height: 28px;
    }
  }
  .navbar-title, &:after {
    font-family: 'Scania Sans Headline';
    font-weight: normal;
    font-size: 1.8rem;
    color: #53565a;
    line-height: 1;
    padding: 0 10px;
    flex: 1;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .navbar-nav {
    font-family: 'Scania Sans';
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #747472;
    margin-top: -10px;

    .nav-item {

      &.nav-link {
        @extend %nav-link;

        &:hover {
          @extend %nav-link-hover;
        }
      }
    }
  }
}
.navbar-default[short-name] {
  .navbar-title {
    display: none;
  }
}
.navbar-symbol {
  padding: 13px;
  border-left: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  background-color: inherit;
  z-index: 1;

  &:before {
    display: block;
    content: '';
    background-image: url('https://static.scania.com/resources/logotype/scania/scania-symbol.png');
    background-image: url('https://static.scania.com/resources/logotype/scania/scania-symbol.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 37px;
  }
}
.navbar-toggler {
  border-width: 0 1px 0 0;
  border-color: #e2e2e2;
  padding: 13px;

  &-icon {
    // This make the icon the same size as the logotype, making it easier to handle the parent element padding needed
    margin: 8px;
  }
}

@media (min-width: 992px) {

  :host {
    position: sticky;
    top: -84px;
  }

  ::slotted(c-navigation),
  c-navigation {
    background-color: transparent;
    border-top: 1px solid #e2e2e2;
  }

  .navbar-default {
    padding: 19px 11px 10px;
    margin-right: 20px;
    border-bottom: 0;

    .navbar-brand {
      margin-left: 6px;
      margin-right: 2px;
    }
    .navbar-title {
      text-align: left;
      border-left: 1px solid #e2e2e2;
      padding-left: 15px;
    }
    &[short-name] {
      .navbar-title{
        display:inline-block;
      }
      &:after {
        display: none;
      }
    }
  }
  
  .navbar-symbol {
    position: sticky;
    top: 0;
    margin-top: 8px;
    margin-right: 12px;
    margin-bottom: 2px;
    border-left: 0;
    border-bottom: 0;
    background-color: transparent;

    &:before {
      width: 48px;
      height: 46px;
    }
  }
}
