:host {
  background-color: #f5f5f5;
}

%nav-link {
  padding: 10px 25px;
  color: #909090;
  text-decoration: none;
}
// Sass compiler renders :hover and :before differently
// and this is due to browsers lackof support
%nav-link-hover {
  color: #041e42;
}
%nav-link-separator {
  border-top: 1px solid #e2e2e2;
}

::slotted(a) {
  @extend %nav-link;
}
// Due to browsers not supporting: ::slotted(a):hover 
// we need to have the hover separated instead of nested
::slotted(a:hover),
::slotted(a.active),
::slotted(a[active]) {
  @extend %nav-link-hover;
}
::slotted(a:not(:first-child)) {
  @extend %nav-link-separator;
}

ul {
  margin: 0;
}

.navbar {
  font-family: 'Scania Sans';
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0;

  .navbar-nav {

    .nav-item {

      &.nav-link {
        @extend %nav-link;

        &:hover,
        &.active,
        &[active] {
          @extend %nav-link-hover;
        }
      }

      + .nav-item {
        @extend %nav-link-separator;
      }
    }
  }
}
.navbar-collapse {
  transition: max-height 550ms ease-in;
  max-height: 100vh;
  overflow: hidden;

  &:not(.show) {
    display: block;
    max-height: 0;
  }

  + .navbar-collapse {
    border-top: 1px solid #e2e2e2;
  }
}

@media (min-width: 992px) {

  %nav-link-desktop {
    padding: 20px 0;

    &:before,
    &:after {
      content: "";
      padding: 0 15px;
    }
  }
  %nav-link-separator-desktop {
    border-top: none;
  }
  %nav-link-separator-desktop-before {
    border-left: 1px solid #e2e2e2;
  }

  :host {
    background-color: #fff;
  }

  ::slotted(a) {
    @extend %nav-link-desktop;
  }
  ::slotted(a:not(:first-child)) {
    @extend %nav-link-separator-desktop;

    &:before {
      @extend %nav-link-separator-desktop-before;
    }
  }
  ::slotted(a[slot="secondary-items"]):before {
    border-left: 0;
  }
  ::slotted(a[slot="secondary-items"]:not(:last-child)):after {
    border-right: 1px solid #e2e2e2;
  }

  .navbar {

    .navbar-nav {

      .nav-item {
        border-top: 0;

        &.nav-link {
          @extend %nav-link-desktop;

          + .nav-link:before {
            @extend %nav-link-separator-desktop-before;
          }
        }

        + .nav-item {
          @extend %nav-link-separator-desktop;
        }
      }
    }
    .navbar-collapse {
      max-height: none;

      + .navbar-collapse {
        overflow: visible;
        border-top: 0;
      }
    }
  }
}
