<!--

`c-main-content` is used as a container element for the whole application/page

@dev


-->

<style>
  html,
  body {
    height: 100%;
  }

  /* TODO - Go through these stuff and place them in better fitting place... */
  img {
    width: 100%;
  }
  .light {
    background-color: #fff;
  }
  c-main-content.light > section {
    background-color: #fff;
  }
  .dark {
    background-color: #eee;
  }
  c-main-content.dark > section {
    background-color: #eee;
  }
  .well {
    padding: 60px;
  }
  .btn-default {
    /*color: #fff;
    background-color: #041e42;
    border-color: #03132a;*/
  }
  .box {
    background-color: #fff;
    border: 1px solid #dadada;
  }
  article.row {
    margin: 0;
  }
  article.row > div {
    padding: 0;
  }
  article.row > div.text {
    padding: 60px;
  }
  /* thhese should be moved to specific component later */
  /*article:nth-child(odd) {
    direction: rtl;
  }
  article:nth-child(odd) > div {
    direction: ltr;
  }*/
  /*[class*=col-] {
    width: 100%;
  }*/

  /*  */
  .grid .row {
    display: table;
    margin-top: 15px;
    margin-left: -7px;
    margin-right: -7px;
  }
  .grid .row:first-child {
    margin-top: 0;
  }
  .grid .row > div {
    display: table-cell;
    float: none;
    vertical-align: middle;
    overflow: hidden;
    padding-left: 7px;
    padding-right: 7px;
  }
  .grid .row > div > * {
    margin: -40px 0;
  }

  /* Grid related style */
  c-main-content .row.text-middle {
    font-size: 0;
  }
  c-main-content .row.text-middle > div {
    display: inline-block;
    float: none;
    vertical-align: middle;
    font-size: medium;
  }
  c-main-content .row.products {
    /*margin-left: -30px;
    margin-right: -30px;*/
  }
  c-main-content .row.products > div {
    padding-left: 30px;
    padding-right: 30px;
  }
  c-main-content .row.products a:after {
    font-family: 'corporate-icons';
    content: "\e6e9";
    color: #c50918;
    padding-left: 6px;
  }

  @media (max-width: 767px) {
    .grid .container {
      padding-left: 0;
      padding-right: 0;
      overflow: hidden;
    }
    .grid .row {
      margin-top: 0;
    }
    .grid .row > div {
      display: inline-block;
      margin-top: 15px;
    }
    .grid .row > div > * {
      margin: 0;
    }
  }

  /* Media rules */
  @media (max-width: 991px) {
    /*h1 { font-size: 2em; }
    h2 { font-size: 1.7em; }
    h3 { font-size: 1.5em; }
    h4 { font-size: 1em; }
    h5 { font-size: 0.8em; }*/

    body.navigation-open {
      overflow: hidden;
    }
  }
  @media (max-width: 767px) {
    .well {
      padding: 30px;
    }

    /*h1 { font-size: 1.6em; }
    h2 { font-size: 1.4em; }
    h3 { font-size: 1.2em; }
    h4 { font-size: 1em; }
    h5 { font-size: 0.8em; }*/
  }
</style>

<dom-module id="c-main-content">
  <template>
    <style>
      /* Main content */

      :host {
        display: block;
        min-height: 100%;
        /*font-size: 16px;*/
        word-break: break-word;

        ::content > section {
          padding: 60px 0;
          overflow: hidden;

          &:nth-child(odd) {
            background-color: #eee;
          }
          &.even:nth-child(odd) {
            background-color: transparent;
          }
          &.even:nth-child(even) ~:nth-child(odd) {
              background-color: transparent;
          }
          &.even:nth-child(even) ~:nth-child(even) {
              background-color: #eee;
          }
          &.even:nth-child(odd) ~:nth-child(even) {
              background-color: transparent;
          }
          &.even:nth-child(odd) ~:nth-child(odd) {
              background-color: #eee;
          }
          &.light {
            background-color: transparent !important;
          }
          &.dark {
            background-color: #eee !important;
          }
        }
      }
    </style>

    <content></content>
  </template>

  <script>
    Polymer({
      is: 'c-main-content',
      properties: {
        variation: 0,
        fullbleed: {
          type: Boolean,
          value: true
        }
      },
      attached: function(elm) {
        var header  = document.querySelector('c-corporate-header'),
            main    = document.querySelector('c-main-content'),
            content = main.querySelector('.content'),
            footer  = document.querySelector('c-corporate-footer'),
            pageref = window.location.pathname,
            lastPos = CorporateUi.readCookie(pageref) || '0:0',
            component = elm || this,
            headerHeight = header.getBoundingClientRect().height,
            footerHeight = footer.getBoundingClientRect().height;

        if (!window.onresize) {
          window.onresize = function() {
            component.attached(component);
          }
        }

        /* Wait for everything to be loaded before continuing */
        if (!(header && headerHeight && component && footer)) {
          setTimeout(function() {
            component.attached(component);
          }, 10);
          return;
        }

        $(component).css({
          'padding-top'     : headerHeight,
          'margin-top'      : headerHeight * -1,
          'padding-bottom'  : footerHeight,
          'margin-bottom'   : footerHeight * -1
        });
      }
    });
  </script>
</dom-module>

<link rel="import" href="variation-1.html">
