
<link rel="import" href="../../Contact/contact-us/contact-us.html">

<!--
___

<demo>
  <c-article-grid>
    <c-article-item x="4" y="8" img="https://static.scania.com/resources/images/demo/C025_Tiled_Display_17.jpg" title="Wirelessly charged city buses" subtitle="Innovation">
      <p>Phil Sampson charts Scania`s history over the past 50 years.</p>
    </c-article-item>
    <c-article-item x="8" y="4" img="https://static.scania.com/resources/images/demo/C025_Tiled_Display_18.jpg" title="Take control" subtitle="Sustainability">
      <p>Phil Sampson charts Scania`s history over the past 50 years.</p>
    </c-article-item>
    <c-article-item x="4" y="4" img="https://static.scania.com/resources/images/demo/C025_Tiled_Display_19.jpg" title="Keeping safe on the road" Subtitle="Innovation">
      <p>Phil Sampson charts Scania`s history over the past 50 years.</p>
    </c-article-item>
    <c-article-item x="4" y="4" img="https://static.scania.com/resources/images/demo/C025_Tiled_Display_20.jpg" title="In it for the long haul" subtitle="Stories">
      <p>Phil Sampson charts Scania`s history over the past 50 years.</p>
    </c-article-item>
  </c-article-grid>
</demo>

___

-->

<dom-module id="c-article-grid-variation-1">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <content></content>

  </template>
  <script>

    Polymer({
      is: 'c-article-grid-variation-1'
    }); 

  </script>

</dom-module>
