
extends ../../../component

prepend comment
  include comment.md

block demo
  include demo.html

append dependencies
  link(rel="import" href="../iron-jsonp-library/iron-jsonp-library.html")

append template
  include template.html

block script
  include script.js

