extends ../../component

append dependencies
  link(rel="import" href="variation-1.html")
  link(rel="import" href="sub-navigation/sub-navigation.html")
  script(src="/vendors/frameworks/jQuery/2.2.2/dist/jquery.js")
  script(src="/vendors/frameworks/bootstrap/3.2.0/dist/js/bootstrap.js")

block comment
  include comment.md

block style
  include style.css

append template
  include template.html

block script
  include script.js