extends ../../component

append dependencies
  link(rel="import" href="variation-1.html")
  link(rel="import" href="../../Bootstrap/navbar/nav-item/nav-item.html")
  link(rel="import" href="sub-navigation/sub-navigation.html")
  link(rel="import" href="../fullscreen/fullscreen.html")
  script(src="/vendors/frameworks/bootstrap.native/2.0.21/dist/bootstrap-native.js")

block comment
  include comment.md

block style
  include style.css

append template
  include template.html

block script
  include script.js