<div class="nav-container">
  <nav class="navbar navbar-default">
    <div class="extra-level">
      <c-nav-item location="#main-nav" class="navbar-toggle collapsed" data-toggle="collapse"><span class="icon-expander"></span></c-nav-item>
    </div>

    <div class="navbar-collapse collapse" id="main-nav">
      <div class="nav-collapse-container">

        <div class="top-level">
          <c-navbar class="navbar-left">
            <content select="primary-items"></content>
          </c-navbar>

          <c-navbar class="navbar-right">
            <!-- <template is="dom-if" if="{{showSearch}}">
              <c-nav-item>
                <span class="icon-search"></span>
              </c-nav-item>
            </template>

            <template is="dom-if" if="{{dealerLocator}}">
              <c-nav-item class="dealer-locator">
                <a href="https://www.scania.com/global/en/home/dealer-locator.html">
                  <span class="scania-icon-find-a-dealer"></span> 
                  <span>Återförsäljare</span>
                </a>
              </c-nav-item>
            </template> -->

            <!-- <secondary-nav-item>
              <span id="maximize-button">
                <span class="icon-close-svg"></span>
                <span class="explainatory-text">Hide</span>
              </span>
            </secondary-nav-item> -->

            <content select="secondary-items"></content>
          </c-navbar>
        </div>
      </div>
    </div>

    <div class="navbar-footer">
      <content select="mobile-footer-items"></content>
    </div>
  </nav>
</div>