<!-- <div class="nav-container">
  <nav class="navbar navbar-default">
    <div class="extra-level">
      <nav-item location="#main-nav" class="navbar-toggle collapsed" data-toggle="collapsed">
        <span class="icon-expander"></span>
      </nav-item>
    </div>

    <div class="navbar-collapse collapse" id="main-nav">
      <div class="nav-collapse-container">
        <div class="top-level">
          <c-navbar class="navbar-left">
            <content select="primary-items"></content>
          </c-navbar>

          <c-navbar class="navbar-right">
            <content select="secondary-items"></content>
          </c-navbar>
        </div>
      </div>
    </div>

    <div class="navbar-footer">
      <content select="mobile-footer-items"></content>
    </div>
  </nav>
</div> -->

<nav class="navbar navbar-default">
  <div class="collapse navbar-collapse" id="main-navigation">
    <content select="primary-items"></content>
    <content select="secondary-items"></content>
  </div>
  <!-- <div class="collapse navbar-collapse portal-nav-level-two collapse">
    <ul class="nav navbar-nav" data-id="nav-level-two-developer">
      <li data-id="developer-getting-started"><a href="developer-getting-started.html">Getting Started</a></li>
      <li data-id="developer-css"><a href="developer-css.html">CSS</a></li>
      <li data-id="developer-components" class="active"><a href="developer-components.html">Components</a></li>
      <li data-id="developer-javascript"><a href="developer-javascript.html">Javascript</a></li>
      <li data-id="developer-icons"><a href="developer-icons.html">Icons</a></li>
      <li data-id="developer-scania-bootstrap-classes"><a href="developer-scania-bootstrap-classes.html">Scania Bootstrap classes</a></li>
      <li data-id="developer-print"><a href="developer-print.html">Print</a></li>
      <li data-id="developer-support"><a href="developer-support.html">Support</a></li>
      <li data-id="developer-recommended-tools"><a href="developer-recommended-tools.html">Recommended tools</a></li>
      <li data-id="developer-coding-standard"><a href="developer-coding-standard.html">Coding standard</a></li>
    </ul>
  </div> -->
</nav>