<link rel="import" href="variation-1.html">

<!--

`c-news-and-events-listing` is used to list News & Events content by date order.

@dev

### Todo ###

- fix select arrows on second click

-->

<dom-module id="c-news-and-events-listing">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container wrapping">
      <div class="ne-container container">
        <content select="filter-menu"></content>

        <div class="row ne-content">
          <content></content>
        </div>
      </div>
    </div>
  </template>

  <script>
    Polymer({
        is: 'c-news-and-events-listing'
      });
  </script>
</dom-module>

<!---->

<dom-module id="news-and-events-item">
  <style>
    :host {
      .ne-tile {
          padding: 40px 19px 0 19px !important;
          margin-bottom: 55px;

        .ne-date {
          font-size: 14px;
          margin: 14px 0 0 0;
          letter-spacing: 1px;
          display: inline-block;
          color: #747472;
          text-transform: uppercase;    
          font-family: "Scania Sans Bold", Helvetica, Arial, sans-serif;
        }
        .ne-label {
          letter-spacing: 1.3px;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
            color: @brand-primary; 
          }
          &:after {
            content: " \e6e5";
            font-family: 'corporate-icons';
            color: @brand-danger;
          }
        }
      }
    }

  </style>

  <template>
    <div class="col-sm-6 col-md-4 ne-tile">
      <img src$="{{image}}" class="img img-responsive">
      <span class="ne-date">{{date}}</span>
      <h4 class="ext-bold"><content></content></h4>
      <a class="ne-label" hrf="{{link}}">{{ctalabel}}</a>
    </div>
  </template>

  <script>
  Polymer({
      is: 'news-and-events-item',
      properties: {
        /* Date */
        date: String,
        /* Label for link to article */
        ctalabel: String,
        /* Link to article */
        link: String,
        /* Image */
        image: String
      }
    });
  </script>
</dom-module>

<!---->

<dom-module id="filter-menu">
  <style>
    :host {
      color: @brand-primary;
      font-family: "Scania Sans Bold", Helvetica, Arial, sans-serif;
      text-align: center;

      .filter-container {

        @media (min-width: 992px) {
          max-width: 784px;
          margin: 0 auto;
        }

        @media (max-width: 993px) {
          width: 100%;
          margin: 0;
          @media (min-width: 767px) {
            padding: 0 15px;
          }
        }
      }
    }

  </style>
  
  <template>
    <div class="filter-container">
      <content></content>
    </div>
  </template>

  <script>
  Polymer({
    is: 'filter-menu',
  });
    
  </script>

</dom-module>

<!---->

<dom-module id="filter-item">
  <style>

    :host {
      
      .btn-group {
        padding: 0 2px;
        @media (max-width: 993px) {
          margin-bottom: 20px;
          width: 100%;
        }

        button.btn-select {
          width: 100%;
          background-color: #fff;
          text-align: left;
            border: solid 1px @framework-grey5; 
            font-size: 15px;
            padding: 10px 10px;
            border-radius: 0;
            text-transform:none;
            &:after {
            content: '\e671';
            float: right;
            font-family: 'corporate-icons';
          }
            &:focus, &:active {
              outline: none;
              &:after {
              content: '\e670';
            }
            }
        }

        ul.dropdown-menu {
          padding: 0;
          margin: 0;
          width: 100%;
          border-radius: 0;
          & > li {
            & > a {
                padding: 10px;
                text-transform: none; 
                font-size: 15px;
            
              &:hover, &:active, &:focus {
                color: #fff;
                  background: @brand-primary; 
              }
            }
          }
        }
        
      }

    }
  </style>
  
  <template>

    <div class="dropdown col-md-4 btn-group">
        <button id$="{{label}}" class="btn-select" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span data-bind="label">{{label}}</span></button>
        <ul class="dropdown-menu" aria-labelledby$="{{label}}">
          <li><a href="">{{label}}</a></li>
          <template is="dom-repeat" items="{{optionsdata}}">
            <li><a href="{{item.link}}">{{item.title}}</a></li>
          </template>
        </ul>
    </div>
    
  </template>

  <script>
    Polymer({
      is: 'filter-item',
      properties: {
        /* Label for filter options */
        label: {
          type: String,
          value: 'FilterLabel'
        },
        /* Options input String data on form "Option1, LinkOption1, Option2, LinkOption2" and so on */
        options: String,
        /* Options data computed into array */
        optionsdata: {
          type: Array,
          computed: 'setoptions(options)'
        }
      },
      setoptions: function(options) {
        var arr = this.options.split(", ");
        var arrdata = [];

        for (i=0; i<arr.length; i+=2) {
          arrdata.push({title: arr[i], link: arr[i+1]});
        }

        return arrdata;
      }
    });

    $( document.body ).on( 'click', '.dropdown-menu li', function( event ) {
      event.preventDefault();
      var $target = $( event.currentTarget );

      $target.closest( '.btn-group' )
         .find( '[data-bind="label"]' ).text( $target.text() );

      return true;
    });

    $(document).ready(function() {
      $('.btn-select').click(function() {
        if($(this).is(":focus")) {
          $(this).blur();
        }
      });

      $('.dropdown').on('show.bs.dropdown', function(e){
        $(this).find('.dropdown-menu').first().stop(true, true).slideDown();
      });

      $('.dropdown').on('hide.bs.dropdown', function(e){
        $(this).find('.dropdown-menu').first().stop(true, true).slideUp();
      });
    });
  </script>
</dom-module>

<!---->

<dom-module id="lm-button">
  <style>
    :host {
      .center-text {
        text-align: center;
      }
    }
  </style>
  <template>
    <div class="col-xs-12 center-text">
      <button class=" btn btn-primary"><content></content></button>
    </div>
  </template>

  <script>
    Polymer({
      is: 'lm-button'
    });   
  </script>
</dom-module>

<!---->

<dom-module id="headline-label">
  <template>
    <div class="col-xs-12">
      <h2 class="ext-bold"><content></content></h2>
    </div>
  </template>

  <script>
    Polymer({
      is: 'headline-label'
    });   
  </script>
</dom-module>