
<link rel="stylesheet" href="https://static.scania.com/vendors/frameworks/bootstrap/3.2.0/dist/css/bootstrap-org.css">
<link rel="stylesheet" href="https://static.scania.com/build/global/3.5.2/css/corporate-ui.css">
<link rel="stylesheet" href="https://scania.github.io/corporate-ui-docs/developer/css/scania-bootstrap-docs.css">

<div class="scania app">
  <section>
    <article>
      <h1 id="corporate-ui-installation-overview">Introduction</h1>
      <p class="lead">Get started with Corporate UI, the design system based on the popular Bootstrap framework and that's extended with tailor made Corporate UI Custom Elements.</p>
      <div>
        <a href="https://github.com/scania/corporate-ui" target="_blank"><img src="https://scania.github.io/corporate-ui-docs/developer/img/github-logo.png" alt="" border="0" height="41" width="100" style="max-width: 100px; margin-left: 20px; margin-right: 8px;"></a><a href="https://github.com/scania/corporate-ui">Corporate UI is 100% open source, available at GitHub.</a>
      </div>
      <div>
      <a href="https://corporate-ui.slack.com" target="_blank"><img src="https://scania.github.io/corporate-ui-docs/developer/img/slack-white_logo.png" alt="" border="0" height="100" width="130" style="max-width: 130px;"></a><a href="https://corporate-ui.slack.com">Via Slack you'll reach the Corporate UI core team as well as many developers using and contributing to the framework.</a>
      </div>

      <h2 id="quick-start">Quick start<a class="anchorjs-link" href="#quick-start" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></h2>

      <p>Looking to quickly add Corporate UI to your project? Use our CloudFront CDN. Want to use a package manager? <a href="mailto:corporate-ui@scania.com">Contact us</a> to participate in the final tests of the NPM package.</p>

      <h3>Quick Install</h3>

      <p>Copy-paste the Corporate UI initializer <code class="highlighter-rouge">&lt;script&gt;</code> just before the <code class="highlighter-rouge">&lt;/head&gt;</code> tag.</p>

      <div class="highlight">
        <pre><code class="language-html" data-lang="html">
<span class="nt">&lt;script</span> <span class="na">src=</span><span class="s">"https://static.scania.com/build/global/3.5.2/js/corporate-ui.js"</span><span class="nt">&gt;</span>
        </code></pre>
      </div>

      <h3 id="js">About our JavaScripts<a class="anchorjs-link " href="#js" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></h3>

      <p>All of our components and custom elements are using native JavaScripts to function. Therefore, there is no need to load extra libraries for it to work. We've replaced Bootstraps jQuery Components with the <a href="https://thednp.github.io/bootstrap.native/" target="_blank">Bootstrap Native JS Library</a>. Some features is triggered a little bit different but it's an easy upgrade.</p>

      <h3 id="redux">State management with Redux<a class="anchorjs-link " href="#js" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></h3>

      <p>You'll be able to access any data that our custom elements collects or updates via the Corporate UI Redux Store. If you're in need of a more diverse state management overall, please contact us and we can find can find a process that works for you. <a href="https://redux.js.org/faq/general" target="_blank">Learn more...</a></p>

      <h2 id="starter-template">Starter template<a class="anchorjs-link " href="#starter-template" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></h2>

      <p>Be sure to have your pages set up with the latest design and development standards. That means using an HTML5 doctype and including a viewport meta tag for proper responsive behaviors. Put it all together and your basic Corporate UI page should look like this:</p>

      <div class="highlight">
        <pre><code class="language-html" data-lang="html">
<span class="cp">&lt;!DOCTYPE html&gt;</span>
<span class="nt">&lt;html</span> <span class="na">lang=</span><span class="s">"en"</span><span class="nt">&gt;</span>
<span class="nt">&lt;head&gt;</span>
<span class="nt">&lt;meta</span> <span class="na">content=</span><span class="s">"X-UA-Compatible"</span> <span class="na">http-equiv=</span><span class="s">"IE=edge"</span><span class="nt">&gt;</span>
<span class="nt">&lt;noscript&gt;</span><span class="nt">&lt;meta</span> <span class="na">content=</span><span class="s">"0;url=https://static.scania.com/vendors/components/pure-js/nonJS-browsers/1.0.0/nonJS-browsers.html"</span> <span class="na">http-equiv=</span><span class="s">"refresh"</span><span class="nt">&gt;</span><span class="nt">&lt;/noscript&gt;</span>
<span class="nt">&lt;script</span> <span class="na">src=</span><span class="s">"https://static.scania.com/vendors/components/pure-js/browser-reject/1.0.0/js/browser-reject.js"</span><span class="nt">&gt;</span>
<span class="nt">&lt;meta</span> <span class="na">charset=</span><span class="s">"utf-8"</span><span class="nt">&gt;</span>
<span class="nt">&lt;meta</span> <span class="na">name=</span><span class="s">"viewport"</span> <span class="na">content=</span><span class="s">"width=device-width, initial-scale=1, shrink-to-fit=no"</span><span class="nt">&gt;</span>
<span class="nt">&lt;title&gt;</span>Corporate UI Sample Page<span class="nt">&lt;/title&gt;</span>
<span class="nt">&lt;script</span> <span class="na">src=</span><span class="s">"https://static.scania.com/build/global/3.5.2/js/corporate-ui.js"</span><span class="nt">&gt;</span>    
<span class="nt">&lt;/head&gt;</span>
<span class="nt">&lt;body</span> <span class="na">class=</span><span class="s">"scania app"<span class="nt">&gt;</span>   
<span class="nt">&lt;c-corporate-header</span> <span class="na">site-name=</span><span class="s">"My application name"</span> <span class="na">short-name=</span><span class="s">"My app"</span><span class="na"> site-url=</span><span class="s">"/"</span><span class="nt">&gt;</span>
<span class="nt">&lt;nav-item</span> <span class="na">location=</span><span class="s">"#"<span class="nt">&gt;</span>Optional<span class="nt">&lt;/nav-item<span class="nt">&gt;</span>
<span class="nt">&lt;nav-item</span> <span class="na">location=</span><span class="s">"#"<span class="nt">&gt;</span>User Menu<span class="nt">&lt;/nav-item<span class="nt">&gt;</span>
<span class="nt">&lt;/c-corporate-header<span class="nt">&gt;</span>
<span class="nt">&lt;c-main-content</span><span class="nt">&gt;</span> 
<span class="nt">&lt;c-main-navigation<span class="nt">&gt;</span>
<span class="nt">&lt;primary-items<span class="nt">&gt;</span>
<span class="nt">&lt;nav-item</span> <span class="na">location=</span><span class="s">"#"<span class="nt">&gt;</span>Home<span class="nt">&lt;/nav-item<span class="nt">&gt;</span>
<span class="nt">&lt;nav-item</span> <span class="na">location=</span><span class="s">"#"<span class="nt">&gt;</span>Style Guide<span class="nt">&lt;/nav-item<span class="nt">&gt;</span>
<span class="nt">&lt;sub-navigation</span> <span class="na">caption=</span><span class="s">"Style Guide"<span class="nt">&gt;</span>
  <span class="nt">&lt;nav-item</span> <span class="na">location=</span><span class="s">"#"<span class="nt">&gt;</span>Logotype<span class="nt">&lt;/nav-item<span class="nt">&gt;</span>
  <span class="nt">&lt;nav-item</span> <span class="na">location=</span><span class="s">"#"<span class="nt">&gt;</span>Icons<span class="nt">&lt;/nav-item<span class="nt">&gt;</span>
<span class="nt">&lt;/sub-navigation<span class="nt">&gt;</span>
<span class="nt">&lt;/nav-item<span class="nt">&gt;</span>    
<span class="nt">&lt;/primary-items<span class="nt">&gt;</span>
<span class="nt">&lt;secondary-items<span class="nt">&gt;</span>
Secondary items are optional, more information below.
<span class="nt">&lt;/secondary-items<span class="nt">&gt;</span>
<span class="nt">&lt;/c-main-navigation<span class="nt">&gt;</span>
<span class="nt">&lt;section</span><span class="nt">&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container-fluid"<span class="nt">&gt;</span>

Your application goes here. If you are using .container-fluid,<br>
your page will take the whole browser width. <br>
Using .container, it will give you margins on wider screens.

<span class="nt">&lt;/div</span><span class="nt">&gt;</span>
<span class="nt">&lt;/section</span><span class="nt">&gt;</span>
<span class="nt">&lt;/c-main-content<span class="nt">&gt;</span>

<span class="nt">&lt;c-corporate-footer</span><span class="nt">&gt;</span>
<span class="nt">&lt;c-social-media</span><span class="nt">&gt;</span>
<span class="nt">&lt;nav-item</span> <span class="na">icon=</span><span class="s">"facebook"<span class="nt"> <span class="na">location=</span><span class="s">"#" <span class="na">onclick=</span><span class="s">"window.open('https://www.facebook.com/scaniagroup/')"<span class="nt"><span class="nt">&gt;</span><span class="nt">&lt;/nav-item<span class="nt">&gt;</span>
<span class="nt">&lt;nav-item</span> <span class="na">icon=</span><span class="s">"twitter"<span class="nt"> <span class="na">location=</span><span class="s">"#"<span class="nt">&gt;</span><span class="nt">&lt;/nav-item<span class="nt">&gt;</span>
<span class="nt">&lt;nav-item</span> <span class="na">icon=</span><span class="s">"youtube"<span class="nt"> <span class="na">location=</span><span class="s">"#"<span class="nt">&gt;</span><span class="nt">&lt;/nav-item<span class="nt">&gt;</span>
<span class="nt">&lt;nav-item</span> <span class="na">icon=</span><span class="s">"linkedin"<span class="nt"> <span class="na">location=</span><span class="s">"#"<span class="nt">&gt;</span><span class="nt">&lt;/nav-item<span class="nt">&gt;</span>         
<span class="nt">&lt;/c-social-media</span><span class="nt">&gt;</span>
<span class="nt">&lt;nav-item</span> <span class="na">location=</span><span class="s">"#"<span class="nt">&gt;</span>Legal notice<span class="nt">&lt;/nav-item<span class="nt">&gt;</span>
<span class="nt">&lt;nav-item</span> <span class="na">location=</span><span class="s">"#"<span class="nt">&gt;</span>Privacy statement<span class="nt">&lt;/nav-item<span class="nt">&gt;</span>
<span class="nt">&lt;nav-item</span> <span class="na">location=</span><span class="s">"#"<span class="nt">&gt;</span>Cookies<span class="nt">&lt;/nav-item<span class="nt">&gt;</span>
<span class="nt">&lt;nav-item</span> <span class="na">location=</span><span class="s">"#"<span class="nt">&gt;</span>Contact us<span class="nt">&lt;/nav-item<span class="nt">&gt;</span>  
<span class="nt">&lt;/c-corporate-footer</span><span class="nt">&gt;</span>
<span class="nt">&lt;/body</span><span class="nt">&gt;</span>
<span class="nt">&lt;/html</span><span class="nt">&gt;</span>
      </span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></code></pre>

      <p>That’s all you need for overall page requirements. Feel free to download a  <a href="template-cards.html">Sample Page</a> containg the code above, some filters and a few cards.</p>

      <h2 id="important-globals">Important globals<a class="anchorjs-link " href="#important-globals" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></h2>

      <p>Corporate UI employs a handful of important global styles and settings that you’ll need to be aware of when using it, all of which are almost exclusively geared towards the <em>normalization</em> of cross browser styles. Let’s dive in.</p>

      <h3 id="html5-doctype">HTML5 doctype<a class="anchorjs-link " href="#html5-doctype" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></h3>

      <p>Corporate UI requires the use of the HTML5 doctype. Without it, you’ll see some funky incomplete styling, but including it shouldn’t cause any considerable hiccups.</p>

      <div class="highlight">
        <pre><code class="language-html" data-lang="html">
<span class="cp">&lt;!DOCTYPE html&gt;</span>
<span class="nt">&lt;html</span> <span class="na">lang=</span><span class="s">"en"</span><span class="nt">&gt;</span>
...
<span class="nt">&lt;/html&gt;</span>
        </code></pre>
      </div>

      <h3 id="responsive-meta-tag">Responsive meta tag<a class="anchorjs-link " href="#responsive-meta-tag" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></h3>

      <p>Corporate UI is developed <em>mobile first</em>, a strategy in which we optimize code for mobile devices first and then scale up components as necessary using CSS media queries. To ensure proper rendering and touch zooming for all devices, <strong>add the responsive viewport meta tag</strong> to your <code class="highlighter-rouge">&lt;head&gt;</code>.</p>

      <div class="highlight">
        <pre><code class="language-html" data-lang="html">
<span class="nt">&lt;meta</span> <span class="na">name=</span><span class="s">"viewport"</span> <span class="na">content=</span><span class="s">"width=device-width, initial-scale=1, shrink-to-fit=no"</span><span class="nt">&gt;</span>
        </code></pre>
      </div>

      <h3 id="box-sizing">Box-sizing<a class="anchorjs-link " href="#box-sizing" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></h3>

      <p>For more straightforward sizing in CSS, we switch the global <code class="highlighter-rouge">box-sizing</code> value from <code class="highlighter-rouge">content-box</code> to <code class="highlighter-rouge">border-box</code>. This ensures <code class="highlighter-rouge">padding</code> does not affect the final computed width of an element, but it can cause problems with some third party software like Google Maps and Google Custom Search Engine.</p>

      <p>On the rare occasion you need to override it, use something like the following:</p>

      <div class="highlight">
        <pre><code class="language-css" data-lang="css">
<span class="nc">.selector-for-some-widget</span> <span class="p">{</span>
<span class="nl">box-sizing</span><span class="p">:</span> <span class="n">content-box</span><span class="p">;</span>
<span class="p">}</span>
        </code></pre>
      </div>

      <p>With the above snippet, nested elements—including generated content via <code class="highlighter-rouge">::before</code> and <code class="highlighter-rouge">::after</code>—will all inherit the specified <code class="highlighter-rouge">box-sizing</code> for that <code class="highlighter-rouge">.selector-for-some-widget</code>.</p>

      <p>Learn more about <a href="https://css-tricks.com/box-sizing/">box model and sizing at CSS Tricks</a>.</p>

      <h2 id="important-globals">Important Javascript files<a class="anchorjs-link " href="#important-js-files" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></h2>

      <p>In the head section we handle what happends both when a user has <a href="https://static.scania.com/vendors/components/pure-js/nonJS-browsers/1.0.0/nonJS-browsers.html">disabled his browsers Javascript encoding</a> as well as re-directing older browsers to <a href="https://static.scania.com/vendors/components/pure-js/browser-reject/1.0.0/outdated-browser.html">an explaination and instructions</a> of how to install a modern browser.</p>

      <h2 id="community">Community<a class="anchorjs-link " href="#community" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></h2>

      <p>Stay up to date on the development of Corporate UI and reach out to the community with these helpful resources.</p>

      <ul>
        <li>Found issues or want to suggest a feature? <a href="https://github.com/scania/corporate-ui/issues/new/choose">Report them at GitHub</a>.</li>
        <li>Join <a href="https://corporate-ui.slack.com">the official Slack room</a>.</li>
        <li>Implementation help for JavaScript components can be found at <a href="https://thednp.github.io/bootstrap.native/index.html"><code class="highlighter-rouge">Bootstrap Native</code></a>.</li>
      </ul>       
    </article>
  </section>
</c-content>
