
<!--
___

### Variation-1

Variation 1

<demo>
  <c-teaser variation="1" headline="Increase Productivity" description="Molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et.">
    <c-teaser-item headline="Life at Scania" image="https://static.scania.com/resources/images/demo/truck-tires-mud.png">
      Scania’s spirit of leadership is built upon shared and inclusive core values. This creates a unique climate where our employees enjoy taking on responsibility – and the chance to develop and realise their potential.
    </c-teaser-item>
    <c-teaser-item headline="Tackle Fuel Efficiency" image="https://static.scania.com/resources/images/demo/highway-interchange.png" link="#test" link-text="Learn more">
      Molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et.
    </c-teaser-item>
  </c-teaser>
</demo>

___
-->

<dom-module id="c-teaser-variation-1">
  <template>
    <style>
      /* Teaser variation1 */

      :host {
        display: block;

        ::content {

          .teaser-items {
            border: 1px solid #dadada;
            margin: 0;
          }
          c-teaser-item {
            width: 50%;
            padding: 0;

            &:nth-child(odd) {
              border-right: 1px solid #dadada;
            }
            &:nth-child(even) {
              border-left: 1px solid #dadada;
              margin-left: -1px;
            }

            .teaser-info {
              margin: 60px 110px;
            }
          }
        }
      }
    </style>

    <content></content>

  </template>

  <script>
    Polymer({
      is: 'c-teaser-variation-1'
    });
  </script>
</dom-module>
