
<!--
___

### Variation-3

Variation 3

<demo>
    <c-teaser variation="3">
      <c-teaser-item headline="Distinct. Dynamic. Sharper than ever" image="https://static.scania.com/resources/images/demo/scania-fancy-logo.png" image-text="You deserve attention" link="#test" link-text="Discover the r-series">
        Distinct, dynamic and sharper than ever, +46761805566 the new Scania R- series sets a new standard in long-haulage truck design and technology. Its articulated lines make a powerful, head-turning appearance wherever they go. Driving a Scania, you deserve the attention.
      </c-teaser-item>
    </c-teaser>
</demo>

___
-->

<style>
  /* It did not work to use '>' in polymer standard host-context scoping so we use this for now... */
  section > c-teaser-variation-3 {
    margin-top: -60px;
    margin-bottom: -60px;
  }
</style>

<dom-module id="c-teaser-variation-3">
  <template>
    <style>
      /* Teaser variation3 */

      @import (reference) 'https://static.scania.com/development/global/less/corporate-ui/buttons.less';

      /*:host-context(section >) {
        margin-top: -60px;
        margin-bottom: -60px;
      }*/

      :host {
        display: block;

        ::content {

          .teaser-items {
            margin: 0;
          }
          c-teaser-item {
            padding: 0;

            .teaser-info {
              background-color: #eee;
              padding: 70px 15% 60px;
            }
          }
          .teaser-info > .btn {
            &:extend(.btn-primary all);
          }
        }
      }
    </style>

    <content></content>

  </template>

  <script>
    Polymer({
      is: 'c-teaser-variation-3'
    });
  </script>
</dom-module>
