<dom-module id="control-item">
    <template>
        <div class$="col-{{controls}}">
            <select class="dropdown" id$="dd-{{controls}}" data-column-index$="{{col}}">
                <option value="">{{controls}}</option>
            </select>
        </div>
    </template>
    <script>
        Polymer({
            is: 'control-item',
            properties: {
                controls: {
                    type: String,
                    value: 'type'
                },
                col: {
                    type: Number,
                    value: 1
                }
            }
        })
    </script>
</dom-module>