<!--

`c-sticky-toolbar` is a sticky toolbar in the top-right corner. When clicked it opens a bar of `c-sticky-items` - contains icons with links. No text.

@dev

### Todo ###

- Touchdevices keep the main icon focused or active, making the background stay white.
- When Navbar is ready - adjust position of the toolbar.

-->
<dom-module id="c-sticky-toolbar">
  <template>
    <style>
      :host {

        .c-sticky-toolbar-container {
          position: fixed;
          top:189px;
          right: 100px;
          height:50px;
          z-index: 100;
        }
        #stickyitemcontainer {
          display:none;
          float:left;
          opacity: 0;
          transition: opacity .3s ease-in-out;
          -moz-transition: opacity .3s ease-in-out;
          -webkit-transition: opacity .3s ease-in-out;
          padding-left:50px;

          &.open {
            display:block;
            opacity: 1;
            -webkit-animation: anim .3s ease-in-out;
            animation: anim .3s ease-in-out;
          }
        }

        .tapHandler {
          float:right;
        }

        @-webkit-keyframes anim {
          0% {
            display: none;
            opacity: 0;
          }
          1% {
            display: block;
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
        @keyframes anim {
          0% {
            display: none;
            opacity: 0;
          }
          1% {
            display: block;
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
    </style>

    <div class="c-sticky-toolbar-container" id="toolbarid">
      <div class="tapHandler" on-tap="_handleTap">
        <c-sticky-item icon="[[icon]]"></c-sticky-item>
      </div>
      <div id="stickyitemcontainer">
        <content></content>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'c-sticky-toolbar',
      properties: {
        /** True if the toolbar is open. */
        _isOpen: false,
        /** True if the toolbar should generate social-links */
        social: {
          type: Boolean,
          value: false,
          observer: 'makeSocial'
        },
        /** The main-icon, which opens the rest of the toolbar. */
        icon: {
          type: String,
          value: "icon-share-alt2"
        }
      },
      /** Called when the main-icon is clicked. Toggles _isOpen. */
      _handleTap: function() {
        this._isOpen = !this._isOpen;
        this.toggleClass("open", this._isOpen, this.$.stickyitemcontainer);
      },
      /** Checks if it should generate social links on ready and init the scroll-function. */
      ready: function() {

        var mn = $(this.$.toolbarid);

        $(window).scroll(function() {
          mn.css( "top", function (){
          if($(window).scrollTop() > 89) {
            return '100px';
          }
          else {
            return (189 - $(window).scrollTop() + 'px');
          }
          });
        })
      },
      /** Generates social links */
      makeSocial: function() {
        if(!this.social)
          return;

        var i,
          childEl,
          iconArray = ["icon-envelope", "icon-google-plus", "icon-linkedin", "icon-vk", "icon-facebook", "icon-twitter"],
          urlArray = ["#","#","#","#","#","#",];
        for(i = 0; i < 6; i++) {
          childEl = document.createElement("c-sticky-item");
          childEl.setAttribute('icon', iconArray[i]);
          childEl.setAttribute('url', urlArray[i]);
          this.$$('#stickyitemcontainer').appendChild(childEl);
        }
      },
    });

  </script>
</dom-module>


<!--

`c-sticky-item` renders a 50x50 icon.

Use within `c-sticky-toolbar`:

```
<c-sticky-toolbar>
  <c-sticky-item url="the/url.html" icon="icon-example"></c-sticky-item>
</c-sticky-toolbar>
```

-->
<dom-module id="c-sticky-item">
  <template>
    <style>
      :host {
        width:50px;
        height:50px;
        margin-left:1px;
        margin-top: 1px;
        background-color: #041E42;
        float:right;
        &:hover {
          background-color:#fff;
        }
        &:active {
          background-color: #041e42;
        }



        a {
          display:block;
          font-family: 'corporate-icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          font-size: 1.5em;
          text-transform: none;
          line-height: 1;     
          color:#fff;
          -webkit-font-smoothing: antialiased;        width: 100%;
          height:100%;
          text-align:center;
          width: 50px;
          height: 50px;
          padding-top:12px;
          cursor: pointer;
          &:visited {
            color:#fff;
          }
          &:hover {
            color:#041e42;
          }
          &:focus {
            color:#fff;
          }
          &:active {
            color:#041e42;
          }
        }
      }
    </style>
    <a href$="[[url]]" class$="[[icon]]"></a>
  </template>
  <script>
    Polymer({
      is: 'c-sticky-item',
      properties: {
        url: String,
        icon: {
          type: String,
          value: "#"
        }
      }
    })
  </script>
</dom-module>

<link rel="import" href="variation-1.html">
