<link rel="import" href="variation-1.html">

<!--

`c-contact-us` is designed to be placed towards the end of the page as a primary CTA encouraging the user to get in touch with the Scania sales team. Can also be used within Find a Dealer.

___

### Combinations

Different variations can be created by combining the desired attributes. `title` sets the main headline, `number` sets phone number for contact and `link` plus `cta` sets the primary CTA. It is also possible to add the attribute `action` which sets a headline over the phone number. Text within the main tag will be set as description. Examples of combinations below.

___

@dev

### Todo ###

-->

<dom-module id="c-contact-us">
  <template>
    <style>
      /* Contact us component */

      :host {
        display: block;

        .container.contact-box {
          text-align: center;
          margin: 50px auto;
          max-width: 550px;

          h3 {
            color: @brand-danger;
            margin: 10px auto;
          }
          h6 {
            margin: 25px auto 15px auto;
          }

          .contact-description {
            font-size: 18px;
            margin: auto auto 0 auto;
          }
        }
      }
    </style>

    <div class="container contact-box">
      <h4>{{title}}</h4>
      <p class="contact-description"><content></content></p>
      <h6>{{action}}</h6>
      <h3>{{number}}</h3>
      <div class="btn-container">
        <template is="dom-if" if$="{{haslink()}}"> 
          <button class="btn btn-primary" href$="{{link}}">{{cta}}</button>
        </template> 
      </div>
    </div>

  </template>

  <script>
    Polymer({
      is: 'c-contact-us',
      properties: {
        title: String,
        action: String, /* phrase over phone number */
        number: String, /* phone number for contact */
        cta: String, /* label for cta */
        link: String /* link for cta */
      },
      haslink: function() {   
        return this.getAttribute('link') != null;
      },
      attached: function() {
        /*if(this.haslink()) {
          this.getElementsByClassName("btn-container")[0].innerHTML='<button class="btn btn-primary" href=' + this.link + '>' + this.cta + '</button>';
        }*/
      }
    });
  </script>
</dom-module>
