
<!--

___

#### Example 1

With CTA and without `action`

<demo>
  <c-contact-us title="Chat to our sales team" number="0345 450 7735" cta="Let us call you back" link="#">
    Get in touch and we can help
  </c-contact-us>
</demo>

___

#### Example 2

Without CTA and with `action`

<demo>
  <c-contact-us title="Scania assistance" action="Get assistance now" number="0345 450 7735">
    Scania Assistance is always there to help you. Any time of the day or night - 365 days.
  </c-contact-us>
</demo>

___


-->

<dom-module id="c-contact-us-variation-1">
  <template>
    <style>
      /* Contact us variation 1 */

      :host {
        display: block;
      }
    </style>

    <content></content>

  </template>

  <script>
    Polymer({
      is: 'c-contact-us-variation-1'
    });
  </script>

</dom-module>
