:host{
  .upload-file-wrapper{
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 20px;
    margin-bottom: 15px;
  }
  #dropArea{
    width: 280px;
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    &.highlight{
      background-color: #f0f0f0;
      color: #033a6a;
    }
    .cloud-icon{
      font-size: 4rem;
    }
    p, h1{
      text-align: center;
      padding-top: 0;
      margin-bottom: 0;
      color: inherit;
    }
    .label-browse{
      color: #4a8ba4;
      font-weight: normal;
      font-size: 1.4rem;
      cursor: pointer;
    }
  }
  input[type="file"]{
    display: none;
  }
  .time:after{
    content:'\00d7';
    position: absolute;
    left: 0;
    top:0;
  }
  .done:after{
    content: '\2713';
    position: absolute;
    left: 0;
    top:0;
  }
  .file-list{
    border-bottom: 1px solid #ececec;
    padding-bottom: 5px;
    p{text-align: left;}
    .file-name{
      margin-left: 5px;
    }
    .file-meta{
      margin-bottom: 10px;
    }
  }
  #fileerror{
    div{color: #cc1040;}
    p{margin-bottom: 5px; }
  }
}
