:host{
  .upload-file-wrapper{
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
  }
  .select-button{
    width: 200px;
    height: 80px;
  }
  input[type="file"]{
    position: absolute;
    left: 0;
    top:0;
    opacity: 0;
    width: 200px;
    height: 80px;
    cursor: pointer;
  }
}
