  <div class="upload-file-wrapper col-xs-12">

      <div class="form-group">
        <button class="btn btn-default">+ Select files</button>
        <input type="file" name={{name}} on-change="handleChange" multiple$={{multiple}} accept$="{{accept}}" required={{required}}>
        <span class="upload-info">
        <template is="dom-if" if="{{maxFileSize}}">
          <content>{{fileLimitInfo}}</content>
        </template>
        </span>
      </div>

      <template is="dom-repeat" items={{files}} sort="sortFilenames">
        <div id="setPb{{item.id}}" class="form-group file-list" hidden$={{item.fileSizeStatus}}>
            <div class="file-meta" >
              <i class="fal fa-check-circle hidden"></i>
              <i id="{{item.id}}" class="fal fa-times" on-click="removeFile"></i>
              <span class="file-name">{{item.name}}</span> - <span>{{item.fileSize}}</span>
            </div>
            <c-progress-bar value="0" context="success" class="hidden"></c-progress-bar>
        </div>
      </template>

      <div class="form-group" hidden$={{!isFiles}}>
        <button type="button" name="button" class="btn btn-sm btn-primary" on-click="uploadFiles">Upload</button>
      </div>

      <div class="status">
        {{errorTitle}}
      </div>
      <div id="fileerror"></div>

  </div>
