  <div class="upload-file-wrapper col-xs-12">

      <div id="dropArea" class="form-group" hidden$="{{!showDropArea}}"
          on-dragenter="allowDrop" on-dragover="allowDrop"
          on-drop="dropFile"
          on-dragleave="removeHighlight" on-dragexit="removeHighlight">
        <p class="cloud-icon"><i class="fal fa-cloud-upload"></i></p>
        <p class="label-big">Drag & drop here</p>
        <p>to upload your files, <label class="label-browse" for="fileinput">or browse</label></p>
        <div class="upload-info">
          <template is="dom-if" if="{{maxFileSize}}">
            <p>{{fileLimitInfo}}</p>
          </template>
          <template is="dom-if" if="{{accept}}">
            <p>{{fileAcceptInfo}}</p>
          </template>
        </div>
        <input id="fileinput" type="file" name={{name}} on-change="handleChange" multiple$={{multiple}} accept$="{{accept}}" required={{required}}>
      </div>

      <div id="fileerror" class="form-group">
        <p>{{errorTitle}}</p>
      </div>
      <div class="form-group" hidden$={{!isFiles}}>
        <p class="files-to-upload">Files to upload</p>
      </div>
      <template is="dom-repeat" items={{files}} sort="sortFilenames">
        <div id="setPb{{item.id}}" class="form-group row file-list" hidden$={{item.fileSizeStatus}}>
          <div class="file-icon">
            <file-icon filename="{{item.name}}"></file-icon>
          </div>
          <div class="file-meta">
            <p class="file-name"><strong>{{item.name}}</strong></p>
            <p class="file-size">{{item.fileSize}}</p>
            <div class="file-status-icon">
              <i class="fal fa-check"></i>
              <i class="fal fa-spinner"></i>
              <i id="{{item.id}}" class="fal fa-times" on-click="removeFile"></i>
            </div>
          </div>
        </div>
      </template>

      <div class="action-btn-wrapper" hidden$={{!browseButton}}>
        <c-progress-bar value="0" context="success" class="hidden"></c-progress-bar>
        <div class="buttons">
          <span hidden$={{!isFiles}}><button type="button" name="button" class="btn btn-sm btn-primary" on-click="uploadFiles">{{uploadBtnText}}</button></span>
          <span><label for="fileinput" type="button" class="btn btn-sm btn-default">Browse</label></span>
        </div>
      </div>

  </div>
