<!--

`c-quote` Reinforces message on page or value of product / service with a human element.

@dev

Comments between the columns for the not-so-pretty vertical-align solution.

-->
<dom-module id="c-quote">
  <template>

    <style>
      /* Quote component */

      :host {

        .no-gutter {
          margin:0;
          padding:0;
        }
        .vcenter {
          display:inline-block;
          float:none;
          vertical-align: middle;
        }
        .text-container {

          ::content h2 {
            font-family: 'Scania Sans Headline Bold';         
            line-height: 41px;
            letter-spacing: 0;
            text-align: center;
            line-height: 1.4;
          }
          ::content h3 {
            font-family: 'Scania Sans Bold';
            line-height: 15px;
            text-transform: uppercase;
            text-align: center;
            margin-top:0;
            font-size:1em;
          }
          ::content p {
            font-family: 'Scania Sans';
            font-size: 28px;
            text-align: center;

            &::before {
              content:'"';
            }
            &::after {
              content: '"';
            }
          }
        }
        .extra-gutter {
          margin-top: 50px;
          margin-bottom: 50px;
        }
      }
    </style>
    <div class="container">
      <div class="row">
        <div class$="col-sm-12 col-md-12 box {{variation}} no-gutter">
          <div class$="{{_classCol}} no-gutter vcenter">
            <div class="img-container">
              <img src$="{{image}}" title$="{{title}}" alt$="{{title}}" class="img-responsive">
            </div>
          </div><!--
          --><div class$="{{_classCol}} vcenter text-container">
            <content></content>
          </div>
        </div>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      is: 'c-quote',
      properties: {
        /* url to the image */
        image: String,
        /* title of the quote, not used in variation2 DELETED */
        title: {
          type: String,
          value: 'The title of the quote'
        },
        /* computes the bootstrap col-* classes to use (dependant on variation)  */
        _classCol: {
          type: String,
          computed: "_computeCol(variation)"
        },
      },
      /* The compute-function for _classCol */
      _computeCol: function(e) {
        if(e == "variation-1")
          return "col-md-6 col-sm-12";
        else
          return "col-md-12 col-sm-12";
      }
    });
  </script>
</dom-module>

<link rel="import" href="variation-1.html">

<link rel="import" href="variation-2.html">
