
extends ../../component

append dependencies
  script(src="../../../../angular/angular.min.js")
  script(src="../../../../angular-ui-sortable/dist/sortable.js")

block style
  include style.css

append template
  include template.html

block script
  include script.js
