
<nav class$="navbar navbar-default{{dealer}}">
  <div class="navbar-header" short-name$="{{shortName}}">
    <template is="dom-if" if="{{hasMainNav}}">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </template>
    <a href="{{dealerUrl}}" class="dealer">
      <img alt$="{{dealerName}}" src$="{{dealerLogo}}">
      <span>{{dealerName}}</span>
    </a>
    <a href="{{siteUrl}}" class="navbar-brand"></a>
    {{siteName}}
    <a href="{{siteUrl}}" class$="navbar-symbol {{sticky}}"></a>
    <nav class="nav navbar-nav navbar-right">
      <content></content>

      <template is="dom-repeat" items="{{items}}" sort="sort">
        <nav-item location="{{item.location}}" active="{{item.active}}">{{item.name}}</nav-item>
      </template>
    </nav>
  </div>
</nav>