<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta charset="utf-8">
  <noscript><meta http-equiv="refresh" content="0;url=https://static.scania.com/vendors/components/pure-js/nonJS-browsers/1.0.0/nonJS-browsers.html"></noscript>


  <title>Corporate UI - Developers</title>

  <script src="https://static.scania.com/vendors/frameworks/jquery/1.11.3/jquery-1.11.3.min.js"></script> 
    
  <script src="../../../js/corporate-ui.js"></script>

  <style>
  @import('https://github.scania.com/pages/Scania/ux-library/ux-lib.css');
    .tablesorter-filter-row {border:none;}
  </style>

    <!-- Table Sorter Plugin -->

    <script src="https://static.scania.com/vendors/components/jQuery/table-sorter/2.17.7/js/jquery.tablesorter.min.js"></script>
    <script src="https://static.scania.com/vendors/components/jQuery/table-sorter/2.17.7/js/jquery.tablesorter.widgets.min.js"></script>
    <!-- Tablesorter: optional -->
    <link rel="stylesheet"
    href="https://static.scania.com/vendors/components/jQuery/table-sorter/2.17.7/addons/pager/jquery.tablesorter.pager.css">
    <script src="https://static.scania.com/vendors/components/jQuery/table-sorter/2.17.7/addons/pager/jquery.tablesorter.pager.js"></script>
    <script src="https://static.scania.com/vendors/components/jQuery/table-sorter/2.17.7/addons/expandable/jquery.tablesorter.expandable.js"></script>

    <script>
        $(function () {
            $("#table").tablesorter({sortList: [[0, 0], [1, 0]]});
        });
    </script>

</head>

<body class="scania ux-lib" data-env="dev" ng-controller="UxLib as uxlib">

  <c-corporate-header site-name="Developers" site-url="/">
    <nav-item location="https://github.scania.com/pages/Scania/ux-library/">UX Library</nav-item>
    <nav-item location="https://github.scania.com/scania/corporate-ui">Scania GitHub</nav-item>
  </c-corporate-header>

  <c-main-content>

    <c-main-navigation>
          <primary-items>
          <nav-item location="/">Home</nav-item>
          <nav-item location="/development.html">Development</nav-item>         
          <nav-item location="/testing.html">Testing
          <sub-navigation caption="Testing">
            <nav-item location="scania-bootstrap-app.html">Bootstrap CSS for Applications</nav-item>
            <nav-item location="scania-bootstrap-public.html">Bootstrap Public CSS</nav-item>  
            <nav-item location="testing-advanced-tables.html"  class="active">Advanced Tables</nav-item>
          </sub-navigation>
        </nav-item>
        <nav-item location="https://github.scania.com/Scania/corporate-ui/issues/new">Report an Issue</nav-item>
        <nav-item location="https://github.scania.com/pages/Scania/ux-library/developer/support.html">Support</nav-item>
        </primary-items>
    </c-main-navigation>


    <section>
      <div class="container-fluid">
        <h2>Filtered Table for Applications</h2>
        <p>This is the look of a table that are used on a public site. To change the look and feel so it displays as an application, just add the class <strong>public</strong> to the body tag. </p>
        <div class="app">            
          <table id="table" class="table tablesorter">
            <thead>
              <tr>
                <th></th>
                <th>Business Team</th>
                <th>Backend Team</th>
                <th>Front End Team</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>1st</th>
                <td>Facts check</td>
                <td>Sanity check</td>
                <td>Sanity check</td>
              </tr>
              <tr>
                <th>2nd</th>
                <td>Spell check</td>
                <td>Regression test light</td>
                <td>Broken links</td>
              </tr>      
              <tr>
                <th>3rd</th>
                <td>Market specific information</td>
                <td>Sample markets (Italy/Ireland)</td>
                <td>Device and screen tests</td>
              </tr>
              <tr>
                <th>4th</th>
                <td>Slides & content</td>
                <td>Performance test</td>
                <td>Code Quality</td>
              </tr>
              <tr>
                <th>5th</th>
                <td>Internal & public versions</td>
                <td>Internal and external access</td>
                <td>Internal & public versions</td>
              </tr>
            </tbody>
          </table>
        </div>
       <h2>Filtered Table for Public sites</h2>
        <p>This is the look of a table that are used in an application. To change the look and feel so it displays as an application, just add the class <strong>app</strong> to the body tag. </p>
        <div>            
          <table id="table" class="table tablesorter">
            <thead>
              <tr>
                <th></th>
                <th>Business Team</th>
                <th>Backend Team</th>
                <th>Front End Team</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>1st</th>
                <td>Facts check</td>
                <td>Sanity check</td>
                <td>Sanity check</td>
              </tr>
              <tr>
                <th>2nd</th>
                <td>Spell check</td>
                <td>Regression test light</td>
                <td>Broken links</td>
              </tr>      
              <tr>
                <th>3rd</th>
                <td>Market specific information</td>
                <td>Sample markets (Italy/Ireland)</td>
                <td>Device and screen tests</td>
              </tr>
              <tr>
                <th>4th</th>
                <td>Slides & content</td>
                <td>Performance test</td>
                <td>Code Quality</td>
              </tr>
              <tr>
                <th>5th</th>
                <td>Internal & public versions</td>
                <td>Internal and external access</td>
                <td>Internal & public versions</td>
              </tr>
            </tbody>
          </table>
        </div>            
      </div>
    </section>
  </c-main-content>
</body>
</html>