.input-group {
    &-btn {
        z-index: 2;
        > .btn-default {
            border-color: transparent;
            background-color: #f5f5f5;
        }
        &:last-child > .btn-default {
            margin-left: 3px;
        }
        &:first-child > .btn-default {
            margin-right: 3px;
        }
        .well & .btn-default {
            background-color: #fff;
            margin-left: 4px;
        }
        & .dropdown-toggle {
            white-space: nowrap;
        }
    }
    &-addon {
        border-color: transparent;
        &:first-child {
            border-right: 2px solid #FFFFFF;
            // margin-right: 3px;
        }
        &:last-child {
            border-left: 2px solid #FFFFFF;
            // margin-right: 3px;
        }
    }
    &-lg {
        border-radius: 0px;
        &-addon {
            height: auto;
            padding: none;
        }
    }

}