.list-group {
  font-family: 'Scania Sans Bold';
  margin-bottom: 60px;

  &-light .list-group-item {
    background-color: transparent;
    border: 0;
    padding: 10px 5px;
  }
}

.list-group-item {
  background-color: #fff;
  position: relative;
  padding: 20px;
  border: 1px solid #e2e2e2;

  &:first-child,
  &:last-child {
    border-radius: 0;
  }

  &.active {
    z-index: 0;
    background-color: #4a8ba4;
    border-color: #4a8ba4;

    &:hover,
    &:focus {
      z-index: 0;
      background-color: #4a8ba4;
      border-color: #4a8ba4;		
    }

    > a,
    > i {
      color: #fff;
    }
    > ul {
      border-top-color: #428bca;
    }
  }

  &.hovering {
    background-color: #d1e8f2;
  }

  i {
    color: #555555;
  }
  a {

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
  ul,
  .list-group {
    padding-left: 0;
    margin: 12px -16px -11px;
    border-left: 1px solid #fff;
    border-top: 1px solid #ddd;
    background-color: #fff;
  }
  li {
    margin-left: 10px;
    background-color: #fff;

    &:first-child {
      border-top: 0;
      border-radius: 0;
    }
    &:last-child {
      border-radius: 0;
    }
  }
}