// SCANIA BOOTSTRAP THEME
// PROGRESSBARS

.progress-bar { background-color: @brand-primary; }
.progress-bar-primary { background-color: @brand-primary; }
.progress-bar-success { background-color: @brand-success; }
.progress-bar-info { background-color: @brand-info; }
.progress-bar-warning { background-color: @brand-warning; }
.progress-bar-danger { background-color: @brand-danger; }