:host {
  background-color: #1d1d1d;
  color: #fff;
  font-family: "Scania Sans Semi Condensed";
  font-size: 1.7rem;

  padding: 26px 30px 26px 30px;
  height: auto;
  width: 100%;

  position: fixed;
  bottom: 0px;

  z-index: 1500;

  a, 
  a:hover, 
  a:active {
    color: inherit;
    font-weight: bold;
  }

  .text-cookie {
    display:inline-block;
    width: 70%;
  }

  .close-cookie {
    margin: 5px;
    display: inline-block;
  }

  .modal {
    color: #535353;
  }
}