<div class="cookie-short-message">
  <span class="text-cookie">
    Scania uses cookies on our websites in order to ensure the performance and user experience. If you continue to browse without changing your web browser cookie settings, you are agreeing to our use of cookies. <!-- {{text}} -->
  </span>
  <button class="btn btn-transparent pull-right" data-toggle="modal" data-target="#cookieAgreement">Learn more</button>
  <button class="btn btn-transparent close-cookie pull-right">Accept</button>
</div>

<div id="cookieAgreement" class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl scroll-y">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          Cookies
        </div>
      </div>
      <div class="modal-body">
        <article>
          <p>Our website uses cookies. Below, you will find further information on these cookies; what they are, what cookies we use, what our purpose is for using them, and how you go about blocking or deleting cookies.</p>
          <p>With the exception of cookies that are strictly necessary to enable you to move around the website and use its features, we will only use cookies if you have allowed us to do so by checking the box “Yes, I accept your use of cookies”. Please be advised that if you do not allow us to use cookies, it may negatively affect your browsing experience.</p>
          <h3>What is a cookie?</h3>
          <p>Cookies are text files containing small amounts of information, which are downloaded to your device when you visit a website. Cookies are then sent back to the originating website on each subsequent visit, or to another website that recognises that cookie. Cookies are useful because they allow a website to recognise a user’s device.</p>
          <p>One type of cookie will save a file permanently on your computer. It can thereafter be used to customise this website based on your choices and interests. Another common type of cookie is the “session cookie”. When you visit a website, session cookies are sent between your computer and the server to collect information. Session cookies are not saved after you close your internet browser. You can find more information about cookies at <a href="http://www.allaboutcookies.org/">www.allaboutcookies.org</a>.</p>
          <h3>What do we use cookies for?</h3>
          <p>We use cookies to enhance the functionality of our website. For example, cookies help authenticate the user if the user logs in to a secure area of the website, to determine what information is made available on a particular webpage. Also, login information can be stored in a cookie, so the user can enter and leave the website without having to re-enter the same authentication information over and over. Cookies are also used to help you save certain information on the website, such as favourite products etc. They are also used for collecting anonymous statistics about user behaviour to enable us to improve the website experience.</p>
          <h3>Cookies used on our website</h3>
          <p>We use the following categories of cookies on this website:</p>
          <ul style="list-style-position: inside;">
          <li>Permanent cookies. Permanent cookies remain on the user's computer/device for a pre-defined period of time. Permanent cookies are used to collect identifying information about the user, such as browsing behaviour or user preferences for a specific website.</li>
          <li>Session cookies. Session cookies are temporarily stored in your internet browser, and are erased when the browser is closed.</li>
          <li>Third party cookies: Third party cookies allow third parties to download cookies to your device. They may be used to track your browsing history, or allow you to send a page from our website to your social media account such as Facebook or Twitter.</li>
          </ul>
          <p>For more information regarding what cookies we use please see our detailed cookie-list (below).&nbsp;</p>
          <h3>How to block and/or delete cookies</h3>
          <p>If you do not wish to accept cookies you can change your web browser settings to automatically block the storage of cookies or to inform you when a website wants to store cookies on your computer. Previously stored cookies can also be deleted through your web browser. More information can be found through your web browser’s support pages. If you use several different devices to access our website (computer, tablet or smartphone), you will have to change the browser settings on all devices.</p>
        </article>
      </div>
      <div class="modal-footer btn-toolbar">
        <button type="button" class="close-cookie btn btn-success" data-dismiss="modal" aria-hidden="true">I agree</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </div>
</div>

