<!--
___

### Variation-2 

Variation 2 offers title, text and button in tiles. This for further explanation of its image counterpart. For each row, the image and text tiles switch position. Small screen sizes makes the tiles go on top of eachother

<demo>
  <c-tiled-display 
   variation="2"
   img1 = "https://static.scania.com/resources/images/demo/Tile1.jpg" 
   img2 = "https://static.scania.com/resources/images/demo/Tile2.jpg" 
   img3 = "https://static.scania.com/resources/images/demo/Tile3.jpg" 
   img4 = "https://static.scania.com/resources/images/demo/Tile4.jpg"
   btn-text = "Press me" 
   headline ="Designed Around You" 
   description = "Take a seat and feel the difference. Notice how everything is in view and within easy reach. Try out the controls and experience the distinct, intuitive feedback in your fingertips." 
   var2title1="Service Exchange" 
   var2text1 = "Drivers are at the heart of Scania, and we make every effort to ensure positive working conditions."
   var2btn1="Browse Catalogue"
   var2btn2 ="Browse Catalogue"
    >
  </c-tiled-display>
</demo>

___
-->
<dom-module id="c-tiled-display-variation-2">
  <template>
    <style>
      :host {

        ::content {

          .btn-var2 {
            margin-top: 20px;
            margin-bottom:30px;
            font-size:14px;
            padding:10px;
          }
          .button-div {
            text-align: center;
          }       
          .variation-2 {  
            background-color: #F7F7F7;
            border: 1px solid #dadada;
            max-width:800px;
            padding:30px;
          }
          .p-variation2 {
            font-size: 12px;
            margin-left:10px;
            padding-left:20px;
            padding-right:50px;
          }
          .h3-variation2 {
            margin-left: 10px;
            padding-left:20px;
          }      
          .row-variation2 {
            display: block; 
          }
          .row-variation2 > div {
            display: inline-block;
            float: none;
            vertical-align: top;
            font-size: medium;
            padding-left: 0;
            padding-right: 0;
          }
          .row-variation2 {
            font-size: 0;
            background-color: #fff;
            border: 1px solid #dadada;
            margin-bottom: -1px;
          } 
          @media screen and (max-width:2000px) and (min-width: 500px) {
            .row-variation2:nth-child(even) {
              direction: rtl;
            }
            .row-variation2:nth-child(even) > div {
              direction: ltr;
            }
          }
          @media screen and (max-width: 767px) {
            .variation-2 {
              max-width: 600px;
            }
          }
        }
      }
    </style>

    <template is="dom-repeat" items="{{imgarray}}">
      <div class = "row-variation2">
        <div class = "col-sm-6 col-xs-12">
          <img src = {{item.first}}>
        </div>
        <div class ="col-sm-6 col-xs-12">
          <h3 class = "h3-variation2"> {{item.title}} </h3>
          <p class = "p-variation2"> {{item.text}}</p>
          <template is="dom-if" if ="{{item.btn}}">
            <div class = "button-div">
              <a href = "somewhere" class = "btn btn-primary btn-sm btn-var2">{{item.btn}}</a>
            </div>
          </template>
        </div>
      </div>
    </template>
  </template>

  <script>
    Polymer({
      is: "c-tiled-display-variation-2",
      properties: {
        imgarray: Array
      }
    })
  </script>
</dom-module>