extends ../../../../component

prepend comment
  include comment.md

block demo
  include demo.html

block style
  include style.css

append template
  include template.html

block script
  include script.js