
<!--
___

#### Demo

If a descriptive text is desired, set attribute `text`. To add a new social media share option, simply add subitem `c-social-media` and set attributes `name` and `link`.

<demo>
  <c-social-share text="This is authorable text. Put some text here">
    <c-social-media name="facebook" link="https://www.facebook.com/search/top/?q=%23scania"></c-social-media>
    <c-social-media name="twitter" link="https://twitter.com/search?q=%23scania&src=typd"></c-social-media>
    <c-social-media name="linkedin" link="https://twitter.com/search?q=%23scania&src=typd"></c-social-media>
    <c-social-media name="instagram" link="https://www.instagram.com/explore/tags/scania/"></c-social-media>
    <c-social-media name="vk" link="https://twitter.com/search?q=%23scania&src=typd"></c-social-media>
    <c-social-media name="weibo" link="https://twitter.com/search?q=%23scania&src=typd"></c-social-media>
  </c-social-share>
</demo>
___

-->
<dom-module id="c-social-share-variation-1">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <content></content>
  </template>

  <script>
    Polymer({
      is: 'c-social-share-variation-1'
    }); 
  </script>
</dom-module>
