
<!DOCTYPE html>

<html lang="en-GB" ng-app="CorporateUI">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta charset="utf-8">
  <noscript>
    <meta http-equiv="refresh" content="0;url=https://static.scania.com/vendors/components/pure-js/nonJS-browsers/1.0.0/nonJS-browsers.html">
  </noscript>

   <title>Corporate UI - Developers</title>

  <script src="/js/corporate-ui.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110069805-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-110069805-1');
  </script>
  
  <script src="https://static.scania.com/vendors/components/pure-js/browser-reject/1.0.0/js/browser-reject.js"></script>

  <link rel="stylesheet" href="css/ux-library.css">
</head>
<body class="scania ux-lib" data-env="dev" ng-controller="UxLib as uxlib">

  <c-corporate-header site-name="Developers" site-url="/">
    <nav-item location="https://github.scania.com/pages/Scania/ux-library/">UX Library</nav-item>
    <nav-item location="https://github.scania.com/scania/corporate-ui">Scania GitHub</nav-item>
  </c-corporate-header>
    
  <c-main-content>
     <c-main-navigation>
      <primary-items>
        <!-- <nav-item location="/" ng-repeat="section in uxlib.sections.children">{{section.name}}</nav-item> -->
        <nav-item location="/">Home</nav-item> 
        <nav-item location="/development.html" class="active">Development
          <sub-navigation caption="Development">
            <nav-item location="/components.html">Components</nav-item>
            <nav-item location="/templates.html">Templates</nav-item>
          </sub-navigation>
        </nav-item>
        <nav-item location="/testing.html">Testing</nav-item>
        <nav-item location="https://github.scania.com/Scania/corporate-ui/issues/new">Report an Issue</nav-item>
        <nav-item location="https://github.scania.com/pages/Scania/ux-library/developer/support.html">Support</nav-item>
      </primary-items>
    </c-main-navigation>

    <section class="light">
      <div class="container" ng-cloak>
        <h2>{{uxlib.categories.name}}s</h2>

        <div ng-repeat="category in uxlib.categories.children" class="main-item">
          <h5>
            <i ng-class="'icon-' + category.name" class="outline md"></i>
            {{category.name}}
          </h5>
          <div class="row">
            <!-- We ignore listing of main-content -->
            <div ng-repeat="component in category.children" class="col-sm-3 col-xs-6 component" ng-if="component.name !== 'main-content' && !component.extension">
              <a href="/component.html?t={{category.name}}&c={{component.name}}">{{component.name}}</a>
              <span>{{component.varationNr}} variations</span>
            </div>
          </div>
        </div>
      </div>
    </section>

  </c-main-content>

  <c-corporate-footer></c-corporate-footer>

  <script src="/vendors/frameworks/angular/1.5.5/angular.min.js"></script>

  <script>
    angular.module('CorporateUI', [])
      .controller('UxLib', ['$http', UxLib]);

    function UxLib($http) {
      var vm = this;

      // vm.sections = [];
      vm.categories = [];

      console.log(this)
      /*$http.get('data?path=html').then(
        function(response) {
          vm.sections = response.data;
        }, function(response) {
          console.error(response);
        });*/

      $http.get('data?path=html/component').then(
        function(response) {
          vm.categories = response.data;
          var i;
          vm.categories.children.forEach(function(category){
            category.children.forEach(function(components){
              i = 0;
              components.children.forEach(function(component){
                if(component.name.indexOf('variation-') > -1){
                  i++
                  components.varationNr = i
                }
              })
            });
          });
          
        }, function(response) {
          console.error(response);
        });
    }
  </script>

  <script src="js/ux-library.js"></script>
</body>
</html>