
<!DOCTYPE html>

<html lang="en-GB" class="corporate-ui">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta charset="utf-8">
  <noscript>
    <meta http-equiv="refresh" content="0;url=https://static.scania.com/vendors/components/pure-js/nonJS-browsers/1.0.0/nonJS-browsers.html">
  </noscript>

  <title>Dashboard</title>

  <script src="/js/corporate-ui.js"></script>

  <style>
    label {
      display: block;
    }
    input {
      transition: border-color 500ms ease;
      transition: color 500ms ease;
    }
    .date-changed input,
    .date-changed input:focus {
      border: 2px solid #09f;
      color: #09f;
    }
    .panel-heading {
      font-family: "Scania Sans Bold";
      font-size: 16px;
    }
  </style>

  <script>
    function EventStore() {
      this.store = {};
      this.__proto__.apply = apply;
      //this.__proto__.revert = revert;

      function apply(event) {
        this.store[event.name] = this.store[event.name] || [];
        event.id = this.store[event.name].length + 1; // Just for testing
        this.store[event.name].push(event);
        dispatch(event);
      }
      /*function revert(event) {
        var prevEvent = this.store[event.name].filter(function(item) { return item.id === event.id })[0];
        this.apply(prevEvent);
      }*/
      function dispatch(event) {
        var newEvent = document.createEvent('Event');
        newEvent.initEvent(event.action, true, true);
        newEvent.data = event.data;
        document.dispatchEvent(newEvent);
      }
    }


    /* 
      Create
      Read
      Update
      Delate

      Post
      Get
      Put
      Delete

      Add
      Remove
      Modify
    */

    /*eventStore.apply({ name: 'datepicker', action: 'changeDate', data: new Date() });
    eventStore.apply({ name: 'datepicker', action: 'changeDate', data: new Date('2011-02-11') });
    eventStore.revert({ name: 'datepicker', id: 1 });*/
  </script>

  <script>
    // Extend built in javascript event to support namespacing

    /*var orgDispatchEvent = Element.prototype.dispatchEvent;
    Element.prototype.dispatchEvent = function(event) {
      var types = event.type.split('.');

      if (types.length > 1) {
        orgDispatchEvent.call(this, event);
      }

      for(index in types) {
        var _event = document.createEvent('Event');
        _event.initEvent(types[index], true, true);
        for (var attrname in event) { _event[attrname] = event[attrname]; }
        orgDispatchEvent.call(this, _event);
      }
    }

    Event.prototype.data = {};*/
  </script>

  <script>
    // Represents API call from/to business layer

    function apiGet() {
      return new Date();
    }

    function apiPost(date) {
      return new Date(date);
    }
  </script>

  <script>
    // Represents application use of business data

    window.onload = function(event) {
      /*var _event = document.createEvent('Event');
      _event.initEvent('date.change', true, true);
      _event.data.date = apiGet();
      document.dispatchEvent(_event);*/
      DashboardEventStore = new EventStore();
      DashboardEventStore.apply({ name: 'datepicker', action: 'date.change', data: { date: apiGet() } });
    }

    document.addEventListener('date.change', function(event) {
      event.data.date = apiPost(event.data.date);
    }, false);
  </script>

  <script>
    // Represent application interaction

    document.addEventListener('date.change', function(event) {
      resetColorChanged();
      clearInterval(window.changeClass);

      document.body.className += ' date-changed';

      window.changeClass = setTimeout(resetColorChanged, 1000);
    }, false);

    function resetColorChanged() {
      document.body.className = document.body.className.replace(' date-changed', '');
    }
  </script>

  <link rel="import" href="partials/js-component.html">
  <link rel="import" href="partials/react-component.html">
  <link rel="import" href="partials/angular-component.html">
</head>
<body class="scania app">
  <section class="container">
    <h3>Framework & Library data interaction.</h3>
    <p>This illustrates how components built in different libraries could interact with each other, using either external component or our global custom elements built in Polymer.</p>
    <div class="row">
      <div class="col-xs-4">
        <js-component></js-component>
      </div>
      <div class="col-xs-4">
        <react-component></react-component>
      </div>
      <div class="col-xs-4">
        <angular-component></angular-component>
      </div>
    </div>
  </section>
</body>
</html>