<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>FMP form</title>
    <!-- <script src="https://static.scania.com/build/global/2.1.0/js/corporate-ui.js"></script> -->

    <script src="/js/corporate-ui.js"></script>
    <style>
        .container-fluid {
            margin-top: 20px;
        }
    </style>


</head>

<body class="scania app">
    <link rel="import" href="https://static.scania.com//build/global/2.1.2-alpha//html/component/Navigation/corporate-header/corporate-header.html">
    <c-corporate-header site-name="UX Library" site-url="https://static.scania.com/ux-library/">
        <nav-item location="https://www.scania.com/world/#/">World Entry</nav-item>
        <nav-item location="https://www.scania.com/group/en/">Scania Group</nav-item>
    </c-corporate-header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-7 col-md-7">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Edit job</h3>
                        <span>Brödleverans, ICA Åtvidaberg</span>
                    </div>
                    <div class="panel-body">
                        <form id="form" action="" method="get">
                            <div class="form-group col-xs-12 col-md-5">
                                <label class="control-label">Name of job
                                </label>
                                <input type="text" value='' autofocus class="form-control" placeholder="Brödleverans">
                            </div>
                            <div class="form-group col-xs-12 col-md-8">
                                <label class="control-label">Equipment
                                </label>
                                <input type="text" value='' class="form-control" placeholder="Select or click in map">
                            </div>

                            <div class="form-group col-xs-12 col-md-5">
                                <label class="control-label">Current driver</label>
                                <p>n/d</p>
                            </div>

                            <div class="form-group col-xs-12 col-md-12">
                                <h4>Locations</h4>
                            </div>
                            <fieldset class="form-group col-md-12">
                                <div class="form-group col-xs-12 col-md-6">
                                    <label class="control-label">Location 1</label>
                                    <input type="text" value='' class="form-control" placeholder="Start from current position of truck">
                                </div>
                                <div class="form-group col-xs-12 col-md-3">
                                    <label class="control-label interest-label">Time</label>
                                    <input type="text" value='' class="form-control" placeholder="Start now">
                                </div>
                                <div class="form-group col-xs-12 col-md-3">
                                    <label class="control-label nowrap">Added time (min)*</label>
                                    <input type="text" value='' class="form-control" placeholder="35">
                                </div>
                            </fieldset>
                            <fieldset class="col-md-12">
                                <div class="form-group col-xs-12 col-md-6">
                                    <label class="control-label">Location 2</label>
                                    <input type="text" value='' class="form-control" placeholder="Search or click map">
                                </div>
                                <div class="form-group col-xs-12 col-md-3">
                                    <label class="control-label interest-label">Time</label>
                                    <input type="text" value='' class="form-control" placeholder="Arriving">
                                </div>
                                <div class="form-group col-xs-12 col-md-3">
                                    <label class="control-label nowrap">Time in advance (min)*</label>
                                    <input type="text" value='' class="form-control" placeholder="30">
                                </div>

                                <div class="form-group col-xs-12 col-md-9">
                                    <label class="control-label">Notify on arrival
                                    </label>
                                    <input type="text" value='' class="form-control" placeholder="">
                                </div>

                                <div class="form-group col-xs-12 col-md-3">
                                    <label class="control-label nowrap">Time in advance (min)</label>
                                    <input type="text" value='' autofocus class="form-control" placeholder="30">
                                </div>
                                <div class="form-group col-xs-12 col-md-9">
                                    <label class="control-label nowrap">Notify expected delays</label>
                                    <input type="text" value='' autofocus class="form-control" placeholder="">
                                </div>
                                <div class="form-group col-xs-12 col-md-3">
                                    <label class="control-label">Longer than (min)</label>
                                    <input type="text" value='' class="form-control" placeholder="60">
                                </div>
                            </fieldset>

                            <div class="form-group col-md-6">
                                <span>+ Add location</span>

                            </div>
                            <div class="form-group col-md-6 text-right">
                                <span>+ Added time for loading, unloading, break etc</span>
                            </div>


                            <div class="form-group col-md-12 text-right">

                                <button class="btn btn-success" type="reset">Save changes</button>
                                <button class="btn btn-default" type="submit">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>


</body>

</html>