
<!DOCTYPE html>

<html lang="en-GB" ng-app="CorporateUI">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta charset="utf-8">
  <noscript>
    <meta http-equiv="refresh" content="0;url=https://static.scania.com/vendors/components/pure-js/nonJS-browsers/1.0.0/nonJS-browsers.html">
  </noscript>

  <title>Corporate UI - Developers</title>

  <script src="/js/corporate-ui.js"></script>

  <link rel="stylesheet" href="css/ux-library.css">
</head>
<body class="scania ux-lib" data-env="dev" ng-controller="UxLib as uxlib">

  <c-corporate-header site-name="Developers" site-url="/">
    <nav-item location="https://github.scania.com/pages/Scania/ux-library/">UX Library</nav-item>
    <nav-item location="https://github.scania.com/scania/corporate-ui">Scania GitHub</nav-item>
  </c-corporate-header>
    
  <c-main-content>
     <c-main-navigation>
      <primary-items>
        <!-- <nav-item location="/" ng-repeat="section in uxlib.sections.children">{{section.name}}</nav-item> -->
        <nav-item location="/" class="active">Home</nav-item>
        <nav-item location="/development.html">Development</nav-item>
        <nav-item location="/testing.html">Testing</nav-item>
        <nav-item location="deployment.html">Deployment</nav-item>
        <nav-item location="https://github.scania.com/Scania/corporate-ui/issues/new">Report an Issue</nav-item>
        <nav-item location="https://github.scania.com/pages/Scania/ux-library/developer/support.html">Support</nav-item>
      </primary-items>
    </c-main-navigation>

    <section class="light">
      <div class="container">
        <h1>Corporate UI for Developers</h1>
        <p>In this repository you can find tools and information to help you further develop and test new components and validate changes to existing ones.</p>
      </div>
    </section>

  </c-main-content>
  <c-corporate-footer></c-corporate-footer>


  <script src="js/ux-library.js"></script>
</body>
</html>