!DOCTYPE html>
<html lang="en-GB" class="corporate-ui">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fleet Management</title>
    <title></title>
  </head>
  <script src="/js/corporate-ui.js"></script>
  <body class="Scania ">
    <c-corporate-header site-name="Fleet Management" site-url="home.html">
      <nav-item location="https://www.scania.com/world/#/">Scania.Com</nav-item>
      <nav-item location="index.html">Log out</nav-item>
    </c-corporate-header>
    <c-main-content>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
              </div>
              <div class="panel-body">
                Panel content
              </div>
              <div class="panel-footer">panel footer</div>
            </div>
            <div class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
              </div>
              <div class="panel-body">
                Panel content
              </div>
              <div class="panel-footer">panel footer</div>
            </div>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
              </div>
              <div class="panel-body">
                Panel content
              </div>
              <div class="panel-footer">panel footer</div>
            </div>
            <div class="panel panel-warning">
              <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
              </div>
              <div class="panel-body">
                Panel content
              </div>
              <div class="panel-footer">panel footer</div>
            </div>
            <div class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
              </div>
              <div class="panel-body">
                Panel content
              </div>
              <div class="panel-footer">panel footer</div>
            </div>
          </div>
          <div class="col-md-6 app">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
              </div>
              <div class="panel-body">
                Panel content
              </div>
              <div class="panel-footer">panel footer</div>
            </div>
            <div class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
              </div>
              <div class="panel-body">
                Panel content
              </div>
              <div class="panel-footer">panel footer</div>
            </div>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
              </div>
              <div class="panel-body">
                Panel content
              </div>
              <div class="panel-footer">panel footer</div>
            </div>
            <div class="panel panel-warning">
              <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
              </div>
              <div class="panel-body">
                Panel content
              </div>
              <div class="panel-footer">panel footer</div>
            </div>
            <div class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
              </div>
              <div class="panel-body">
                Panel content
              </div>
              <div class="panel-footer">panel footer</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 app">
            <div class="panel panel-default" data-inner-id="Hey">
              <div class="panel-heading">
                <div class="panel-title">
                  <h4>Hey</h4>
                </div>
              </div>
              <div class="panel-body">
                <table class="table table-clickable">
                  <tbody>
                    <tr>
                      <th scope="row">15 MAY 2017</th>
                      <td>Promoting wellness and healthy lifestyles</td>
                      <td>Read more...</td>
                    </tr>
                    <tr>
                      <th scope="row">9 MAY 2017</th>
                      <td>Scania’s Sustainable City Solutions, future ready</td>
                      <td>Read more...</td>
                    </tr>
                    <tr>
                      <th scope="row">4 MAY 2017</th>
                      <td>A “wind-power driven truck”</td>
                      <td>Read more...</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="panel panel-primary" data-inner-id="Hey">
              <div class="panel-heading">
                <div class="panel-title">
                  <h4>Hey</h4>
                </div>
              </div>
              <div class="panel-body">
                <table class="table table-clickable">
                  <tbody>
                    <tr>
                      <th scope="row">15 MAY 2017</th>
                      <td>Promoting wellness and healthy lifestyles</td>
                      <td>Read more...</td>
                    </tr>
                    <tr>
                      <th scope="row">9 MAY 2017</th>
                      <td>Scania’s Sustainable City Solutions, future ready</td>
                      <td>Read more...</td>
                    </tr>
                    <tr>
                      <th scope="row">4 MAY 2017</th>
                      <td>A “wind-power driven truck”</td>
                      <td>Read more...</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="panel panel-default" data-inner-id="Hey">
                <div class="panel-heading">
                  <div class="panel-title">
                    <h4>Hey</h4>
                  </div>
                </div>
                <div class="panel-body">
                  <table class="table table-clickable">
                    <tbody>
                      <tr>
                        <th scope="row">15 MAY 2017</th>
                        <td>Promoting wellness and healthy lifestyles</td>
                        <td>Read more...</td>
                      </tr>
                      <tr>
                        <th scope="row">9 MAY 2017</th>
                        <td>Scania’s Sustainable City Solutions, future ready</td>
                        <td>Read more...</td>
                      </tr>
                      <tr>
                        <th scope="row">4 MAY 2017</th>
                        <td>A “wind-power driven truck”</td>
                        <td>Read more...</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="panel panel-primary" data-inner-id="Hey">
                <div class="panel-heading">
                  <div class="panel-title">
                    <h4>Hey</h4>
                  </div>
                </div>
                <div class="panel-body">
                  <table class="table table-clickable">
                    <tbody>
                      <tr>
                        <th scope="row">15 MAY 2017</th>
                        <td>Promoting wellness and healthy lifestyles</td>
                        <td>Read more...</td>
                      </tr>
                      <tr>
                        <th scope="row">9 MAY 2017</th>
                        <td>Scania’s Sustainable City Solutions, future ready</td>
                        <td>Read more...</td>
                      </tr>
                      <tr>
                        <th scope="row">4 MAY 2017</th>
                        <td>A “wind-power driven truck”</td>
                        <td>Read more...</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">Panel heading</div>
              <div class="panel-body">
                <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              </div>
              <!-- Table -->
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">Panel heading</div>
              <!-- Table -->
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">Panel heading</div>
              <div class="panel-body">
                <!-- Table -->
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Username</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      

    </c-main-content>
  </body>
</html>