
<!DOCTYPE html>

<html lang="en-GB" ng-app="CorporateUItemp">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta charset="utf-8">
  <noscript>
    <meta http-equiv="refresh" content="0;url=https://static.scania.com/vendors/components/pure-js/nonJS-browsers/1.0.0/nonJS-browsers.html">
  </noscript>

  <title>Corporate UI - Developers</title>

  <script src="/js/corporate-ui.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110069805-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-110069805-1');
  </script>
  
  <script src="https://static.scania.com/vendors/components/pure-js/browser-reject/1.0.0/js/browser-reject.js"></script>

  <link rel="stylesheet" href="css/ux-library.css">
</head>
<body class="scania ux-lib" data-env="dev" ng-controller="UxLibTemp as uxlibtemp">

  <c-corporate-header site-name="Developers" site-url="/">
    <nav-item location="https://github.scania.com/pages/Scania/ux-library/">UX Library</nav-item>
    <nav-item location="https://github.scania.com/scania/corporate-ui">Scania GitHub</nav-item>
  </c-corporate-header>
    
  <c-main-content>
  
     <c-main-navigation>
      <primary-items>
        <!-- <nav-item location="/" ng-repeat="section in uxlib.sections.children">{{section.name}}</nav-item> -->
        <nav-item location="/">Home</nav-item> 
        <nav-item location="/development.html" class="active">Development
          <sub-navigation caption="Development">
            <nav-item location="/components.html">Components</nav-item>
            <nav-item location="/templates.html">Templates</nav-item>
          </sub-navigation>
        </nav-item>
        <nav-item location="/testing.html">Testing</nav-item>
        <nav-item location="https://github.scania.com/Scania/corporate-ui/issues/new">Report an Issue</nav-item>
        <nav-item location="https://github.scania.com/pages/Scania/ux-library/developer/support.html">Support</nav-item>
      </primary-items>
    </c-main-navigation>

    <section class="light">
      <div class="container" ng-cloak>
        <h2>{{uxlibtemp.templates.name}}s</h2>

        <div ng-repeat="templates in uxlibtemp.templates.children" ng-if="templates.children.length != '0'" class="main-item">
          <h5>
            {{templates.name.substring(0, templates.name.lastIndexOf('.')) || templates.name}}
          </h5>
          <div class="row">
            <div class="col-sm-3 col-xs-6 template" ng-if="template.extension == '.html'" ng-repeat="template in templates.children">
                <a href="/template/{{templates.name}}/{{template.name}}">{{template.name.substring(0, template.name.lastIndexOf('.'))}}</a>
            </div>
          </div>
        </div>
      </div>
    </section>

  </c-main-content>

  <c-corporate-footer></c-corporate-footer>

  <script src="/vendors/frameworks/angular/1.5.5/angular.min.js"></script>
  <script>
    angular.module('CorporateUItemp', [])
    .controller('UxLibTemp', ['$http', UxLibTemp]);

    function UxLibTemp($http) {
      var vm = this;
      vm.templates = [];

      $http.get('data?path=html/template').then(
        function(response) {
          vm.templates = response.data;
          console.log(vm.templates)
          console.log(response.data)
        }, function(response) {
          console.error(response);
        });
    }
  </script>

</body>
</html>