<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta charset="utf-8">
  <noscript><meta http-equiv="refresh" content="0;url=https://static.scania.com/vendors/components/pure-js/nonJS-browsers/1.0.0/nonJS-browsers.html"></noscript>


  <title>Corporate UI - Developers</title>

  <script src="https://static.scania.com/vendors/frameworks/jquery/1.11.3/jquery-1.11.3.min.js"></script>   
  <script src="/js/corporate-ui.js"></script>
  <link rel="stylesheet" href="css/ux-library.css">
</head>

<body class="scania ux-lib" data-env="dev" ng-controller="UxLib as uxlib">

  <c-corporate-header site-name="Developers" site-url="/">
    <nav-item location="https://github.scania.com/pages/Scania/ux-library/">UX Library</nav-item>
    <nav-item location="https://github.scania.com/scania/corporate-ui">Scania GitHub</nav-item>
  </c-corporate-header>

  <c-main-content>

    <c-main-navigation>
      <primary-items>
        <nav-item location="/">Home</nav-item>
        <nav-item location="/development.html">Development</nav-item>
        <nav-item location="/testing.html" class="active">Testing
          <sub-navigation caption="Testing">
            <nav-item location="template/Bootstrap/scania-bootstrap-app.html">Bootstrap CSS for Applications</nav-item>
            <nav-item location="template/Bootstrap/scania-bootstrap-public.html">Bootstrap Public CSS</nav-item>  
            <nav-item location="template/Examples/advanced-tables.html">Advanced Tables</nav-item>
          </sub-navigation>
        </nav-item>
        <nav-item location="https://github.scania.com/Scania/corporate-ui/issues/new">Report an Issue</nav-item>
        <nav-item location="https://github.scania.com/pages/Scania/ux-library/developer/support.html">Support</nav-item>
      </primary-items>
    </c-main-navigation>

    <section>
      <article>
        <div class="container"><!-- MAIN CONTAINER -->
          <div class="row">
          <div class="col-md-12">
            <h1>Regression Tests</h1>
            <p>To ensure that your changes within Corporate UI does not cause disturbance för other standard elements and components, please test the pages on the sub navigation above.</p>
            <p>Please check the following web browsers:</p>
            <ul>Safari > 8</ul>
            <ul>Internet Explorer > 10</ul>
            <ul>Chrome  > 48</ul>
            <ul>Firefox > 38</ul>
            <p>Note that your changes could affect both  the PUBLIC zone and the APP zone. Please review both set of elements available in the subnavigation.</p>
      </div>
    </article>
    </section>
  </c-main-content>

  <c-corporate-footer></c-corporate-footer>
        
      </body>
      </html>