<template is="dom-if" if="{{text}}">
  <a href href$="{{location}}">{{text}}</a>
</template>

<template is="dom-if" if="{{!text}}">
  <template is="dom-if" if="{{location}}">
    <content select="sub-navigation"></content>

    <a href$="{{location}}">
      <content></content>

      <template is="dom-if" if="{{icon}}">
        <span class$="fa fa-{{icon}}"></span>
      </template>
    </a>
  </template>

  <template is="dom-if" if="{{!location}}">
    <content></content>
  </template>
</template>

<template is="dom-if" if="{{!dropdown}}">
  <template is="dom-if" if="{{items.length}}">
    <sub-navigation caption="{{caption}}">
      <template is="dom-repeat" items="{{items}}">
        <nav-item text="{{item.text}}" template="{{item.template}}" location="{{item.location}}" active="{{item.active}}" classes="{{item.classes}}" dropdown="{{item.dropdown}}" items="{{item.items}}"></nav-item>
      </template>
    </sub-navigation>
  </template>
</template>

<template is="dom-if" if="{{dropdown}}">
  <ul class="dropdown-menu">
    <template is="dom-repeat" items="{{items}}">
      <li class$="{{dashed(item.text)}} {{setActiveClass(item.active)}}">
        <a href$="{{item.location}}" on-tap="setDropdownItemActive">{{item.text}}</a>
      </li>
    </template>
  </ul>
</template>

<template is="dom-if" if="{{haveItems}}">
  <button on-tap="toggleExpand" class="btn btn-link mode-toggler"></button>
</template>