<!--

`c-social-share` invites users to share content on social media.

@dev

### Todo ###

-->
<dom-module id="c-social-share">
  <template>
    <style>
      /* Social share */

      :host {
        display: block;
        text-align: center;

        p {
          color: @framework-grey8;
          margin-top: 20px;
        }

        ::content {

          nav-item a {
            display: inline-block;
            padding: 10px 0;
            width: 55px;
            text-align: center;
            margin-left: 20px;

            &:hover {
              background-color: @brand-primary;

              span {
                color: #fff;
              }
            }

            span {
              color: @brand-primary;
              font-size: 30px;

              @media (max-width: 767px) {
                font-size: 20px;
              }
            }
          }
        }
      }
    </style>

    <nav>
      <content></content>
    </nav>

    <template is="dom-if" if="{{text}}">
      <p>{{text}}</p>
    </template>
  </template>

  <script>
    Polymer({
      is: 'c-social-share',
      properties: {
        /* descriptive text */
        text: String,
        fullbleed: {
          type: Boolean,
          value: true
        }
      }
    });
  </script>
</dom-module>

<link rel="import" href="variation-1.html">
