/* Import Scania font */
@import url(https://static.scania.com/resources/fonts/scania-sans/scania-fonts.css);

/* Import Scania logotype */
@import url(https://static.scania.com/resources/logotype/scania/logotype-stylesheet/scania-logotype.css);

// Gray colors
$gray-100:      #f8f9fa;
$gray-200:      #e9ecef;
$gray-300:      #dee2e6;
$gray-400:      #ced4da;
$gray-500:      #adb5bd;
$gray-600:      #6c757d;
$gray-700:      #495057;
$gray-800:      #343a40;
$gray-900:      #212529;

$grays: ();

// Global colors
$white:         #fff;
$black:         #000;
$blue:          #007bff;
$indigo:        #6610f2;
$purple:        #6f42c1;
$pink:          #e83e8c;
$red:           #dc3545;
$orange:        #fd7e14;
$yellow:        #ffc107;
$green:         #28a745;
$teal:          #20c997;
$cyan:          #17a2b8;

$colors: ();

// Interaction colors
$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$theme-colors: ();

// Theme colors
$theme-01:      #041e42;
$theme-02:      #fafafa;
$theme-03:      #d6001c;

$primary-01:    #c8c9c7;
$primary-02:    #97999b;
$primary-03:    #53565a;
$primary-04:    #2d2926;

$secondary-01:  #e35205;
$secondary-02:  #ceb888;
$secondary-03:  #94a596;
$secondary-04:  #2c5234;

$tertiary-01:   #448691;
$tertiary-02:   #5e3885;
$tertiary-03:   #005d6d;
$tertiary-04:   #e1a93e;
$tertiary-05:   #896a73;
$tertiary-06:   #5da7a9;
$tertiary-07:   #60b269;
$tertiary-08:   #ff7b7d;

// Font settings
$font-size-base:              1.4rem;
$font-weight-normal:          400;
$font-weight-base:            $font-weight-normal;
$line-height-base:            1.5;

$h1-font-size:                $font-size-base * 1.72;
$h2-font-size:                $font-size-base * 1.43;
$h3-font-size:                $font-size-base * 1.29;
$h4-font-size:                $font-size-base * 1.14;
$h5-font-size:                $font-size-base;
$h6-font-size:                $font-size-base;

$font-family-sans-serif:      'Scania Sans', Arial, Helvetica, sans-serif;
$font-family-monospace:       $font-family-sans-serif;
$font-family-base:            $font-family-sans-serif;

$slim-font-family-base:       'Scania Sans Semi Condensed', 'Scania Sans Condensed', $font-family-sans-serif;

$headings-font-family:        'Scania Sans Headline', Arial, Helvetica, sans-serif;
$headings-color:              $theme-01;

$body-bg:                     $white;
$body-color:                  $primary-03;

$font-size-article:           1.8rem;

$h1-font-size-article:        $font-size-article * 5;
$h2-font-size-article:        $font-size-article * 3.33;
$h3-font-size-article:        $font-size-article * 1.94;
$h4-font-size-article:        $font-size-article * 1.33;
$h5-font-size-article:        $font-size-article;
$h6-font-size-article:        $font-size-article;


// Lists

$theme-colors: (
  'theme-01': $theme-01,
  'theme-02': $theme-02,
  'theme-03': $theme-03
);

$primary-colors: (
  'primary-01': $primary-01,
  'primary-02': $primary-02,
  'primary-03': $primary-03,
  'primary-04': $primary-04
);

$secondary-colors: (
  'secondary-01': $secondary-01,
  'secondary-02': $secondary-02,
  'secondary-03': $secondary-03,
  'secondary-04': $secondary-04
);

$tertiary-colors: (
  'tertiary-01': $tertiary-01,
  'tertiary-02': $tertiary-02,
  'tertiary-03': $tertiary-03,
  'tertiary-04': $tertiary-04,
  'tertiary-05': $tertiary-05,
  'tertiary-06': $tertiary-06,
  'tertiary-07': $tertiary-07,
  'tertiary-08': $tertiary-08
);

$gray-colors: (
  'gray-01': $gray-100,
  'gray-02': $gray-200,
  'gray-03': $gray-300,
  'gray-04': $gray-400,
  'gray-05': $gray-500,
  'gray-06': $gray-600,
  'gray-07': $gray-700,
  'gray-08': $gray-800,
  'gray-09': $gray-900
);

$heading-sizes: (
  'h1': $h1-font-size,
  'h2': $h2-font-size,
  'h3': $h3-font-size,
  'h4': $h4-font-size,
  'h5': $h5-font-size,
  'h6': $h6-font-size
);

$heading-sizes-article: (
  'h1': $h1-font-size-article,
  'h2': $h2-font-size-article,
  'h3': $h3-font-size-article,
  'h4': $h4-font-size-article,
  'h5': $h5-font-size-article,
  'h6': $h6-font-size-article
);

// Merge all colors in to theme-colors and 
// let "root.scss" render the css variables
@each $type in ($theme-colors, $primary-colors, $secondary-colors, $tertiary-colors, $gray-colors) {
  $theme-colors: map-merge($theme-colors, $type);
}


// Application mode
$app-font-family-sans-serif:  $slim-font-family-base;


// Bootstrap imports
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/root';


// Helpers
@mixin renderMap($map, $prop) {
  @each $key, $value in $map {
    #{$key} { #{$prop}: $value; }
  }
}


// Output rules
body {
  font-family: $font-family-sans-serif;
  color: $body-color;
  font-size: $font-size-base;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings-font-family;
  color: $headings-color;
}

@include renderMap($heading-sizes, 'font-size');

h5,
h6 { font-family: $font-family-sans-serif; }
h6 { font-style: italic; }

article {
  font-size: $font-size-article;

  @include renderMap($heading-sizes-article, 'font-size');
}

// .app {

//   body,
//   body& {

//   }
// }
