
<!DOCTYPE html>

<html lang="en-GB" class="corporate-ui" ng-app="CorporateUI">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta charset="utf-8">
  <noscript>
    <meta http-equiv="refresh" content="0;url=https://static.scania.com/vendors/components/pure-js/nonJS-browsers/1.0.0/nonJS-browsers.html">
  </noscript>

  <title>UX Library</title>

  <script src="/js/corporate-ui.js"></script>

  <link rel="stylesheet" href="css/ux-library.css">
</head>
<body class="scania ux-lib" data-env="dev" ng-controller="UxLib as uxlib">
    
  <c-corporate-header site-name="UX Library" site-url="/">
    <nav-item location="https://www.scania.com/world/#/">World Entry</nav-item>
    <nav-item location="https://www.scania.com/group/en/">Scania Group</nav-item>
  </c-corporate-header>
    
  <c-main-content>

    <c-main-navigation>
      <primary-items>
        <!-- <nav-item location="/" ng-repeat="section in uxlib.sections.children">{{section.name}}</nav-item> -->
        <nav-item location="/">Components</nav-item>
      </primary-items>
    </c-main-navigation>

    <section class="light">
      <div class="container">
        <h2>{{uxlib.components.name}}´s</h2>

        <div ng-repeat="mainItem in uxlib.components.children" class="main-item">
          <h5>
            <i ng-class="'icon-' + mainItem.name" class="outline md"></i>
            {{mainItem.name}}
          </h5>
          <div class="row">
            <!-- We ignore listing of main-content -->
            <div ng-repeat="subItem in mainItem.children" class="col-sm-3 col-xs-6 component" ng-if="subItem.name !== 'main-content' && !subItem.extension">
              <a href="/component.html?t={{mainItem.name}}&c={{subItem.name}}">{{subItem.name}}</a>
              <span>{{subItem.children.length - 1}} variations</span>
            </div>
          </div>
        </div>
      </div>
    </section>

  </c-main-content>

  <c-corporate-footer></c-corporate-footer>

  <script src="/libs/angular/angular.min.js"></script>

  <script>
    angular.module('CorporateUI', [])
      .controller('UxLib', ['$http', UxLib]);

    function UxLib($http) {
      var vm = this;

      vm.sections = [];
      vm.components = [];

      $http.get('data?path=html').then(
        function(response) {
          vm.sections = response.data;
        }, function(response) {
          console.error(response);
        });

      $http.get('data?path=html/component').then(
        function(response) {
          vm.components = response.data;
        }, function(response) {
          console.error(response);
        });
    }
  </script>

  <script src="js/ux-library.js"></script>
</body>
</html>
