
<!DOCTYPE html>

<html lang="en-GB" class="corporate-ui" ng-app="CorporateUI">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta charset="utf-8">
  <noscript>
    <meta http-equiv="refresh" content="0;url=https://static.scania.com/vendors/components/pure-js/nonJS-browsers/1.0.0/nonJS-browsers.html">
  </noscript>

  <title>Binding demo</title>

  <script src="/js/corporate-ui.js"></script>

  <!-- Angular used to initialize the test, (but could be any framework) -->
  <script src="/libs/angular/angular.min.js"></script>

  <!-- Polymer component -->
  <link rel="import" href="partials/polymer-table.html">

  <!-- Angular component -->
  <link rel="import" href="partials/angular-table.html">

  <!-- React component -->
  <link rel="import" href="partials/react-table.html">
</head>
<body class="app" ng-controller="Demo as demo">
  <section>
    <div class="container">
      <h2>Binding test</h2>

      <form class="form-inline" ng-submit="demo.addPerson()">
        <label>
          <input type="text" ng-model="demo.person.name" class="form-control" placeholder="Name">
        </label>
        <label>
          <input type="number" ng-model="demo.person.age" class="form-control" placeholder="Age">
        </label>
        <button class="btn btn-primary" type="submit">Add person</button>
      </form>

      <div class="row">
        <div class="col-xs-4">
          <h4>Polymer</h4>
          <polymer-table persons="{{demo.persons}}"></polymer-table>
        </div>
        <div class="col-xs-4">
          <h4>Angular</h4>
          <angular-table data-persons="demo.persons"></angular-table>
        </div>
        <div class="col-xs-4">
          <h4>React</h4>
          <!-- <react-table data-persons="{{demo.persons}}"></react-table> -->
          <web-component path="partials/react-table.html" data-persons="{{demo.persons}}"></web-component>
        </div>
      </div>
    </div>
  </section>

  <script>
    angular.module('CorporateUI', ['angular.table'])
      .controller('Demo', [Demo]);

    function Demo() {
      var vm = this;

      vm.person = {};
      vm.persons = [{"id":1, "name":"andreas", "age":31}];

      vm.addPerson = function() {
        if (vm.person.name && vm.person.age) {
          vm.persons.push({
            id: vm.persons.length + 1,
            name: vm.person.name,
            age: vm.person.age
          })
        }
      }
    }
  </script>
</body>
</html>
