
extends ../../component

append dependencies
  link(rel="import" href="../../Navigation/main-hero/main-hero.html")
  link(rel="import" href="teaser-item/teaser-item.html")
  link(rel="import" href="variation-1.html")
  link(rel="import" href="variation-2.html")
  link(rel="import" href="variation-3.html")
  link(rel="import" href="variation-4.html")
  link(rel="import" href="variation-5.html")
  //-link(rel="import" href="variation-11.html")

block comment
  include comment.md

block style
  include style.css

append template
  include template.html

block script
  include script.js
