extends ../component

append style_dependencies
  link(href='../../../../slick-carousel/slick/slick.css' rel='stylesheet')

append dependencies
  link(rel="import" href="variation-1.html")
  link(rel="import" href="variation-2.html")
  script(src="../../../../slick-carousel/slick/slick.min.js")

block comment
  include comment.md

block style
  include style.css

append template
  include template.html

block script
  include script.js