
<script src="/vendors/components/bootstrap/bootstrap-datepicker/1.6.4/dist/js/bootstrap-datepicker.min.js"></script>
<link href="/vendors/components/bootstrap/bootstrap-datepicker/1.6.4/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">

<dom-module id="form-field">
  <template>
    <style>
      input::-webkit-inner-spin-button,
      input::-webkit-calendar-picker-indicator,
      input::-webkit-clear-button {
        display: none;
        -webkit-appearance: none;
      }
    </style>
    <input type="{{type}}" value="{{value}}" name="{{name}}" class="form-control">
  </template>
  <script>
    Polymer({
      is: 'form-field',
      properties: {
        fullbleed: {
          type: Boolean,
          value: true
        },
        variation: 0,
        type: {
          type: String
        },
        name: {
          type: String
        },
        value: {
          type: String
        }
      },
      ready: function() {
        var that = this;
        //if (this.type === 'date') {
          $('input', this)
            .datepicker({ format: 'yyyy-mm-dd', forceParse: false})
            .on('changeDate', function(event) {
              var _event = Event.prototype;
              _event.data = { date: event.date };
              that.updateDate(_event);
            });
        //}

        document.addEventListener('date.change', function(event) {
          that.setDate.call(that, event);
        }, false);
      },
      updateDate: function(event) {
        AppEventStore.apply({ name: 'datepicker', action: 'date.change', data: { date: event.data.date } });
      },
      setDate: function(event) {
        $('input', this).datepicker('update', event.data.date);
      }
    })
  </script>
</dom-module>