<!--
___

#### Demo

Attribute `image` sets the image and content inside component tag sets the text.

<demo>
  <c-text-and-image image="http://scania-noe-ux.sapient-lab.com/images/textimage/image01.jpg" text='"This is the second time a Scania truck with a Euro 6 engine has received the prize."'>
    "This is the second time a Scania truck with a Euro 6 engine has received the prize."
  </c-text-and-image>
</demo>

___

-->

<dom-module id="c-text-and-image-variation-1">
  <style>
    :host {
      display: block;
    }
  </style>

  <template>
    <content></content>
  </template>
  <script>
    Polymer({
      is: 'c-text-and-image-variation-1',
      properties: {
        image: {
          type:String
        }
      }
    });
  </script>
</dom-module>
