link(rel="import" href="#{rootPath}/polymer.html")

| <!--
block comment
  demo
    block demo
| -->

block root
  dom-module(id=name)
    block dependencies

    template
      block style_dependencies
        //- Bootstrap and corporate-ui references will be needed when we switch to run Polymer in shadow dom mode.
        //- link(rel="stylesheet" href="/vendors/frameworks/bootstrap/3.2.0/dist/css/bootstrap-org.css")
        //- link(rel="stylesheet" href="/css/corporate-ui.css")

      block template
        style
          block style

    script
      | var name = '#{name}';
      block script

    script.
      if(window['params'].monitoring){
        ga('send', {
          hitType: 'event',
          eventCategory: 'corporate-ui-component', //the object that user interact with on the page
          eventAction: 'loaded', // type of interaction with the object
          eventLabel: '#{name}'  //categorizing events
        },{
          nonInteraction: true
        });
      }