extends ../../component

append style_dependencies
  link(href='/vendors/components/pure-js/video.js/5.19.2/dist/video-js.css', rel='stylesheet')

append dependencies
  link(rel="import" href="variation-1.html")
  script(src="/vendors/components/pure-js/video.js/5.19.2/dist/video.js")
  script(src="/vendors/components/pure-js/videojs-youtube/2.3.2/dist/Youtube.min.js")

block comment
  include comment.md

block style
  include style.css

append template
  include template.html

block script
  include script.js