:host{
  .file-icon-wrapper{
    font-size: 36px;
    padding-left:1px;
    position: relative;
  }
  .extension{
    display: block;
    position: absolute;
    bottom: 14px;
    width: 32px;
    left: -1px;
    text-align: center;
    font-size: 10px;
    background: #CEB888;
    color: #fff;
  }
  // image
  .png, .jpg, .JPG, .jpeg, .JPEG, .gif, .GIF, .tiff, .bmp, .svg, .emf, .jfif{
    background: #ea9860;
  }
  // pdf
  .pdf{
    background:#bd0100;
  }
  // text & office documents
  .txt, .doc, .docx, .xls, .xlsx, .xml, .ppt, .pptx{
    background: #2C5234; //@color-secondary-04;
  }
}
