// SCANIA BOOTSTRAP THEME
// FORMS
@import (reference) 'variables';
// local variables for input colors

//background color for default input
@input-bg-color: @color-grey3;
//background color for disabled input
@input-bg-color-disabled: #f7f7f7;

legend {
  border: 0;
}

input[placeholder],
textarea[placeholder] {
  color: #53565A;

  // Do not group these rules
  &::-webkit-input-placeholder {
    color: inherit;
  }
  &:-moz-placeholder {
    color: inherit;
  }
  &::-moz-placeholder {
    color: inherit;
  }
  &:-ms-input-placeholder {
    color: inherit;
  }
}

.form-group {

  label {
    font-family: "Scania Sans Semi Condensed";
    font-size: 1.3rem;
    font-weight: bold;
  }
  table {
    & th .input-icon {
      font-size: 15px;
      right: 6px;
      padding: 2px 0px;
    }

    & thead > tr > th select.form-control,
    & thead > tr > th select.form-control:focus {

      padding: 0;
      padding-left: inherit;
      background-size: 19px;
      padding: 0;
      padding-left: inherit;
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHdpZHRoPSIxNzkyIiBoZWlnaHQ9IjE3OTIiIHZpZXdCb3g9IjAgMCAxNzkyIDE3OTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzOTUgNzM2cTAgMTMtMTAgMjNsLTQ2NiA0NjZxLTEwIDEwLTIzIDEwdC0yMy0xMGwtNDY2LTQ2NnEtMTAtMTAtMTAtMjN0MTAtMjNsNTAtNTBxMTAtMTAgMjMtMTB0MjMgMTBsMzkzIDM5MyAzOTMtMzkzcTEwLTEwIDIzLTEwdDIzIDEwbDUwIDUwcTEwIDEwIDEwIDIzeiIvPjwvc3ZnPg==);
      background-repeat: no-repeat;
      background-position: ~'calc(100% - 2px)' center;

    }
  }
}

.form-control {
  color: #53565A;
  padding: 20px 40px;
  height: 63px;
  box-shadow: none;
  border-radius: 0;
  border: 0;
  font-size: 1.4rem;
  font-weight: normal;
  background-color: #f0f0f0;
  border: 1px solid #e2e2e2;

  select& {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHdpZHRoPSIxNzkyIiBoZWlnaHQ9IjE3OTIiIHZpZXdCb3g9IjAgMCAxNzkyIDE3OTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzOTUgNzM2cTAgMTMtMTAgMjNsLTQ2NiA0NjZxLTEwIDEwLTIzIDEwdC0yMy0xMGwtNDY2LTQ2NnEtMTAtMTAtMTAtMjN0MTAtMjNsNTAtNTBxMTAtMTAgMjMtMTB0MjMgMTBsMzkzIDM5MyAzOTMtMzkzcTEwLTEwIDIzLTEwdDIzIDEwbDUwIDUwcTEwIDEwIDEwIDIzeiIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-size: 37px;
    background-position: ~'calc(100% - 10px)' center;


    &:focus {
      font-size: inherit;
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 1px solid #4a8ba4;
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHdpZHRoPSIxNzkyIiBoZWlnaHQ9IjE3OTIiIHZpZXdCb3g9IjAgMCAxNzkyIDE3OTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzOTUgNzM2cTAgMTMtMTAgMjNsLTQ2NiA0NjZxLTEwIDEwLTIzIDEwdC0yMy0xMGwtNDY2LTQ2NnEtMTAtMTAtMTAtMjN0MTAtMjNsNTAtNTBxMTAtMTAgMjMtMTB0MjMgMTBsMzkzIDM5MyAzOTMtMzkzcTEwLTEwIDIzLTEwdDIzIDEwbDUwIDUwcTEwIDEwIDEwIDIzeiIvPjwvc3ZnPg==);
      background-size: 31px;
      background-position: ~'calc(100% - 10px)' center;

      background-repeat: no-repeat;
      background-color: #f2f7f9;
    }

    > option {
      background: #f5f5f5;
      font-size: 1.4rem;
    }

    &.input-sm {
      background-size: 27px;
      }

      &.input-lg {
       background-size: 50px;
      }

    .app & {
      background-size: 27px;
      padding-right: 28px;

      &.input-sm {
      background-size: 20px;
      }

      &.input-lg {
      background-size: 50px;
      }
    }

  }

  &[readonly] {
    cursor: default;
    background: #ffffff;
    border: 1px solid transparent;
    border-bottom: 1px solid #e2e2e2;
    &:focus {
      cursor: default;
      background: #ffffff;
      border: 1px solid transparent;
      border-bottom: 1px solid #e2e2e2;
      .panel-inverse & {
        cursor: default;
        border: 1px solid transparent;
        border-bottom: 1px solid #e2e2e2;
        background: #ffffff;
      }
    }
  }

  &[disabled] {
    opacity: 0.8;
    color:#94999d;
    background-color: #f7f7f7;
    border: 1px solid transparent;
  }

  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #f6f9fa;
    border: 1px solid #4a8ba4;
  }

  &.input-sm {
    height: 42px;
    font-size: 1.4rem;
  }

  &.input-lg {
    height: 80px;
    font-size: 2.6rem;
  }

  .app & {
    padding: 10px 12px;
    height: 42px;

    &.input-sm {
    height: 30px;
    font-size: 1.2rem;
    
    }

    &.input-lg {
      height: 63px;
      font-size: 2.1rem;
    }

  }
}

.form-condensed {
  .form-group {
    margin-bottom: 5px;
  }
  .form-control {
    &:extend(.bootstrap .input-sm);
  }
}

.form-horizontal {

  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline {
    padding-top: 9px;
  }
}

.form-inline {

  .radio + .radio,
  .checkbox + .checkbox {
    margin-left: 10px;
  }
}

.form-control-static {
  padding-bottom: 0;
}

fieldset {
  border: 2px dotted silver;
  padding: 25px 25px 5px 5px;
  margin-bottom: 30px;
}

.radio-inline, .checkbox-inline {
  padding-left: 0px;
}

.nowrap {
  white-space: nowrap;
}

select {
  width: 100%;

  &::-ms-expand {
    display: none;
  }

  .well &::-ms-expand {
    display: none;
  }
}

.app {
  textarea& {
    height: auto;
  }

  select[multiple],
  select[size] {
    height: auto;
    background-image: none;
  }

  select[multiple] option {
    background: transparent;
  }
}