// SCANIA BOOTSTRAP THEME
// FORMS
@import (reference) 'variables';
// local variables for input colors

//background color for default input
@input-bg-color: @color-grey3;
//background color for disabled input
@input-bg-color-disabled: #f7f7f7;

legend {
  border: 0;
}

input[placeholder],
textarea[placeholder] {
  color: @main-font-color;

  // Do not group these rules
  &::-webkit-input-placeholder {
    color: inherit;
  }
  &:-moz-placeholder {
    color: inherit;
  }
  &::-moz-placeholder {
    color: inherit;
  }
  &:-ms-input-placeholder {
    color: inherit;
  }
}

.form-group {

  label {
    font-family: "Scania Sans Semi Condensed";
    font-size: 1.3rem;
    font-weight: bold;
  }
  table {
    & th .input-icon {
      font-size: 15px;
      right: 6px;
      padding: 2px 0px;
    }

    & thead > tr > th select.form-control,
    & thead > tr > th select.form-control:focus {

      padding: 0;
      padding-left: inherit;
      background-size: 19px;
      padding: 0;
      padding-left: inherit;
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHdpZHRoPSIxNzkyIiBoZWlnaHQ9IjE3OTIiIHZpZXdCb3g9IjAgMCAxNzkyIDE3OTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzOTUgNzM2cTAgMTMtMTAgMjNsLTQ2NiA0NjZxLTEwIDEwLTIzIDEwdC0yMy0xMGwtNDY2LTQ2NnEtMTAtMTAtMTAtMjN0MTAtMjNsNTAtNTBxMTAtMTAgMjMtMTB0MjMgMTBsMzkzIDM5MyAzOTMtMzkzcTEwLTEwIDIzLTEwdDIzIDEwbDUwIDUwcTEwIDEwIDEwIDIzeiIvPjwvc3ZnPg==);
      background-repeat: no-repeat;
      background-position: ~'calc(100% - 2px)' center;
    }
  }
}

.form-control {
  color: @main-font-color;
  padding: 20px 40px;
  height: 63px;
  box-shadow: none;
  // border: 0;
  font-size: 1.4rem;
  font-weight: normal;
  background-color: #fff;
  border: 1px solid @color-grey5;
  border-radius: @input-border-radius;

  .panel-inverse &:focus {
    background: #f6f9fa;
  }


  select& {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHdpZHRoPSIxNzkyIiBoZWlnaHQ9IjE3OTIiIHZpZXdCb3g9IjAgMCAxNzkyIDE3OTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzOTUgNzM2cTAgMTMtMTAgMjNsLTQ2NiA0NjZxLTEwIDEwLTIzIDEwdC0yMy0xMGwtNDY2LTQ2NnEtMTAtMTAtMTAtMjN0MTAtMjNsNTAtNTBxMTAtMTAgMjMtMTB0MjMgMTBsMzkzIDM5MyAzOTMtMzkzcTEwLTEwIDIzLTEwdDIzIDEwbDUwIDUwcTEwIDEwIDEwIDIzeiIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-size: 37px;
    background-position: ~'calc(100% - 10px)' center;
    padding-right: 40px!important;

    &:focus {
      font-size: inherit;
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 1px solid #4a8ba4;
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHdpZHRoPSIxNzkyIiBoZWlnaHQ9IjE3OTIiIHZpZXdCb3g9IjAgMCAxNzkyIDE3OTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzOTUgNzM2cTAgMTMtMTAgMjNsLTQ2NiA0NjZxLTEwIDEwLTIzIDEwdC0yMy0xMGwtNDY2LTQ2NnEtMTAtMTAtMTAtMjN0MTAtMjNsNTAtNTBxMTAtMTAgMjMtMTB0MjMgMTBsMzkzIDM5MyAzOTMtMzkzcTEwLTEwIDIzLTEwdDIzIDEwbDUwIDUwcTEwIDEwIDEwIDIzeiIvPjwvc3ZnPg==);
      background-size: 31px;
      background-position: ~'calc(100% - 10px)' center;
      background-repeat: no-repeat;
      background-color: #f6f9fa;
    }

    > option {
      background: #f5f5f5;
      font-size: 1.4rem;
      width: 100%;

    }

    &.input-sm {
      background-size: 27px;
      border-radius: @input-border-radius;
      }

      &.input-lg {
       background-size: 50px;
       border-radius: @input-border-radius;
      }

    .app & {
      background-size: 27px;
      padding-right: 28px;
      border-radius: @input-border-radius;
      padding: 12px 12px;

      &.input-sm {
      background-size: 20px;
      border-radius: @input-border-radius;
      }

      &.input-lg {
      background-size: 50px;
      border-radius: @input-border-radius;
      padding-right: 55px!important;
      }
    }
  }

  &[readonly] {
    cursor: default;
    background: #fff;
    border: 1px solid transparent;
    border-bottom: 1px solid @color-grey5;
    &:focus {
      cursor: default;
      background: #fff;
      border: 1px solid transparent;
      border-bottom: 1px solid @color-grey5;
      .panel-inverse & {
        cursor: default;
        border: 1px solid transparent;
        border-bottom: 1px solid @color-grey5;
        background: #fff;
      }
    }
  }

  &[disabled] {
    opacity: 0.8;
    color:#94999d;
    background-color: @input-bg-color-disabled;
    border: 1px solid transparent;
    border-radius: @input-border-radius;

  }

  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #f6f9fa;
    border: 1px solid @interaction-info;
  }

  &.input-sm {
    height: @input-default-height;
    font-size: 1.4rem;
    border-radius: 3px;
  }

  &.input-lg {
    height: 80px;
    font-size: 2.6rem;
    border-radius: 3px;
  }

  .scania textarea&,
  .public textarea&,
  .app textarea& {
    height: auto;
  }

  .app & {
    padding: 10px 12px;
    height: @input-default-height;

    &.input-sm {
    height: @input-sm-height;
    font-size: 1.2rem;
    border-radius: 3px;
    }

    &.input-lg {
      height: @input-lg-height;
      font-size: 2.1rem;
      border-radius: 3px;
      line-height: 23px;
    }
  }
}


.form-condensed {
  .form-group {
    margin-bottom: 5px;
  }
  .form-control {
    &:extend(.bootstrap .input-sm);
  }
}

.checkbox-inline {
  display: inline-flex;
  padding-left: 0px;
   margin: 10px 0px 10px 0px;
}

.radio-inline {
  display: inline-flex;
  padding-left: 0px;
   margin: 10px 0px 10px 0px;
}
.form-horizontal {

  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline {
    padding-top: 9px;
  }
}

.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
  margin: 10px 0px 10px 0px;
}

.form-inline {

  .radio + .radio,
  .checkbox + .checkbox {
    margin-left: 10px;
  }
}

.form-control-static {
  padding-bottom: 0;
}

fieldset {
  border: 2px dotted silver;
  padding: 25px 25px 5px 5px;
  margin-bottom: 30px;

  &[disabled] {
    opacity: 0.8;
    .form-control {
      border: none;
      background-color: #f7f7f7;
    }
  }
}

// .radio-inline, .checkbox-inline {
//   padding-left: 0px;
// }

.nowrap {
  white-space: nowrap;
}

select {
  width: 100%;

  &::-ms-expand {
    display: none;
  }

  .well &::-ms-expand {
    display: none;
  }
}

.app {
  textarea& {
    height: auto;
  }

  select[multiple],
  select[size] {
    height: auto;
    background-image: none;
  }

  select[multiple] option {

    background: transparent;
  }
}

.help-block {
    position: relative;
    z-index: 0;
    top: 6px;
    background-color: #fff;
    color: @main-font-color;
    border-radius: 0;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    text-align: left;
    width: 100%;
    margin-bottom: 3px;
    font-size: 1.2rem !important;
    line-height: normal;
    font-weight: normal;
    padding: 8px;
    margin-top: 2px;
    border: 1px solid #f0f0f0;
    border-left: 4px solid @interaction-primary-app;

}

span.help-block,
.app span.help-block,
p.help-block,
.app p.help-block  {
    font-size: 1.2rem;
    color: @main-font-color;
    line-height: normal;
}

span.help-block,
.app span.help-block {
    display: inline;
}   

.has-info .help-block {
    border-left: 4px solid @interaction-info;
}

.has-primary .help-block {
    border-left: 4px solid @interaction-primary-app;
}

.has-success .help-block {
    border-left: 4px solid @interaction-success;
}

.has-warning .help-block {
    border-left: 4px solid @interaction-warning;
}

.has-danger .help-block,
.has-error .help-block {
    border-left: 4px solid @interaction-danger;
}