.input-group {
 &-addon {
   padding: 0px;
   font-size: inherit;
   color: #555;
   border: 1px solid #94999d;
   border-radius: 0px;
   padding-right: 15px;
   padding-left: 15px;
    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
   .radio, .checkbox {
     position: relative;
     display: block;
     min-height: 0px;
     margin-top: 0px;
     margin-bottom: 0px;
   }
   label {
     padding: 0px;
   }
   input[type=checkbox] + span {
    border: none;
    margin-right:0px;
    line-height:0;

    &:before {
      margin: 0px;
    }
   }
   input[type=radio] + span:before {
    border: none;
   }
 }
 &-btn {

      .btn-default {
        border: 1px solid #94999d;
      }
     &:first-child > .btn {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-right: 0;
      &:hover {
        border: 1px solid #94999d;
        border-right: 0;
      }
     }
     &:last-child > .btn {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-left: 0px;
      &:hover {
        border: 1px solid #94999d;
        border-left: 0px;
      }
     }
     & > .btn,
     & > .btn-group {
       margin-right: 0px;
       margin-left: 0px;
       // border: 1px solid #94999d;

       &:hover {
        border: 1px solid #e2e2e2;
       }
     }
   }
}