.mixin-opacity(@opacityValue: 100) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{opacityValue})";
  filter: alpha(opacity=@opacityValue);
  -moz-opacity: @opacityValue * 0.01;
  -khtml-opacity: @opacityValue * 0.01;
  opacity: @opacityValue * 0.01;
}

.btn-mix(@type) {
  @color: 'btn-@{type}-color';
  @bg: 'btn-@{type}-bg';
  @border: 'btn-@{type}-border';

  &,
  &:focus,
  &:disabled,
  &.disabled,
  fieldset[disabled] & {
    color: @@color;
    background-color: @@bg;
    border-color: @@border;
  }
  &:hover,
  &:active,
  &.active,
  .open .dropdown-toggle& {
    color: @@color;
    background-color: lighten(@@bg, 10%);
    border-color: lighten(@@bg, 10%);
  }
}

.panel-mixin(@type) {
  @color-panel: 'interaction-@{type}';
  border-color:#dadada;

  > .panel-heading {
    color:white;
    background-color: @@color-panel;
  }

  .table {

    caption {
      background-color: @@color-panel;
    }
  }

  .table-panel& {
    border-color: #dadada;
    > thead,
    > thead:first-child {
      background-color: @@color-panel;
      > tr,
      > tr:first-child {
        > th,
        > th:first-child {
          border-color: @@color-panel;
        }
      }
    }
  }
}

.label-mixin(@type) {
  @color-label: 'label-@{type}-app-bg';

  background-color: @@color-label;
  color: #fff;
  border: 1px solid @@color-label;
}

.icon-mixin(@icon @content) {
  .@{icon}:before {
    content: @content;
  }
}

.radio-mixin() {
  + span {
    position: relative;
    height: 30px;
    width: 30px;
    // margin-left: -25px;
    display: inline-block;
    border: thin solid @radio-check-11;
    border-radius: 30px;
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.9);
    -moz-transform-origin: 0 0;
    zoom: 0.8;
    vertical-align: text-bottom;

    .app & {
      width: 20px;
      height: 20px;
    }

    &:before {
      content: "";
      display: inline-block;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      border: 3px solid @radio-check-1;
    }
    &:hover:before {
      border-color:@radio-check-5;
      background-color: @radio-check-5;
    }
  }

  // States
  &:checked + span {

    &:before {
      border: 3px solid @radio-check-1;
      background-color:  @radio-check-11;
    }
    &:hover:before {
      border: 3px solid @radio-check-1 ;
      background-color: @radio-check-9 ;
    }
  }
  &:disabled + span {
    border-color:@radio-check-7;

    &:before {
      border-color: @radio-check-1;
      background-color: @radio-check-7 ;
    }
  }
}

.checkbox-mixin() {

  height: 26px;
  width: 26px;
  position: static;
  display: inline-block;
  vertical-align: text-bottom;

  .checkbox & {
    position: static;
  }

  .app & {
    height: 20px;
    width: 20px;
    position: static;
    display: inline-block;
    vertical-align: text-bottom;
  }

  + span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    margin-left: -35px;
    cursor: pointer;

    .app & {
      margin-left: 0px;
    }

    &:before {
      content: "";
      display: inline-block;
      width: 30px;
      height: 30px;
      background-color: @radio-check-1-checkbox;
      border: 1px solid @radio-check-5-checkbox;
      border-radius: 1.2px;
      -moz-transform: scale(0.8);
      -ms-transform: scale(0.9);
      -moz-transform-origin: 0 0;
      zoom: 0.8;
      .app & {
        width: 20px;
        height: 20px;
      }
    }
  }

  &:hover + span:before {
    background-color: @radio-check-2-checkbox;
  }

  &:checked + span:before {
    content: "";
    background: @radio-check-checkmark;
    background-size: 20px;
    background-position: 50%;
    background-repeat: no-repeat;
    border-color: @radio-check-4-checkbox;
    background-color: @radio-check-4-checkbox;

    .app & {
      font-size: 11px;
      line-height: 12px;
      background-size: 15px;
    }
  }

  &:disabled {

    &,
    &:hover {

      + span {

        &:before {
          background-color: @radio-check-1-checkbox;
          border-color: @radio-check-3-checkbox;
          content: "";
          background:@radio-check-checkmark-disabled;
          background-size: 13px;
          background-position: 50%;
          background-repeat: no-repeat;
          cursor: not-allowed;
        }
      }
    }

    &:checked + span:before {
      opacity: 0.2;
      border: none;
    }

    &:disabled:checked:hover + span:before {
      background-color: @radio-check-4-checkbox;
      border: none;
    }
  }

  &:checked {

    + span {
      border-color: @radio-check-4-checkbox;

      &:before {
        background-color: @radio-check-4-checkbox;
      }
    }

    &:hover {

      + span {
        border-color: @radio-check-5-checkbox;

        &:before {
          background-color: @radio-check-5-checkbox;
          border: 1.1px solid @radio-check-5-checkbox;
        }
      }
    }
  }

}

.config() {

  @radio-check-1: #ffffff;
  @radio-check-2: rgba(255, 255, 255, 0.6);
  @radio-check-3: rgba(255, 255, 255, 0.9);
  @radio-check-4: rgba(255, 255, 255, 0.1);

  @radio-check-5: #f2f7f9;
  @radio-check-6: #f0f0f0;
  @radio-check-7: #e2e2e2;
  @radio-check-8: #94999d;
  @radio-check-9: #033a6a;
  @radio-check-10: #242424;
  @radio-check-11: #041e42;



  @radio-check-1-checkbox:#ffffff;
  @radio-check-2-checkbox: #f2f7f9;
  @radio-check-3-checkbox:#e2e2e2;
  @radio-check-4-checkbox:#242424;
  @radio-check-5-checkbox:#033a6a;

  @radio-check-checkmark:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjM2Ljk4OCIgaGVpZ2h0PSIyMzYuOTg4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPiA8Zz4gIDx0aXRsZT5iYWNrZ3JvdW5kPC90aXRsZT4gIDxyZWN0IGZpbGw9Im5vbmUiIGlkPSJjYW52YXNfYmFja2dyb3VuZCIgaGVpZ2h0PSIyMDIiIHdpZHRoPSIyMDIiIHk9Ii0xIiB4PSItMSIvPiA8L2c+IDxnPiAgPHRpdGxlPkxheWVyIDE8L3RpdGxlPiAgPHBvbHlnb24gZmlsbD0iI2ZmZmZmZiIgaWQ9InN2Z18xIiBwb2ludHM9IjE5OC4wOTgsMjQuMzI2IDg3LjU0MywxMzQuODgxIDM4Ljg5MSw4Ni4yMjkgMCwxMjUuMTIxIDg3LjU0MywyMTIuNjYyIDIzNi45ODgsNjMuMjE3ICIvPiAgPGcgaWQ9InN2Z18yIi8+ICA8ZyBpZD0ic3ZnXzMiLz4gIDxnIGlkPSJzdmdfNCIvPiAgPGcgaWQ9InN2Z181Ii8+ICA8ZyBpZD0ic3ZnXzYiLz4gIDxnIGlkPSJzdmdfNyIvPiAgPGcgaWQ9InN2Z184Ii8+ICA8ZyBpZD0ic3ZnXzkiLz4gIDxnIGlkPSJzdmdfMTAiLz4gIDxnIGlkPSJzdmdfMTEiLz4gIDxnIGlkPSJzdmdfMTIiLz4gIDxnIGlkPSJzdmdfMTMiLz4gIDxnIGlkPSJzdmdfMTQiLz4gIDxnIGlkPSJzdmdfMTUiLz4gIDxnIGlkPSJzdmdfMTYiLz4gPC9nPjwvc3ZnPg==);

  @radio-check-checkmark-disabled:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjAuMjg1IDJsLTExLjI4NSAxMS41NjctNS4yODYtNS4wMTEtMy43MTQgMy43MTYgOSA4LjcyOCAxNS0xNS4yODV6Ii8+PC9zdmc+);

}
.config(@mode) when (@mode = inverse) {

  @radio-check-1: #041e42;
  @radio-check-2: rgba(255, 255, 255, 0.6);
  @radio-check-3: rgba(255, 255, 255, 0.9);
  @radio-check-4: rgba(255, 255, 255, 0.1);

  @radio-check-5: #033a6a;
  @radio-check-6: #f0f0f0;
  @radio-check-7: #94999d;
  @radio-check-8: #94999d;
  @radio-check-9: #ffffff;
  @radio-check-10: #242424;
  @radio-check-11: #ffffff;


  @radio-check-1-checkbox:#041e42;
  @radio-check-2-checkbox: #033a6a;
  @radio-check-3-checkbox:rgba(255, 255, 255, 0.6);
  @radio-check-4-checkbox:#ffffff;
  @radio-check-5-checkbox:rgba(255, 255, 255, 0.6);


  @radio-check-checkmark:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjAuMjg1IDJsLTExLjI4NSAxMS41NjctNS4yODYtNS4wMTEtMy43MTQgMy43MTYgOSA4LjcyOCAxNS0xNS4yODV6Ii8+PC9zdmc+);
  @radio-check-checkmark-disabled:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjM2Ljk4OCIgaGVpZ2h0PSIyMzYuOTg4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPiA8Zz4gIDx0aXRsZT5iYWNrZ3JvdW5kPC90aXRsZT4gIDxyZWN0IGZpbGw9Im5vbmUiIGlkPSJjYW52YXNfYmFja2dyb3VuZCIgaGVpZ2h0PSIyMDIiIHdpZHRoPSIyMDIiIHk9Ii0xIiB4PSItMSIvPiA8L2c+IDxnPiAgPHRpdGxlPkxheWVyIDE8L3RpdGxlPiAgPHBvbHlnb24gZmlsbD0iI2ZmZmZmZiIgaWQ9InN2Z18xIiBwb2ludHM9IjE5OC4wOTgsMjQuMzI2IDg3LjU0MywxMzQuODgxIDM4Ljg5MSw4Ni4yMjkgMCwxMjUuMTIxIDg3LjU0MywyMTIuNjYyIDIzNi45ODgsNjMuMjE3ICIvPiAgPGcgaWQ9InN2Z18yIi8+ICA8ZyBpZD0ic3ZnXzMiLz4gIDxnIGlkPSJzdmdfNCIvPiAgPGcgaWQ9InN2Z181Ii8+ICA8ZyBpZD0ic3ZnXzYiLz4gIDxnIGlkPSJzdmdfNyIvPiAgPGcgaWQ9InN2Z184Ii8+ICA8ZyBpZD0ic3ZnXzkiLz4gIDxnIGlkPSJzdmdfMTAiLz4gIDxnIGlkPSJzdmdfMTEiLz4gIDxnIGlkPSJzdmdfMTIiLz4gIDxnIGlkPSJzdmdfMTMiLz4gIDxnIGlkPSJzdmdfMTQiLz4gIDxnIGlkPSJzdmdfMTUiLz4gIDxnIGlkPSJzdmdfMTYiLz4gPC9nPjwvc3ZnPg==);


}