/*** MODAL SIZES ***/
.modal {

  &-header &-title {
    font-family: 'Scania Sans Headline';
    font-weight: bold;
    color: @color-brand-01;
  }

  &-open & {
    overflow-x: hidden;
    overflow-y: auto;
  }

  &-body {
    font-size: 1.6rem;
  }

  &-content {
    border-radius: 0;
  }

  &-title {
    padding: 0;
  }

  &-sm {
    width: 80%;
    max-width: 400px;
  }

  &-md {
    width: 80%;
    max-width: 600px;
  }

  &-lg {
    width: 80%;
    max-width: 900px;
  }

  &-xl {
    width: 99%;
    max-width: 1440px;
  }
}