
:host-context(.header-is-sticky) {

  .symbol.fixed {
    transition: top 100ms ease-in-out;
    top: 9px;
  }
}
:host-context(.app) {

  .symbol {

    &.fixed {
      position: fixed;
      top: 8px;
      right: 32px;
    }
  }
}
:host-context(.header-is-sticky.app) {

  .symbol.fixed {
    top: 6px;
    right: 10px;
    width: 35px;
    height: 35px;
    background-size: 35px 35px;
  }
}

:host {
  display: block;
  overflow: hidden;

  .symbol {

    &.fixed {
      position: fixed;
      top: 21px;
      right: 32px;
    }
  }
}

@media (max-width: 991px) {

  :host {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1100;
  }
}