
<!--
___

<demo>
  <c-corporate-header site-name="Global">
    <nav-item location="#/">World Entry</nav-item>
    <nav-item location="#/">Scania Group</nav-item>
  </c-corporate-header>
</demo>

___
-->

<dom-module id="c-corporate-header-variation-1">
  <template>
    <style>
      /* Corporate header variation 1 */

      :host {
        display: block;
      }
    </style>

    <content></content>

  </template>

  <script>
    Polymer({
      is: 'c-corporate-header-variation-1'
    });
  </script>
</dom-module>
