
extends ../component

append dependencies
  script(src="../../../../jquery/dist/jquery.min.js")
  script(src="../../../../jquery-ui-dist/jquery-ui.min.js")
  script(src="../../../../bootstrap/dist/js/bootstrap.js")
  script(src="../../../../lobipanel/dist/js/lobipanel.min.js")
  link(rel="import" href="toolbox-panel/toolbox-panel.html")
  link(rel="import" href="variation-1.html")

append style_dependencies
  link(rel="stylesheet" href="../../../../lobipanel/dist/css/lobipanel.css")

block comment
  include comment.md

block style
  include style.css

append template
  include template.html

block script
  include script.js
