
<!--
___

#### Variation-1

Variation 1 does not include the footer.

<demo>
  <c-panel-grid count-items variation="variation-1" title="positions found">
    <panel-item>
      <h5 header>Department of Policy</h5>
      <h3>Adventurer needed</h3>
      <h4>Glasgow, Scotland</h4>
      <p>Every panel adjusts its height acording to the hight of the heights panel.</p>
    </panel-item>

    <panel-item>
      <h5 header>Department of Policy</h5>
      <h3>Adventurer needed</h3>
      <h4>Glasgow, Scotland</h4>
      <p>Every panel adjusts its height acording to the hight of the heights panel, so that the grid is always aligned</p>
    </panel-item>

    <panel-item>
      <h5 header>Department of Policy</h5>
      <h3>Adventurer needed</h3>
      <h4>Glasgow, Scotland</h4>
      <p>Every panel adjusts its height acording to the hight of the heights panel.</p>
    </panel-item>
  </c-panel-grid>
</demo>

___

-->

<dom-module id="c-panel-grid-variation-1">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <content></content>

  </template>
  <script>

    Polymer({
      is: 'c-panel-grid-variation-1'
    }); 

  </script>
</dom-module>
