
<link rel="import" href="variation-1.html">
<link rel="import" href="variation-2.html">
<link rel="import" href="variation-3.html">
<link rel="import" href="variation-4.html">
<link rel="import" href="variation-5.html">
<!-- <link rel="import" href="variation-11.html"> -->

<link rel="import" href="../../Navigation/main-hero/main-hero.html">

<!--
Cross-sell modules used to tease content and link out to other areas of the site.

@dev
-->

<dom-module id="c-teaser">
  <template>
    <style>
      /* Teaser component */

      :host {
        display: block;

        &[fullbleed] {

          .teaser-items {
            margin-left: 0;
            margin-right: 0;
          }
        }

        .teaser-info {
          text-align: center;
          width: 60%;
          margin: 0 auto 70px;
        }
        ::content {

          // Is put inside "content" to make the rule less specific
          .teaser-items {
            font-size: 0;
            margin-left: -15px;
            margin-right: -15px;
          }
        }
        .btn-container {
          margin-top: 45px;
          text-align: center;
        }
      }
    </style>

    <!-- <div is="{{variation}}"> -->

      <template is="dom-if" if="{{info(headline, description)}}">
        <div class="teaser-info">
          <template is="dom-if" if="{{headline}}">
            <h1>{{headline}}</h1>
          </template>

          <template is="dom-if" if="{{description}}">
            <p>{{description}}</p>
          </template>
        </div>
      </template>

      <div class="teaser-items">
        <content></content>
      </div>

      <template is="dom-if" if="{{link}}">
        <div class="btn-container">
          <a href="{{link}}" class="btn btn-primary">{{linkText}}</a>
        </div>
      </template>

    <!-- </div> -->

  </template>

  <script>
    Polymer({
      is: 'c-teaser',
      dependencies: ['jquery'],
      properties: {
        headline: String,
        description: String,
        link: String,
        linkText: {
          type: String,
          value: 'Read more'
        }
      },
      created: function() {
        var self = this,
            variation = this.attributes.variation.value;

        this.className += ' ' + this.localName + '-' + variation;

        /*var XFooProto = Object.create(HTMLElement.prototype);

        var XFooExtended = document.registerElement('x-foo-extended', {
          prototype: XFooProto,
          extends: 'c-teaser-variation-1'
        });*/

        /*$(this.children).each(function() {
          $(this).attr('variation', variation);
        })*/
      },
      info: function(headline, description) {
        return headline || description;
      }
    });
  </script>
</dom-module>

<!---->

<dom-module id="c-teaser-item">
  <template>
    <style>
      /* Teaser item */

      :host {
        display: inline-block;
        font-size: medium;
        vertical-align: top;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;

        &.light .teaser-info {
          background-color: #fff;
        }
        &.dark .teaser-info {
          background-color: #eee;
        }

        .teaser-info {
          text-align: center;
          font-size: 0.8em;
        }
        h2 {
          font-size: 1.9em;
          margin-top: 0;
        }
        p {
          margin-bottom: 0;
        }
        p + .btn {
          margin-top: 30px;
        }
        c-main-hero ::content h1 {
          font-size: 2em;
        }
      }
    </style>

    <template is="dom-if" if="{{image}}">
      <template is="dom-if" if="{{!imageText}}">
        <div class="image">
          <img src="{{image}}" alt="{{headline}}" title="{{headline}}">
        </div>
      </template>

      <template is="dom-if" if="{{imageText}}">
        <c-main-hero image="{{image}}">
          <h2>{{imageText}}</h2>
        </c-main-hero>
      </template>
    </template>

    <div class="teaser-info">
      <template is="dom-if" if="{{headline}}">
        <h2 class="item-headline">{{headline}}</h2>
      </template>

      <p class="item-text">
        <content></content>
      </p>

      <template is="dom-if" if="{{link}}">
        <a href="{{link}}" class="btn">{{linkText}}</a>
      </template>
    </div>

  </template>

  <script>
    Polymer({
      is: 'c-teaser-item',
      properties: {
        fullbleed: {
          type: Boolean,
          value: true
        },
        variation: 0,
        headline: String,
        image: String,
        imageText: {
          type: String,
          value: false
        },
        link: String,
        linkText: {
          type: String,
          value: 'Read more'
        }
      }
    });
  </script>
</dom-module>

<script>
  /* Automatically adding of component variations */
  /*$.get(window.version_root + 'html/Content + Teasers/teasers/', function(content) {
    content = $('<div />').html(content);
    $('a[href*=variation]', content).each(function() {
      CorporateUi.importLink(this.href, 'import');
      //self.importHref([this.href]);
    });
  });*/
</script>
