
<!--
___

### Variation-2

Variation 2

<demo>
  <c-teaser variation="2" headline="Tailored for you" description="Based around your area of industry and application, our tailored made packages are moulded around your needs." link="#test" link-text="Discover total solutions">
    <c-teaser-item headline="Modularised design" image="https://static.scania.com/resources/images/demo/modules.jpg"></c-teaser-item>
    <c-teaser-item headline="Tailored servicing & fleet management" image="https://static.scania.com/resources/images/demo/tailored.jpg"></c-teaser-item>
    <c-teaser-item headline="Flexible financing" image="https://static.scania.com/resources/images/demo/finance.jpg"></c-teaser-item>
    <c-teaser-item headline="Personalized training" image="https://static.scania.com/resources/images/demo/personalized.jpg"></c-teaser-item>
  </c-teaser>
</demo>

___
-->

<dom-module id="c-teaser-variation-2">
  <template>
    <style>
      /* Teaser variation2 */

      :host {
        display: block;

        ::content {

          .teaser-items {
            margin-left: -45px;
            margin-right: -45px;
            text-align: center;
          }
          c-teaser-item {
            width: 25%;
            padding-left: 45px;
            padding-right: 45px;

            h2 {
              font-family: "Scania Sans Bold";
              font-size: 1.4em;
              text-transform: uppercase;
            }
            img {
              width: auto;
            }
          }
        }
      }
    </style>

    <content></content>

  </template>

  <script>
    Polymer({
      is: 'c-teaser-variation-2'
    });
  </script>
</dom-module>
