extends ../component

append dependencies
  link(rel="import" href="variation-1.html")
  link(rel="import" href="variation-2.html")
  link(rel="import" href="../navbar/nav-item/nav-item.html")
  link(rel="import" href="sub-navigation/sub-navigation.html")
  link(rel="import" href="../fullscreen/fullscreen.html")
  script(src="/vendors/components/pure-js/js-cookie/2.2.0/src/js.cookie.js")

block comment
  include comment.md

block style
  include style.css

append template
  include template.html

block script
  include script.js
