@import (reference) "../../global/less/corporate-ui/variables";
@import (reference) "../../global/less/corporate-ui/navigation";

:host {
  display: none;
  // we set height on this element dynamicly, this rule make it look smoother
  transition: height 100ms ease;
  --more-visibility: hidden;

  .navbar-footer {
    display: none;
  }
  .navbar-collapse {
    &:extend(.navbar-default .navbar-header + .navbar-collapse);

    // We set fontsize 0 to remove extra spaces between nav-item
    font-size: 0;
  }

  ::content {

    primary-items {
      display: inline-block;
    }
    secondary-items {
      display: inline-block;
    }
    primary-items,
    secondary-items {
      
      > nav-item > a {
        // Fixes issue where content could overflow its container.
        // Making a horizontal scrollbar get displayed when a
        // secondary navigation is available
        overflow: hidden;
      }
    }

    > .navbar {
      // Inherit min-height from its parent js calculated min-height
      min-height: inherit;
      box-shadow: 0 0 0 0 transparent;
      transition: box-shadow 0.15s ease-in-out;
    }
    .navbar-nav.navbar-right:last-child {
      margin-right: 0;
    }
    .more {
      visibility: var(--more-visibility);

      > a {
        display: block;
      }
      li {
        display: none;

        a {
          text-transform: uppercase;
        }
      }
    }
    .dropdown-menu {
      max-height: 70vh;
      overflow-y: auto;
      z-index: 1001;
      -webkit-box-shadow: 0 9px 12px rgba(0, 0, 0, .175);
      box-shadow: 0 9px 12px rgba(0, 0, 0, .175);

      a {
        padding-top: 9px;
        padding-bottom: 9px;
        text-transform: none;

        &:hover {
         background-color: transparent;
        }
      }
    }
  }
}

:host-context(.app) {

  // Might wanna move this to nav-item or things in nav-item here later on...
  ::content nav-item {

    &:first-child a:before {
      padding-left: 0;
    }

    a {
      &:extend(.app .navbar-default .navbar-header + .navbar-collapse .navbar-nav a);
    }

    .dropdown-menu {

      a {
        padding-top: 7px;
        padding-bottom: 7px;
      }
    }
  }
}

:host-context(.header-is-sticky) {

  ::content {

    > .navbar {
      position: fixed;
      // In ie and ff the sub-nav´s position is calculated wrong by 0.5px adding a small gap
      // between main and sub navigation, this for some reason solves that :O
      top: -1px;
      left: 0;
      right: 0;
      -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
      box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
    }
    .navbar-nav.navbar-right {
      padding-right: 80px;
    }
  }
}

:host-context(body.fullscreen) {

  ::content {

    .navbar-nav.navbar-right {
      margin-right: 1px; // If we use 0 a horizontal scrollbar will be shown... :O
    }
  }
}

:host-context(.app.header-is-sticky) {

  ::content .navbar-nav.navbar-right {
    padding-right: 60px;
  }
}

@media (max-width: 991px) {
  :host {
    min-height: auto !important;

    .navbar-footer {
      height: 55px;

      ::content nav-item {
        padding-left: 0;
        padding-right: 0;
        margin: 0;

        a {
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
    }
    .navbar-toggle {
      display: inline-block;
      float: left;
      border: 1px solid #e2e2e2;
      padding: 0;
      margin: 0 0 -1px;
      border-radius: 0;

      &:hover {
        background-color: transparent;
      }

      ::content {

        a {
          padding: 19px;
          font-size: 1.4em;

          &:hover,
          &:focus {
            color: inherit;
            outline: none;
          }
          &.collapsed .icon-expander:before {
            content: "\e6b1";
          }

          > span {
            padding: 0;
            border-left: 0;
          }
          .icon-expander {
            display: inline-block;
            width: 18px;

            &:before {
              content: "\e60d";
            }
          }
        }
      }
    }
    nav .navbar-collapse {
      overflow: visible;

      &.collapsing {
        overflow-y: hidden !important;

        + .navbar-footer {
          display: block;
        }
      }
      &.collapse {
        display: none !important;

        &.in {
          display: block !important;

          + .navbar-footer {
            display: block;
          }
        }
      }
    }
    > .navbar-default {
      display: none;
      min-height: 0;
    }

    ::content {

      nav-item {

        a {
          padding-top: 25px;
          padding-bottom: 25px;

          &:focus {
            color: inherit;
          }

          > span {
            border-left: 0;
            padding-left: 2rem;
            padding-right: 2rem;

            &[class^="icon-"] {
              line-height: inherit;
            }
          }
        }
      }
      primary-items {
        display: block;

        > nav-item {
          background-color: #f5f5f5;
          position: relative;

          > a:hover span {
            text-decoration: none;
          }
        }
      }
      secondary-items {
        display: block;

        > nav-item {
          padding: 0;
          position: relative;

          a {
            padding: 10px 30px;

            span {
              padding: 0;
            }
          }
        }
      }

      .nav {
        float: none !important;
      }
      .navbar-left {

        &:hover ::content {

          nav-item a,
          ~ c-navbar nav-item a,
          ~ sub-navigation nav-item a {
            color: #041e42;
          }
        }
      }
      .nav-collapse-container {
        height: 100%;
        background-color: #f5f5f5;
        overflow-y: auto;
        -ms-overflow-style: auto;
      }
      .dropdown .dropdown-menu {
        max-height: auto;
        overflow: visible;
      }
      .more {
        display: none !important;
      }
    }
  }

  :host-context(.navigation-open) {

    > .navbar-default {
      display: block;
    }
  }
}