
extends ../../../component

append dependencies
  script(src="/vendors/frameworks/angular/1.5.5/angular.min.js")
  script(src="https://rawgithub.com/angular-ui/ui-sortable/master/src/sortable.js")

block style
  include style.css

append template
  include template.html

block script
  include script.js
