@agora-color: #c1d72d;

.media-list(@size) {
  @img-size: floor(((@size)*0.85)/10)*10;
  @padding: ((@size)*0.1);
  .img {
    float: left;
    padding: @padding;
    background-color: #fff;
    overflow: hidden;
    margin-left: -@size;
    width: @size;
    height: @size;
    img {
      width: @img-size;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
    }
  }
}

body > .container {
  margin-top: 50px;
}
.agora-messages-wrapper {
  .panel {
    margin-bottom: 0;
    .panel-body {
      padding: 0;
      width: 400px;
      background-image: url("../../images/agora-pattern.png");
    }
  }
  .item {
    height: 600px;
  }
  .agora-message {
    background-color: #fff;
    margin-left: 60px;
    margin-bottom: 100px;
    padding: 10px 10px 10px 0;
    height: 500px;
    overflow-y: scroll;
    .agora-message-header {
      > * {
        margin-left: 10px;
      }
      a.user {
        .media-list(60px);
        .img {
          position: absolute;
          margin-top: -30px;
        }
        &:hover {
          color: #2a6496;
          text-decoration: underline !important;
        }
      }
    }
    .agora-message-content {
      > * {
        margin-left: 10px;
      }
      p {
        margin-bottom: 5px;
        a {
          &:hover {
            color: #2a6496;
            text-decoration: underline !important;
          }
        }
      }
    }
    .message-replies {
      > * {
        margin-left: 10px;
      }
      .reply {
        margin-top: 10px;
        margin-left: 40px;
        min-height: 40px;
        a.user {
          .media-list(40px);
          &:hover {
            color: #2a6496;
            text-decoration: underline !important;
          }
        }
        .date {
          margin-left: 10px;
        }
        .reply-text {
          word-break: break-word;
          word-wrap: break-word;
          p {
            a {
              &:hover {
                color: #2a6496;
                text-decoration: underline !important;
              }
            }
          }
        }
        .counter {
          display: inline-block;
          margin-bottom: 6px;
        }
      }
      hr {
        margin: 0 10px;
      }
    }
  }
  .carousel-control {
    i {
      width: 30px;
      height: 30px;
      margin-top: -15px;
      font-size: 30px;
      position: absolute;
      top: 50%;
      z-index: 5;
      display: inline-block;
      .icon-chevron-left {
        left: 50%;
        margin-left: -10px;
      }
      .icon-chevron-right {
        right: 50%;
        margin-left: -10px;
      }
    }
  }
  .carousel-indicators {
    margin-left: -30% !important;
    li {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin: 1px;
      text-indent: -999px;
      border: 1px solid darken(@agora-color, 3%);
      border-radius: 16px;
      cursor: pointer;
      &.active {
        margin: 0;
        width: 18px;
        height: 18px;
        background-color: darken(@agora-color, 3%);
      }
    }
  }
  .event {
    i {
      font-size: 45px;
      color: darken(@agora-color, 2%);
    }
    .dl-horizontal {
      display: inline-block;
      margin-bottom: 10px;
      dt {
        width: 80px;
      }
      dd {
        margin-left: 90px;
      }
    }
    .event-details {
      display: block;
      font-style: italic;
      &:before {
        content: '"';
      }
      &:after {
        content: '"';
      }
    }
    .event-members {
      display: block;
      margin-bottom: 10px;
    }
  }
  .poll-alt {

  }
  .poll {
    .headline {
      margin-left: 60px;
      p {
        margin-left: 10px;
        float: left;
        margin-top: 5px;
      }
      i {
        margin-left: -60px;
        margin-top: 10px;
        float: left;
        font-size: 45px;
        color: darken(@agora-color, 2%);
        overflow: hidden;
      }
    }
    .content {
      .dl-horizontal {
        display: inline-block;
        margin: 0 0 20px 0;
        dt {
          width: 130px;
          &:after {
            content: ":";
          }
        }
        dd {
          margin-left: 140px;
        }
      }
      &:before, &:after {
        display: table;
        content: ' ';
      }
      &:after {
        clear: both;
      }
    }
    .poll-details {
      display: block;
      font-style: italic;
      &:before {
        content: '"';
      }
      &:after {
        content: '"';
      }
    }
    .poll-members {
      display: block;
      margin-bottom: 10px;
    }
  }
  .reply-link {
    position: absolute;
    bottom: 65px;
    left: 60px;
    background-color: #fff;
    padding: 5px 0;
    width: 340px;
    overflow: hidden;
    &:hover a {
      background-color: #418bca;
      color: #fff;
    }
    a {
      display: block;
      padding: 5px 10px;
      color: #555;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
