//SCANIA BOOTSTRAP
//GLOBAL HEADER

//VARS
@agora-color:                    #C1D72D;
@gh_input-field-bg:              #333;
@gh_input-field-color:           #ccc;
@gh_buttons-bg:                  #444;

/* This class is added to "#global_header" and "body" with JS after GH-header-status has been set via cookie, to avoid transition during first load */
.gh-transition-active {
  -webkit-transition: top 0.5s ease-in-out, margin-top 0.5s ease-in-out;
  moz-transition: top 0.5s ease-in-out, margin-top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out, margin-top 0.5s ease-in-out;
}

body.goshow .navbar#global_header {
  top: 0px;
}

body.goshow {
  margin-top: 52px;
}
.bootstrap {
//* Customizations to override other stylesheets specifically for the navbar *//
.navbar#global_header {
  // Here we import special dependencies to make the navbar useable without including Scania Boostrap
  //@import "isolated-dependencies";

  top: -52px;
  font-size: 12px;
  font-family: Arial, Sans-serif;
  border-radius: 0;
  margin-bottom: 0;
  z-index: 1001;

  /*Scania logo*/
  .navbar-brand {
    // static
    //background-image: url("../../css/global/images/logos/Scania_Black_X-Small.gif");
    // sesoco
    background-image: url("../../images/header_logo.gif");
    background-repeat:no-repeat;
    background-position: left top;
    height: 35px;
    width: 41px;
    margin-left: 8px;
    margin-top: 6px;
  }


  //* Fixes to hinder drop-downs from expanding their parent  *//
  .navbar-collapse {
    max-height: none;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  //* / Fixes to hinder drop-downs from expanding their parent  *//


  .form-group {
    font-family: Arial, Helvetica;
  }

  .icon-home{
    color: #fff;
  }

  .form-control {
    font-size: 12px;
    color: #ccc;
    width: 200px;
    height: 28px;

    background-color: #595959;
    border: 1px solid #666;
    -webkit-transition: width 300ms ease-in-out, background 300ms ease-in-out;
    -moz-transition: width 300ms ease-in-out, background 300ms ease-in-out;
    -ms-transition: width 300ms ease-in-out, background 300ms ease-in-out;
    -o-transition: width 300ms ease-in-out, background 300ms ease-in-out;
    transition: width 300ms ease-in-out, background 300ms ease-in-out;

    -webkit-box-shadow: none;
    box-shadow: none;

  }

  .form-control:focus {
    background-color: #AFAFAF;
    border: 1px solid #999999;
    color: #3C3C3C;
  }

  [class^="icon-"], [class*=" icon-"] {
    font-size: 13px;
  }

  #mobile-search-form {
    padding: 0 15px 0 20px;
    border: none;
    box-shadow: none;
    margin: 11px 0 0 0;
    input {
      font-family: Arial, Sans-serif;
    }
    .form-group {
      margin: 0px 45px 0 25px;
    }
    .input-group-btn .btn {
      height: 28px;
    }
  }
  .search-form {
    width: 38%;
    margin-left: 70px;
    padding: 3px 0 0;
    position: relative;
    .input-group {
      input {
        width: 100%;
        margin-right: 4px;
        font-family: arial, 'sans serif';
      }
    }
    .input-group-btn .btn {
      height: 28px;
      padding: 0;
    }
    .btn-group {
      padding-top: 2px;
    }
    .form-group {
      width: 70%;
    }
    .form-control {
      width: 100%;
    }
  }
  .user-form {
    padding-left: 0;
    .user-stuff {
      margin-left: 0;
    }
  }


  .btn{
    font-family: Arial, Sans-serif;
    text-transform: none;
    background-color: @gh_buttons-bg;
    border: 1px solid lighten(@gh_buttons-bg, 5%);
    color: #bbb;
  }

  .btn .caret{
    border-top: 4px solid #eee;
  }

  .btn:hover{
    font-family: Arial, Sans-serif;
    background-color: lighten(@gh_buttons-bg, 10%);
    border: 1px solid lighten(@gh_buttons-bg, 15%);
    color: #ccc;
  }

  .btn-group .btn.dropdown-toggle{
    background-color:  lighten(@gh_buttons-bg, 5%);
  }

  .btn-xs {
    padding: 4px 9px;
    font-size: 12px;
  }

  //* Agora colored button *//
  .btn-agora {
    color: #00558E;
    background-color: @agora-color;
    border-color: darken(@agora-color, 10%);
    overflow: visible;
  }

  .btn-agora .caret{
    border-top: 4px solid #00558E;
    margin-left: 2px;
  }
  .btn-agora {
    &:hover .caret,
    &:focus .caret,
    &:active .caret,
    &.active .caret,
    .open .dropdown-toggle.btn-agora .caret {
    border-top: 4px solid #fff;
    }
  }
  .btn-agora:hover,
  .btn-agora:focus,
  .btn-agora:active,
  .btn-agora.active,
  .open .dropdown-toggle.btn-agora {
    color: #ffffff;
    background-color: darken(@agora-color, 8%);
    border-color: darken(@agora-color, 12%);
  }
  .btn-agora:active,
  .btn-agora.active,
  .open .dropdown-toggle.btn-agora {
    background-image: none;
  }
  .btn-agora.disabled,
  .btn-agora[disabled],
  fieldset[disabled] .btn-agora,
  .btn-agora.disabled:hover,
  .btn-agora[disabled]:hover,
  fieldset[disabled] .btn-agora:hover,
  .btn-agora.disabled:focus,
  .btn-agora[disabled]:focus,
  fieldset[disabled] .btn-agora:focus,
  .btn-agora.disabled:active,
  .btn-agora[disabled]:active,
  fieldset[disabled] .btn-agora:active,
  .btn-agora.disabled.active,
  .btn-agora[disabled].active,
  fieldset[disabled] .btn-agora.active {
    background-color: @agora-color;
    border-color: darken(@agora-color, 10%);
  }
  .agora-notice {
    z-index: 2000;
    position: absolute;
    bottom: -7px;
    left: -10px;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #ff6634;
    border-radius: 2px;
  }
  .btn-agora:hover .agora-notice,
  .btn-agora:focus .agora-notice,
  .btn-agora:active .agora-notice,
  .btn-agora.active .agora-notice,
  .open .dropdown-toggle.btn-agora .agora-notice {
    color: #ff6634;
    background-color: #fff;
  }

  //* / Agora colored button *//

  .navbar-form {
    padding-top: 3px;
  }

  .dropdown-menu {
      font-size: 12px;
      z-index: 1002;

      i {
        font-size: 1.1em;
      }

      //li a{
      // color: #333;
      //}
      li a:hover {
        cursor: pointer;
      }
      li.disabled a {
        color: #999;
        cursor: default;
      }
    }
    .navbar-brand {
      padding-right: 10px;
    }

    ul {
      margin: 0 !important;
    }
    li {
      font-size: 100%;
      font-family: Arial, Helvetica;
      clear: none;
      a {
        font-size: 100%;
        font-family: inherit;
      }
    }
    a:hover {
      text-decoration: none !important;
    }
    #button-label {
    display: !important inline;
    font-family: Arial, Sans-serif;
  }
  //* Navbar customizations *//
  #user_stuff {
    margin-left: 20px;
  }

  //* Navbar customizations *//

/* Quicknav search results */
  #QuikNavResult {
    font-family: Arial, 'Sans Serif';
    left: 510px;
    top: 51px;
    position: absolute;
    z-index: 1000;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;

    font-size: 12px;
    background-color: #FFF;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;

    /* General styles for links in the search results */
    /* Styles for search result icons */

    .common(@family: 'FontAwesome', 'Sans Serif'; @weight: normal) {               //when called adds shared paramters of all search result a-elements
      padding-left: 0;
      background: none;
      background-color: transparent;
      font-family: 'FontAwesome', Arial, 'Sans Serif';
      font-size: 10px;
      &:before {
        margin: 0 10px;
        font-family: @family;
        font-weight: @weight;
      }
    }
    .unique(@linkcode; @family: ''; @weight: ''; @size: '') {      //when called adds each unique subclass its own icon in the :before pseudo element
      &:before {                                                   //takes three arguments where the last two are optional local overrides
        content: @linkcode;
        font-family: @family;
        font-weight: @weight;
        font-size: @size;
      }
    }

    a {
      background-color: transparent;
      font-family: 'FontAwesome', Arial, 'Sans Serif';
      font-size: 10px;
      &:hover {
        background-color: transparent !important;
        color: #fff !important;
      }

      &.profile,
      &.homepage,
      &.subhomepage,
      &.wwwLink,
      &.org,
      &.tag,
      &.wikicategory,
      &.channel {
        .common
      }
      &.profile {
        .unique("\f007")
      }
      &.homepage {
        .unique("\f015"; @size: 12px;)
      }
      &.subhomepage {
        .unique("\f015")
      }
      &.wwwLink {
        .unique("\f0ac")
      }
      &.org {
        .unique("\f0e8")
      }
      &.tag {
        .unique("\f02b")
      }
      &.wikicategory {
        .unique("W"; @family: Serif; @weight: bold;)
      }
      &.channel {
        .unique("\f0a1")
      }
    }

    /* / Styles for search result icons */
    /* / General styles for links in the search results */

    /* Ge varannan meny-item grå/vit bakgrund */
    .ajaxlink i {
      margin: none;
    }
    .ajaxlink {
      background-color: #f0f0f0;
    }
    .ajaxlink.even {
      background-color: #ffffff;
    }
    .ajaxlink:hover {
      background-color: #428BCA;
    }
    /* / Ge varannan meny-item grå/vit bakgrund */

    #SearchHeaderOuter {
      background-color: #FFF;
      height: 22px;
    }
    #SearchHeaderInner {
      margin: 0px 15px 0px 15px;
      span {
        padding-right: 60px;
        font-family: Arial, 'Sans Serif';
      }
      a.description {
        color: #999;
        display: inline;
        font-family: Arial 'Sans serif';
        font-size: 11px;
        text-decoration: none;
      }
      a.description:hover {
        color: #000 !important;
      }
      i {
        color: #fff;
        float: right;
        margin-top: 0.25em;
      }
    }
    #SearchTitleOuter {
      background-color: #fff;
      height: 22px;
      #SearchTitleInner.description {
        margin: 0px 0px 0px 15px;
        color: #666;
        font-style: italic;
        span {
          font-family: Arial, 'Sans Serif';
          font-size: 11px;
          font-weight: 100;
        }
      }
    }
  }
/* / Quicknav search results */

/* Ask a collegue on agora dropdown styling */
@msg-color: #808080;
  ul#agora {
    @import "ask";
    ul#sub {
      border-radius: 0;
      padding: 0;
    }
  }






  /* / Ask a collegue on agora dropdown styling */
  /*Submenu*/
  .dropdown-submenu { position: relative; }
  .dropdown-submenu > .dropdown-menu#sub {
    //display: none;
    top: 0;
    right: 100%;
    margin-top: -6px;
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    li#reply {
      padding-top: 5px;
    }
  }
  .dropdown-submenu > .dropdown-menu.showme {display: block;}
  //.dropdown-submenu:hover > .dropdown-menu { display: block; }
  //dölj agorafråga
  //.dropdown-submenu > .dropdown-menu { display: block; }
  //visa agorafrågan
  //.dropdown-submenu > .dropdown-menu { display: block; }
  //.dropdown-submenu > .dropdown-menu {display: none;}

  //Sassig triangel som pekar till vänster
  .dropdown-submenu > a:before {
    display: block;
    content: " ";
    float: left;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    border-right-color: #cccccc;
    margin-top: 4px;
    margin-left: -10px;
  }
  //som blir vit när man hovrar
  .dropdown-submenu:hover > a:before { border-right-color: #ffffff; }

  .dropdown-submenu { float: none; }
  .dropdown-submenu > .dropdown-menu {

    margin-left: 10px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius:4px 0 0 4px;
  }
  /* / Submenu */

  //* Media styling  *//

  @media (min-width: 1150px) {
    // input.form-control:focus {
    //   width: 220px;
    // }
  }

  @media (min-width: 1400px) {
    // input.form-control:focus {
    //   width: 260px;
    // }
  }

  @media (max-width: 950px) {
    // input.form-control {
    //   width: 130px;
    // }
    #button-label {
      display: none;
    }
  }

  @media (max-width: 767px) {

    // .navbar-form.navbar-right .form-group input{
    //   margin-bottom: 10px;
    //   margin-top: 10px;
    // }
    // .form-group .input-group input.form-control {
    //   margin-top: 40px;
    // }

    #mobile-search-form {
      padding: 0 15px 0 20px;
      border: none;
      box-shadow: none;
      margin: 0;
      input {
        font-family: Arial, Sans-serif;
      }
      .form-group {
        margin: 11px 45px 0 25px;
      }
    }

    ul.navbar-nav li a {
      margin: 10px 0;
    }


    .navbar-collapse ul li a:hover {
      background-color: #333;
    }


    input.form-control {
      width: 100%;
    }

    .navbar-nav .dropdown-menu .divider {
      height: 2px;
      margin: 9px 0;
      overflow: hidden;
      background-color: #101010;
      border-bottom: 1px solid #373737;
    }

    .navbar-collapse .navbar-nav .dropdown-menu li > a {
      color: #eee;
    }

  }
  a.nav-hide {
    font-size: 10px;
    background: #222222;
    padding: 2px 10px;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    height: 20px;
    display: block;
    text-align: center;
    color: #EEE;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    cursor: pointer;
  }


  //* / Media styling  *//
}
//* Customizations to override other stylesheets specifically for the navbar *//

//* Styles to make the navbar hideable *//

#header-hidden-link {
  position: absolute;
  right: 15px;
  top: 51px;
}



  #nav-label {
    font-family: Arial, Sans-serif;
    font-size: 14px;
    color: #ccc;
    padding: 15px 10px 15px 0;
    margin-right: 6px;
    line-height: 20px;
    float: right;
  }

}
//Always show mobile-menu, even if global header is hidden
@media (max-width: 767px) {

  .navbar#global_header {
    top: 0px !important;
    position: static !important;
  }

  body {
    margin: 0 !important;
    padding-top: 0 !important;
    transition: none !important;
  }

}
