
:host {
  display: block;
  background-color: var(--footer-background);
  color: var(--footer-color);
  padding: 46px 30px 35px;
  p{
    color: #97999b;
    font-size: 10px;
    padding: 8px 0;
    margin: 0;
    letter-spacing: 0.05rem;
    text-align: left;
  }
  .wordmark{
    float: right;
    width: 178px;
    height: 29px;
    display: inline-block;
    vertical-align: middle;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: var(--footer-background-url);
  }
}
