<label class="form-group">
  <template is="dom-if" if="{{labelExist(label)}}">
    {{label}}
  </template>

  <template is="dom-if" if="{{fieldType('input', type)}}">
    <input type="{{type}}" name="{{name}}" class="form-control">
  </template>

  <template is="dom-if" if="{{fieldType('textarea', type)}}">
    <textarea name="{{name}}" class="form-control"></textarea>
  </template>

  <template is="dom-if" if="{{fieldType('select', type)}}">
    <select name="{{name}}" class="form-control">
      <content></content>
    </select>
  </template>
</label>