<label class="form-group">
  <template is="dom-if" if="{{labelExist(label)}}">
    {{label}}
  </template>

  <template is="dom-if" if="{{fieldType('input')}}">
    <input type="{{type}}" name="{{name}}" class="form-control" required$="[[required]]">
  </template>

  <template is="dom-if" if="{{fieldType('radio')}}">
    <span></span>
  </template>

  <template is="dom-if" if="{{fieldType('textarea')}}">
    <textarea name="{{name}}" class="form-control"></textarea>
  </template>

  <template is="dom-if" if="{{fieldType('select')}}">
    <select name="{{name}}" class="form-control">
      <content></content>
    </select>
  </template>

  <template is="dom-if" if="{{isPassword(type)}}">
    <button type="button" name="show-hide" class="btn-link btn-info toggler">
      <span>{{showHide}}</span>
      <i class="icon-eye-open"></i>
    </button>
  </template>
</label>