
<link rel="import" href="variation-1.html">

<!--
This component leads the user through a series of questions in order to provide a tailored solution. Can be tailored via decision trees to reach a various number of solutions.
Use the component with it's child component `c-decisions-item`, or pass a JSON-object with the data.

___

##### Use of `decisions-item`:

```
  <c-decisions-tool title="Help me choose">

    <decisions-item>
      <p>Do you want the vehicle to show as an asset for your business?</p>

      <decisions-item yes>
        <p>Do you have enough taxable profits to be able to claim capital allowances?</p>

        <decisions-item yes>

          <p>Do you want lower payments with a lump sum payment at the end?</p>

          <decisions-item yes type="conclusion" url="https://google.com">

            <h5>Lease Purchase</h3>
            <p>Lease purchase features lower regular repayments by including a final lump sum 'balloon payment' at the end of the contract.</p>
          
          </decisions-item>

          <decisions-item no>
            <p>Do you want to fix the rate of interest?</p>

            <decisions-item yes type="conclusion" url="https://google.com">
              <h5>Hire Purchase Variable Rate</h3>
              <p>Lease purchase features lower regular repayments by including a final lump sum 'balloon payment' at the end of the contract.</p>
            </decisions-item>

            <decisions-item no type="conclusion" url="https://google.com">
              <h5>Hire Purchase Fixed Rate</h3>
              <p>Lease purchase features lower regular repayments by including a final lump sum 'balloon payment' at the end of the contract.</p>
            </decisions-item>


          </decisions-item>

        </decisions-item>

        <decisions-item no type="conclusion" url="https://google.com">
          <h5>Lease Purchase</h3>
          <p>Lease purchase features lower regular repayments by including a final lump sum 'balloon payment' at the end of the contract.</p>
        </decisions-item>

      </decisions-item>

      <decisions-item no>
        <p>Do you want repair and maintenance to be included?</p>

        <decisions-item yes type="conclusion" url="https://google.com">
          <h5>Contract hire</h5>
          <p>Lease purchase features 5.</p>
        </decisions-item>

        <decisions-item no type="conclusion" url="https://google.com">
          <h5>Operating Lease</h5>
          <p>Lease purchase features 6.</p>
        </decisions-item>

      </decisions-item>

    </decisions-item>

  </c-decisions-tool>
```
___

@dev

### todo
- Clean it. 
- Do not do setup in 'attached'-callback when dependant on propertys.
- Styling
- Documentation

-->
<dom-module id="c-decisions-tool">
	<template>
		<style>
			:host {
				.dec-head {
					background-color: #041e42;
	    			color: #fff;
	    			font-family: "Scania Sans Bold", Helvetica, Arial, sans-serif;
	    			font-size: 1.2em;
	    			line-height: 30px;
	    			margin: 0;
	    			padding: 18px 5px 14px 55px;
	    			cursor: pointer;
	    			letter-spacing: 0.3rem;
	    			outline: 0;
	    			span {
	    				text-transform: uppercase;
	    			}
	    			i {
	    				float:right;
	    				cursor: pointer;
	    				margin-top: 1px;
	    				font-size: 25px;
	    				width: 6%;
	    			}
				}
				.dec-body {
					background: #fff;
	    			border: 1px solid #ccc;
	    			width: 100%;
	    			display:none;
				}
			}
		</style>

		<div class="container">
			<div class="dec-head text-center" on-tap="_handleTap">
				<span>{{title}}</span>
				<i class="icon-chevron-sign-down" id="accordionicon"></i>
			</div>
			<div class="dec-body" id="accordion">
				<content></content>
			<template is="dom-if" if='{{_dataAvailable}}'>
				<decisions-item type="question" active="1" open="true" data="{{data}}">
				</decisions-item>
			</template>
			</div>
		</div>
		
	</template>

	<script>
		Polymer({
			is: 'c-decisions-tool',
			properties: {
				/** Caption to show on the decision-button; for example "Help me choose". */
				title: String,
				/**
				 * If JSON-data is used, store here.
				 * @type { {caption: string, isPublishMode: boolean, decisionMap: Array<Object<string, string>> } }
				 */
				data: {
					type: Object,
					observer: '_dataAttached'
				}, 
				/** If c-decisions-tool is currently open */
				_open: {
					type: Boolean,
					value: false,
				},
				/** If JSON-data has been made available to the component */
				_dataAvailable: {
					type: Boolean,
					value: false
				}
			},

			attached: function() {
				children = this.getContentChildren();
				if(children.length < 1 && !this._dataAttached)
					$(this).hide();
				$(children).filter('decisions-item').attr('open', 'true');
				$(this).on('restart', function(event) {
					children = this.getContentChildren();
					event.stopPropagation();

					$(children).filter('decisions-item').trigger('decision-reinit');
				});
			},


			/** Called when data has been changed in any way */
			_dataAttached: function () {
				this._dataAvailable = true;
				$(this).show();
				this.title = this.data.caption;
				$(this).on('restart', function(event) {
					children = $(Polymer.dom(this.root).querySelectorAll('decisions-item'));
					event.stopPropagation();
					children.trigger('decision-reinit');
				});
			},

			/** Called when button is pressed */ 
			_handleTap: function() {

				var element = this.$.accordion,
					icon 	= this.$.accordionicon;

				this._open = !this._open

				if (this._open) {
					$(element).slideDown(400, function() {
						$(icon).removeClass('icon-chevron-sign-down').addClass('icon-chevron-sign-up');
					});
				} else {
					$(element).slideUp(400, function() {
						$(icon).removeClass('icon-chevron-sign-up').addClass('icon-chevron-sign-down');
					});
				}
			}
		})
	</script>
</dom-module>

<!--

@dev

Cumbersome to say the least. Lots of computed properties.

When given JSON-data, it auto-replicates so all options are covered.

Some text are static. The structure/path of the JSON-data is static. Easy to change.

-->
<dom-module id="decisions-item">

	<template>
		<style>
			:host {
				.option-consider {
					margin-bottom:5px;
				}
				.subtext {
					font-size:0.9em;
					margin:5px 0 40px 0;
				}
				.disclaimer {
					font-size: 0.9em;
				}
				.btn-container {
					text-align: center;
					margin: 52px 0 44px 0;
					.btn {
						padding: 19px 2.6% 15px 2.6%;
    					width: 22%;
    					margin: 0 2.1%;
    					font-size: 14px;
    					&.btn-light {
    						background-color: #fff;
    						color: #041e42;
   							border: 1px solid #041e42;
    					}
    					&:hover {
    						text-decoration: none;
    						background-color: #000;
    						color:#fff;
    						border:1px solid #000;
    					}
					}
				}
				.dec-content[state="open"] {
					padding: 42px 90px 0px 92px;
				}
			}
		</style>
		<div class="dec-static"></div>
		
		<div class="text-center dec-content" state$="{{_state}}">
			<template is="dom-if" if="{{data}}">
				<template is="dom-if" if="{{conclusion}}"> <!-- Conclusion, dont draw items. Draw headline. -->
					<h3 class="option-consider">A option to consider</h3>
					<p class="subtext">{{headline}}</p>
				</template>
				<p class="dec-static">{{text}}</p>
				<template is="dom-if" if="{{conclusion}}">
					<p class="dec-static disclaimer">*Before making your decision, we recommend you discuss and review the options with your accountant.</p>
				</template>
				<template is="dom-if" if="{{!conclusion}}"> <!-- Question, draw items -->

						<decisions-item yes type="{{nextYes}}" data='{{data}}' active="{{nextActiveYes}}"> 
						</decisions-item>

						<decisions-item no type="{{nextNo}}" data='{{data}}' active="{{nextActiveNo}}"> 
						</decisions-item>

				</template>
				
			</template>
			<content></content>
		</div>

		<div class="btn-container dec-static">
			<template is="dom-if" if="{{conclusion}}">
				<button class="btn btn-lg btn-primary" on-tap="_restart">Start again</button>
				<template is="dom-if" if="{{url}}">
					<a class="btn btn-lg btn-primary btn-light" href="{{url}}">Learn more</a>
				</template>
				<template is="dom-if" if="{{data}}">
					<template is="dom-if" if="{{conclusion}}"> <!-- Conclusion, draw 'Learn more' -->
						<template is="dom-if" if="{{dataUrl}}">
							<a class="btn btn-lg btn-primary btn-light" href="{{dataUrl}}">Learn more</a>
						</template>
					</template>
				</template>
			</template>
			<template is="dom-if" if="{{!conclusion}}">
				<button class="btn btn-lg btn-primary" on-tap="decisionYes">Yes</button>
				<button class="btn btn-lg btn-primary btn-light" on-tap="decisionNo">No</button>
			</template>

		</div>
	</template>

	<script>
		Polymer({
			is: 'decisions-item',
			properties: {
				data: Object,
				conclusion: {
					type: Boolean,
					computed: '_computeType(type)'
				},
				open: {
					type: Boolean,
					value: false
				},
				_state: {
					type: String,
					computed: '_computeState(open)'
				},				
				active: {
					type: Number,
					value: 1
				},
				text: {
					type: String,
					computed: '_computeText(active, data, conclusion)'
				},
				type: {
					type: String,
					value: "question"
				},
				headline: {
					type: String,
					computed: '_computeHeadline(active, data, conclusion)'
				},
				dataUrl: {
					type: String,
					value: '',
					computed: '_computeUrl(active, data, conclusion)'
				},
				nextYes: {
					type: String,
					computed: '_computeNextYes(active, data, conclusion)'
				},
				nextNo: {
					type: Boolean,
					computed: '_computeNextNo(active, data, conclusion)'
				},
				nextActiveYes: {
					type: Number,
					computed: '_computeNextActiveYes(active, data, conclusion)'
				},
				nextActiveNo: {
					type: Number,
					computed: '_computeNextActiveNo(active, data, conclusion)'
				},
			},

			_computeType: function(arg) {

				if(arg == "question")
					return false;
				else
					return true;

			},

			_computeText: function(arg1, arg2, arg3) {
				var path = "question" + arg1;
				if(arg3)
					path = "conclusion" + arg1 + "Text";
				return this.data.decisionMap[0][path];
			},
			_computeHeadline: function(arg1, arg2, arg3) {
				if(arg3) {
					var path = "conclusion" + arg1;
					return this.data.decisionMap[0][path];
				}
				
			},
			_computeUrl: function(arg1, arg2, arg3) {
				if(arg3) {
					var path = "learnMore" + arg1;
					console.log(path);
					console.log(this.data.decisionMap[0][path]);
					return this.data.decisionMap[0][path];
				}
			},
			_computeNextActiveYes: function(arg1, arg2, arg3) {

				if (!arg3) {
					var path = "question" + arg1 + "Yes";
					return this.data.decisionMap[0][path].slice(-1);
				}
				
			},
			_computeNextActiveNo: function(arg1, arg2, arg3) {
				if(!arg3) {
					var path = "question" + arg1 + "No";
				return this.data.decisionMap[0][path].slice(-1);
				}
				
			},

			_computeState: function(arg) {
				return arg ? "open" : "closed";
			},

			_computeNextYes: function(arg1, arg2, arg3) {
				var path = "question" + arg1 + "Yes";
				var dataStr = this.data.decisionMap[0][path];

				if(!arg3) {

					if(dataStr.includes('question'))
					{

						return "question";
					}
					else {
						return "conclusion";
					}
				}
			},
			_computeNextNo: function(arg1, arg2, arg3) {
				var path = "question" + arg1 + "No";
				var dataStr = this.data.decisionMap[0][path];
				if(!arg3) {
					if(dataStr.includes('question'))
						return "question";
					else
						return "conclusion";
				}
				
			},

			attached: function() {
				if(this.data) {
					$(this).on('decision-reinit', function(event) {
						event.stopPropagation();
						this._reInit();
					});
					if(!this.open)
						$(this).hide();
				}
				else {
					var children = $(this.getContentChildren());
					children.filter('decisions-item').hide();
					$(this).on('decision-reinit', function(event) {
						event.stopPropagation();
						this._reInit();
					});
				}

			},


			_reInit: function() {

				if(this.data) {
					this.open = true;
					var children = $(Polymer.dom(this.root).querySelectorAll('decisions-item'));
					children.hide();
					$(Polymer.dom(this.root).querySelectorAll('.dec-static')).show();
				}
				else {
					var children = $(this.getContentChildren());

					this.open = true;
					children.filter('decisions-item').hide();
					children.filter(':not(decisions-item)').show();
					$(Polymer.dom(this.root).querySelectorAll('.dec-static')).show();
				}
				
			},


			_decisionMade: function(decision) {

				var children;

				this.open = false;
				$(Polymer.dom(this.root).querySelectorAll('.dec-static')).hide();
				$(this.getContentChildren()).hide();

				if(this.data)
					children = $(Polymer.dom(this.root).querySelectorAll('decisions-item'));
				else
					children = $(this.getContentChildren());

				if(decision) {
					children.filter('[yes]').show().trigger('decision-reinit').attr('open', 'true');
				} else {
					children.filter('[no]').show().trigger('decision-reinit').attr('open', 'true');
				}

			},

			decisionYes: function() {
				this._decisionMade(true);
			},

			decisionNo: function() {
				this._decisionMade(false);
			},

			_restart: function() {
				$(this).trigger("restart");
			}

		})
	</script>
</dom-module>
