extends ../component

append style_dependencies
  link(href='../../../../video.js/dist/video-js.css', rel='stylesheet')

append dependencies
  link(rel="import" href="variation-1.html")
  script(src="../../../../video.js/dist/video.js")
  script(src="../../../../videojs-youtube/dist/Youtube.min.js")

block comment
  include comment.md

block style
  include style.css

append template
  include template.html

block script
  include script.js