extends ../../component

append style_dependencies
  link(href='https://static.scania.com/vendors/components/jQuery/slick/1.6.0/slick.css', rel='stylesheet')

append dependencies
  link(rel="import" href="variation-1.html")
  link(rel="import" href="variation-2.html")
  script(src="https://static.scania.com/vendors/components/jQuery/slick/1.6.0/slick.min.js")

block comment
  include comment.md

block style
  include style.css

append template
  include template.html

block script
  include script.js