
//@import (reference) '../../../global/less/corporate-ui/buttons.less';

:host {
  display: flex;
  flex-grow: 1;

  .sideimage {
    flex-grow: 1;
    background-image: url('https://static.scania.com/cds/prototypes/misc/general-login/img/side-image-test.jpg');
    background-position: center;
    background-size: cover;
  }
  .wrapper {
    width: 445px;
    background: #fff;
    padding: 30px;
  }
  .sidebar {
    display: none;
  }
  div.login > .sidebar:nth-child(1) { display: block; }
  div.register > .sidebar:nth-child(2) { display: block; }
  div.recover > .sidebar:nth-child(3) { display: block; }
  div.confirm > .sidebar:nth-child(4) { display: block; }
}
.btn-text {
  font-size: 1.4rem;
  padding-left: 0px;
  padding-right: 0px;
}

h2 {
    font-family: "Scania Sans Semi Condensed" !important;
}