<div class$="wrapper {{view}}">
  <section>
    <h2 class="text-center">{{loginSelectHeadline}}</h2>
    <p class="text-center mt-4">{{loginSelectDescription}}</p>
    <content select="[slot=login-select]"></content>
  </section>

  <section>
    <h2 class="text-center">[[loginHeadline]]</h2>
    <p class="text-center mt-4">
      {{loginDescriptionRegister}}
      <template is="dom-if" if="{{register}}">
        <button
          class="sign-up-link btn-link btn-info btn-text"
          on-click="setView"
          data-target="register">{{toRegister}}</button>
      </template>
    </p>
    <form action="{{loginAction}}" method="post">
      <content select="[slot=login]">
        <form-field type="text" name="username" label="{{loginUsername}}" required="true"></form-field>
        <form-field type="password" name="password" label="{{loginPassword}}" required="true" show-text="{{showPassword}}" hide-text="{{hidePassword}}"></form-field>
      </content>

      <content select="[slot=login-message]"></content>

      <button
        type="submit"
        class="btn btn-success btn-lg btn-block">{{loginButton}}</button>
    </form>
    <template is="dom-if" if="{{recover}}">
      <p class="text-center mt-5">
        {{loginDescriptionRecover}}
        <button
          class="btn-link btn-info btn-text"
          on-click="setView"
          data-target="recover">{{toRecover}}</button>
      </p>
    </template>
    <p class="text-center mt-5">{{cookieMessage}}</p>
  </section>

  <section>
    <h2 class="text-center">{{registerHeadline}}</h2>
    <p class="text-center mt-4">{{registerDescription}}</p>
    <form action="register" method="post">
      <content select="[slot=register]">
        <div class="row">
          <div class="form-group col-sm-6">
            <form-field type="text" name="fname" label="{{registerFName}}"></form-field>
          </div>
          <div class="form-group col-sm-6">
            <form-field type="text" name="lname" label="{{registerLName}}"></form-field>
          </div>
        </div>
        <div class="form-group">
          <form-field type="text" name="email" label="{{registerEmail}}" required="true"></form-field>
        </div>
        <div class="form-group">
          <form-field type="password" name="password" label="{{registerPassword}}" required="true" show-text="{{showPassword}}" hide-text="{{hidePassword}}"></form-field>
        </div>
      </content>
      <button
        type="submit"
        class="reg-form-submit btn btn-lg btn-block btn-success mt-5">{{registerButton}}</button>
    </form>
    <template is="dom-if" if="{{terms}}">
      <p class="text-center mt-5">
        {{termsMessage}}
        <a href="#" class="regconf-form-link btn-link btn-info">{{toTerms}}</a>
      </p>
    </template>
  </section>

  <section>
    <h2 class="text-center">{{registeredHeadline}}</h2>
    <p class="text-center mt-4">{{registeredDescriptionEmail}}</p>
    <p class="text-center">
      <strong>{{registeredEmail}}</strong>
    </p>
    <p class="text-center mt-5">{{registeredDescription}}</p>
    <button
      type="button"
      class="reg-go-signin btn btn-lg btn-block btn-primary mt-5"
      on-click="setView"
      data-target="login">{{backButton}}</button>
  </section>

  <section>
    <h2 class="text-center">{{recoverHeadline}}</h2>
    <p class="text-center mt-4">{{recoverDescription}}</p>
    <form action="{{recoverAction}}" method="post">
      <div class="form-group">
        <content select="[slot=recover]">
          <form-field type="email" name="email" label="{{recoverEmail}}" required="true"></form-field>
        </content>
      </div>
      <button
        type="submit"
        class="reg-form-submit btn btn-lg btn-block btn-primary mt-5">{{recoverButton}}</button>
      <button
        type="button"
        class="reg-go-signin btn btn-lg btn-block btn-default mt-5 ml-0"
        on-click="setView"
        data-target="login">{{backButton}}</button>
    </form>
  </section>

  <section>
    <h2 class="text-center">{{recoveredHeadline}}</h2>
    <p class="text-center mt-4">{{recoveredDescription}}</p>
    <p class="text-center">
      <strong>{{email}}</strong>
    </p>
    <button
      type="button"
      class="reg-go-signin btn btn-lg btn-block btn-primary mt-5"
      on-click="setView"
      data-target="login">{{backButton}}</button>
  </section>
</div>

<aside class="sideimage hidden-xs hidden-sm"></aside>
