<div class$="wrapper {{view}}">
  <section>
    <h2 class="text-center">{{loginSelectHeadline}}</h2>
    <p class="text-center mt-4">{{loginSelectDescription}}</p>
    <content select="[slot=login-select]"></content>
  </section>

  <section>
    <h2 class="text-center">{{loginHeadline}}</h2>
    <p class="text-center mt-4">
      {{loginDescriptionRegister}}
      <template is="dom-if" if="{{register}}">
        <button
          class="sign-up-link btn-link btn-info btn-text"
          on-click="setView"
          data-target="register">{{toRegister}}</button>
      </template>
    </p>
    <form action="{{loginAction}}" method="post">
      <content select="[slot=login]">
        <form-field type="text" name="username" label="Username" required="true"></form-field>
        <form-field type="password" name="password" label="Password" required="true"></form-field>
      </content>

      <!-- Should show a notification component here instead -->
      <template is="dom-if" if="{{showLoginMessage}}">
        <div class$="alert alert-warning">{{loginMessage}}</div>
      </template>

      <button
        type="submit"
        class="btn btn-success btn-lg btn-block">Log in</button>
    </form>
    <template is="dom-if" if="{{recover}}">
      <p class="text-center mt-5">
        {{loginDescriptionRecover}}
        <button
          class="btn-link btn-info btn-text"
          on-click="setView"
          data-target="recover">{{toRecover}}</button>
      </p>
    </template>
    <p class="text-center mt-5">{{cookieMessage}}</p>
  </section>

  <section>
    <h2 class="text-center">{{registerHeadline}}</h2>
    <p class="text-center mt-4">{{registerDescription}}</p>
    <form action="register" method="post">
      <content select="[slot=register]">
        <div class="row">
          <div class="form-group col-sm-6">
            <form-field type="text" name="fname" label="First name"></form-field>
          </div>
          <div class="form-group col-sm-6">
            <form-field type="text" name="lname" label="Last name"></form-field>
          </div>
        </div>
        <div class="form-group">
          <form-field type="text" name="email" label="Email address" required="true"></form-field>
        </div>
        <div class="form-group">
          <form-field type="password" name="password" label="Password" required="true"></form-field>
        </div>
      </content>
      <!-- Should be triggered from submit on form later on -->
      <button
        type="submit"
        class="reg-form-submit btn btn-lg btn-block btn-success mt-5">Sign up</button>
    </form>
    <template is="dom-if" if="{{terms}}">
      <p class="text-center mt-5">
        {{termsMessage}}
        <a href="#" class="regconf-form-link btn-link btn-info">{{toTerms}}</a>
      </p>
    </template>
  </section>

  <section>
    <h2 class="text-center">Your user account has been created and needs to be activated.</h2>
    <p class="text-center mt-4">To activate your user account, please follow the link that has been sent to the following address</p>
    <p class="text-center">
      <strong>Scania@scania.com</strong>
    </p>
    <!--!!! Add script to collect used address-->
    <p class="text-center mt-5">If you do not receive this email, please check your spam filter or re-register.</p>
    <button
      type="button"
      class="reg-go-signin btn btn-lg btn-block btn-primary mt-5"
      on-click="setView"
      data-target="login">Back to login</button>
  </section>

  <section>
    <h2 class="text-center">{{recoverHeadline}}</h2>
    <p class="text-center mt-4">{{recoverDescription}}</p>
    <form action="{{recoverAction}}" method="post">
      <div class="form-group">
        <content select="[slot=recover]">
          <form-field type="email" name="email" label="Email address" required="true"></form-field>
        </content>
      </div>
      <!-- Should be triggered from submit on form later on -->
      <button
        type="submit"
        class="reg-form-submit btn btn-lg btn-block btn-warning mt-5">Recover password</button>
      <button
        type="button"
        class="reg-go-signin btn btn-lg btn-block btn-primary mt-5 ml-0"
        on-click="setView"
        data-target="login">Back to login</button>
    </form>
  </section>

  <section>
    <h2 class="text-center">{{recoveredHeadline}}</h2>
    <p class="text-center mt-4">{{recoveredDescription}}</p>
    <p class="text-center">
      <strong>{{email}}</strong>
    </p>
    <button
      type="button"
      class="reg-go-signin btn btn-lg btn-block btn-primary mt-5"
      on-click="setView"
      data-target="login">Back to startpage</button>
  </section>
</div>

<aside class="sideimage hidden-xs hidden-sm"></aside>
