@import 'node_modules/highlight.js/styles/github-gist';

:host {
  display: block;
  .slot{
    display: none;
  }
}

pre, pre code {
  white-space: pre-wrap;
  margin: 0;
}

// Line break on attributes doesnt work for multi line examples
// .hljs-attr:before {
//   content: "\a   ";
//   white-space: pre;
// }