@import 'node_modules/highlight.js/styles/github';

:host {
  display: block;
}

::slotted(*:not(pre)) {
  // We have important here because slotted rules have lowest prio
  display: none !important;
}

pre,
pre code {
  white-space: pre-wrap;
  margin: 0;
  color: grey;
}

// Line break on attributes doesnt work for multi line examples
// .hljs-attr:before {
//   content: "\a   ";
//   white-space: pre;
// }