@import '../../components.scss';

:host {
  display: inline-block;
  background-color: white;
  border: 2px solid black;
  margin-right: 10px;
  font-size: 2.6rem;
  text-align: center;

  &:hover {
    background-color: black;
    border-color: white;
    color: white;
  }
}

a {
  display: inline-block;
  color: inherit;
}

c-icon {
  line-height: 0;
  padding: 8px;
}

@media (min-width: 992px) {

  :host {
    margin-right: 20px;
  }
}
