
<link rel="import" href="https://static.scania.com/development/global/html/component/Listing%20Components/article-grid/article-grid.html">
<link rel="import" href="https://static.scania.com/development/global/html/component/Carousels/hero-carousel/hero-carousel.html">

<section>
  <c-main-hero image="https://static.scania.com/resources/images/demo/template-cover.png">
    <h1>From sweden</h1>
    <h4>To roads worldwide</h4>
  </c-main-hero>
</section>

<section>
  <div class="container text-center">
    <h2>Driving the future</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</section>

<section>
  <c-article-grid fullbleed>
    <c-article-item x="4" y="8" img="https://static.scania.com/resources/images/demo/C025_Tiled_Display_17.jpg" title="Wirelessly charged city buses" subtitle="Innovation">
      <p>Phil Sampson charts Scania`s history over the past 50 years.</p>
    </c-article-item>
    <c-article-item x="8" y="4" img="https://static.scania.com/resources/images/demo/C025_Tiled_Display_18.jpg" title="Take control" subtitle="Sustainability">
      <p>Phil Sampson charts Scania`s history over the past 50 years.</p>
    </c-article-item>
    <c-article-item x="4" y="4" img="https://static.scania.com/resources/images/demo/C025_Tiled_Display_19.jpg" title="Keeping safe on the road" Subtitle="Innovation">
      <p>Phil Sampson charts Scania`s history over the past 50 years.</p>
    </c-article-item>
    <c-article-item x="4" y="4" img="https://static.scania.com/resources/images/demo/C025_Tiled_Display_20.jpg" title="In it for the long haul" subtitle="Stories">
      <p>Phil Sampson charts Scania`s history over the past 50 years.</p>
    </c-article-item>
  </c-article-grid>
</section>

<section>
  <div class="container text-center">
    <h2>Life at the wheel</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</section>

<section>
  <c-hero-carousel fullbleed>
    <c-main-hero image="https://static.scania.com/resources/images/demo/template-cover.png">
      <h2>Feul saving tips</h2>
      <p>Some text can go here...</p>
    </c-main-hero>

    <c-main-hero image="https://static.scania.com/resources/images/demo/template-cover.png">
      <h2>Feul saving tips</h2>
      <p>Some text can go here...</p>
    </c-main-hero>
  </c-hero-carousel>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <c-main-hero image="https://static.scania.com/resources/images/demo/thumbs_1.jpg">
          <p>Some text</p>
        </c-main-hero>
      </div>

      <div class="col-xs-4">
        <c-main-hero image="https://static.scania.com/resources/images/demo/thumbs_2.jpg">
          <p>We can have some realy cool text here</p>
        </c-main-hero>
      </div>

      <div class="col-xs-4">
        <c-main-hero image="https://static.scania.com/resources/images/demo/thumbs_3.jpg">
          <p>Here as well ^^</p>
        </c-main-hero>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container text-center">
    <h2>Powered by Scania</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</section>