
<link rel="import" href="https://static.scania.com/development/global/html/component/Content%20+%20Teasers/rich-media/rich-media.html">
<link rel="import" href="https://static.scania.com/development/global/html/component/Social/social-share/social-share.html">
<link rel="import" href="https://static.scania.com/development/global/html/component/Content%20+%20Teasers/text-and-image/text-and-image.html">

<section>
  <div class="container text-center">
    <h2>Scania Polymer Template</h2>
    <p>This is a template using some of our ready to run Polymer components. Feel free to download it an play around as much as you like.</p>
  </div>
</section>

<section>
  <c-rich-media cover-img="https://static.scania.com/resources/images/demo/image_01.jpg" url="https://www.youtube.com/watch?v=NulCgTnCBBE"></c-rich-media>
</section>

<section>
  <div class="container text-center">
    <h5>Some headline here yeeey</h5>
  </div>

  <c-social-share text="This is authorable text. Put some text here">
    <c-social-media name="facebook" link="https://www.facebook.com/search/top/?q=%23scania"></c-social-media>
    <c-social-media name="twitter" link="https://twitter.com/search?q=%23scania&src=typd"></c-social-media>
    <c-social-media name="linkedin" link="https://twitter.com/search?q=%23scania&src=typd"></c-social-media>
    <c-social-media name="instagram" link="https://www.instagram.com/explore/tags/scania/"></c-social-media>
    <c-social-media name="vk" link="https://twitter.com/search?q=%23scania&src=typd"></c-social-media>
    <c-social-media name="weibo" link="https://twitter.com/search?q=%23scania&src=typd"></c-social-media>
  </c-social-share>
</section>

<section>
  <div class="container">
    <p>How about adding some cool text here that describes everything that every one wants...
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</section>

<section>
  <c-text-and-image image="https://static.scania.com/resources/images/demo/image01.jpg" text='"This is the second time a Scania truck with a Euro 6 engine has received the prize."' fullbleed>
    "This is the second time a Scania truck with a Euro 6 engine has received the prize."
  </c-text-and-image>

  <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</section>

<section>
  <div class="container">
    <h2 class="text-center">Life at the wheel</h2>
    <p>How about adding some cool text here that describes everything that every one wants...
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</section>

<section>
  <c-main-hero image="https://static.scania.com/resources/images/demo/template-cover.png"></c-main-hero>
</section>

<section>
  <div class="container">
    <h2 class="text-center">Life at the wheel</h2>
    <p>How about adding some cool text here that describes everything that every one wants...
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</section>

<section>
  <c-rich-media cover-img="https://static.scania.com/resources/images/demo/image_01.jpg" url="https://www.youtube.com/watch?v=NulCgTnCBBE"></c-rich-media>
</section>