 .alert-danger-validate {
        border-color: rgb(204, 16, 64);
        background-color: rgb(238, 218, 224);
    }

    .alert-success-validate {
      border-color: rgb(68, 168, 120);
      background-color: rgb(242, 249, 245);
    }