@import '../variables';
@import '../mixins';


.checkbox input[type="checkbox"],
.checkbox input[type="checkbox"].radio-checkbox-inverse,
.checkbox-inline input[type="checkbox"],
.checkbox-inline input[type="checkbox"].radio-checkbox-inverse,
.app .checkbox input[type="checkbox"],
.app .checkbox input[type="checkbox"].radio-checkbox-inverse,
.app .checkbox-inline input[type="checkbox"],
.app .checkbox-inline input[type="checkbox"].radio-checkbox-inverse
{
  display: none;
}

.radio label,
.ceckbox label {
  padding-left: 0px;
}

.app label.radio,
.app .checkbox label,
.app .form-group label.radio,
.app .form-group .checkbox label,{
  	font-family: Scania Sans Semi Condensed;
    padding-left: 0px;
    color: #53565A;
    font-size: 1.3rem;
    font-weight: normal;
}

.app .table-panel thead,
.app .table-primary thead tr th label.radio,
.app .panel-primary .panel-heading,
.app .bg-brand-01,
.app .bg-brand-03,
.app .bg-primary-02,
.app .bg-primary-03,
.app .bg-primary-04,
.app .bg-secondary-01,
.app .bg-secondary-02,
.app .bg-secondary-03,
.app .bg-secondary-04,
.app .bg-tertiary-01,
.app .bg-tertiary-02,
.app .bg-tertiary-03,
.app .bg-tertiary-04,
.app .bg-tertiary-05,
.app .bg-tertiary-06,
.app .bg-tertiary-07,
.app .bg-grey6,
.app .bg-grey7,
.app .bg-grey8,
.app .bg-grey9,
.app .bg-primary .form-group .checkbox label,
.app .bg-success,
.app .bg-warning,
.app .bg-danger,
.app .bg-info {
	color: #fff;
}


input[type=checkbox] {
  .config();
  .checkbox-mixin();

      &.radio-checkbox-inverse {
    .config(inverse);
    .checkbox-mixin();
  }
}