.page-header {

  h1,
  h2,
  h3 {

    small {
      font-family: "Scania Sans Headline";
      font-size: 0.5em;
      font-weight: normal;
      color: @interaction-primary;
      display: block;
      margin-top: 0;
      margin-left: 0;
    }
  }

  .app & {
    font-family: "Scania Sans Headline";
    font-weight: bold;
    font-size: 1.6rem;

    h1 {
      font-size: @h1-font-size-app * 1.5;
    }
    h2 {
      font-size: @h2-font-size-app * 1.5;
    }
    h3 {
      font-size: @h3-font-size-app * 1.5;
    }
  }

  h1,
  h2,
  h3 {
    text-align: left;

    small {
      font-family: "Scania Sans Semi Condensed";
      font-weight: bold;
      font-size: 0.6em;
    }
  }
}

header.c-page-header {
  background: transparent;
  margin-bottom: 15px;

  .page-header {

    h1 {
      font-family: "Scania Sans Headline" !important;
      font-weight: bold;
      font-size: 2.2rem;      
      padding-top: 0;
      margin-bottom: 0.2rem;
      letter-spacing: 0.05rem;
      padding-right: 10px;      

    }

    h2 {
      font-family: 'Scania Sans Headline';
      letter-spacing: 0.05rem;      
      font-weight: bold;      
      font-size: 2rem;
      padding-right: 10px;      
    }
    h3,
    h4 {
      font-weight: bold;
      display: inline;
      vertical-align: middle;
    }

    h3 {
      font-family: 'Scania Sans Headline';
      letter-spacing: 0.05rem;    
      font-size: 1.6rem;
      padding-right: 10px;      
    }

    h4 {
      font-family: 'Scania Sans Semi Condensed';
      font-weight: bold;
      font-size: 1.6rem;
      padding-left: 10px;
      border-left: 1px solid @interaction-primary;
      padding-right: 0;
    }

    .row {
      margin-bottom: 15px;
    }
  }

  .btn-toolbar {
    margin-top: 0;
    margin-bottom: 15px;
    float: right;
  }

  .form-control {

    .app & {
      background-color: #FFF;

    }
  }
}

@media (max-width: 991px) {

  header.c-page-header {

    .page-header {
      padding-bottom: 0;
      margin-bottom: 20px;

      h4 {
        font-weight: normal;
        padding-left: 0;
        border-left: none;
        display: block;
      }
    }

    .form-group {
      margin-bottom: 10px;
    }

    .btn-toolbar {
      margin-top: 0;
      margin-bottom: 10px;
      float: left !important;  //Temporary important, until FMP is cleaned
    }

    ul.nav.nav-pills {
        margin-top: 5px;

         > li {
            display: block;
            float: none;
            margin-bottom: -1px;

          + li {
            margin-left: 0;
            margin-bottom: -1px;
        }         
      }  
    }
  }
}

