<link rel="import" href="variation-1.html">

<!--

`c-find-a-dealer-teaser` ia a teaser designed specifically to link to the find a dealer module. Should be either / or with `contact-us`. Includes snapshot contact details for Scania Assistance.


@dev

### Todo ###

- solve button not always inserted. function haslink() only returns true sometimes on attached.

-->

<dom-module id="c-find-a-dealer-teaser">

  <template>
    <style>
      :host {
        display: block;
        text-align: center;

        .content-container {
          /*height: 100%;*/
          position: relative;

          img {
            width: 100%;
            /*min-height: 100% !important;*/ 
            @media (max-width: 992px) {
              margin: 0 -20%;
              width: auto;
            }
          }
        
          .teaser-info {
            top: 0;
            left: 0;
            right: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 0 300px;

            @media (max-width: 1199px) {
              padding: 0 200px;
              @media (max-width: 991px) {
                padding: 0 100px;
                @media (max-width: 767px) {
                  padding: 0 0;
                }
              }
            }

            &:before {
              content: '';
              display: inline-block;
              height: 100%;
              vertical-align: middle;
              margin-right: -0.28em;
            }

            .info-holder {
              display: inline-block;
              vertical-align: middle;

              h2 {
                padding: 0 5px;
              }
  /*            i {
                font-size: 18px;
                margin-right: 10px;
              }*/
              .assistance {
                background-color: #fff;
              }
            }
          } 
        }
      }

      ::content {

        .contact-box {
          padding: 20px;
        }
      }
    </style>

    <div class="content-container">
      <img class="img-back" src="http://scania-noe-ux.sapient-lab.com/images/findDealerTeaser/find-dealer-teaser.png" width="100%" alt="Map"> 
    
      <div class="container teaser-info">
        <div class="info-holder">
          <h2>{{headline}}</h2>
          <div class="btn-container">
            <template is="dom-if" if$="{{haslink()}}"> 
              <button class="btn btn-primary" href$="{{link}}"><i class="icon-map-marker"></i>{{cta}}</button>
            </template> 
          </div>
          <div class="assistance">
            <content></content>
          </div>
        </div>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'c-find-a-dealer-teaser',
      properties: {
        headline: String,
        /* label for cta */
        cta: String,
        link: String
      },
      /* boolean function. returns value true if attribute link has a value */
      haslink: function() {
        return this.getAttribute('link') != null;
      },
      attached: function() {
        /*if(this.haslink()) {
          this.getElementsByClassName("btn-container")[0].innerHTML='<button class="btn btn-primary" href=' + this.link + '><i class="icon-map-marker"></i>' + this.cta + '</button>';
        }*/
        $('i', '.btn-container').css('margin-right', '10px');
        $('i', '.btn-container').css('font-size', '18px');
      }
    }); 
  </script>
</dom-module>