
<link rel="import" href="../../Contact/contact-us/contact-us.html">

<!--
___

#### With contact us

Used with component `contact-us`.

<demo>
  <c-find-a-dealer-teaser headline="It all starts with a local dealer" cta="find your dealer" link="#" fullbleed>
    <c-contact-us title="Scania assistance" action="Get assistance now" number="0345 450 7735">
      Scania Assistance is always there to help you. Any time of the day or night - 365 days.
    </c-contact-us>
  </c-find-a-dealer-teaser>
</demo>

___

#### Simple teaser

Without `contact-us`.

<demo>
  <c-find-a-dealer-teaser headline="It all starts with a local dealer" cta="find your dealer" link="#" fullbleed>
  </c-find-a-dealer-teaser>
</demo>

___


-->

<dom-module id="c-find-a-dealer-teaser-variation-1">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <content></content>

  </template>
  <script>

    Polymer({
      is: 'c-find-a-dealer-teaser-variation-1'
    }); 

  </script>

</dom-module>
