<html>
<head>
  <title>Corporate UI Select2 documentation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="/js/corporate-ui.js"></script>

  <style>
    .table-panel.table thead tr + tr th {
      padding-top: 0;
      padding-bottom: 0;
    }
  </style>
</head>
<body class="app" ng-app="app">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 col-lg-9">
        <div class="panel">
          <div class="panel-body">
            <h1>Single Select and Multi select</h1>
            <p class="lead">A way for the user to select items from a list.</p>

            <h2>Description</h2>
            <p>When users need to select several options from a list they can do it by selecting one option at a time and get an overview of what that has been selected. All users do not understand the standard HTML multiple select where keyboard combinations are required to do multiple select and it is hard to get an overview. When users use a longer list for single or multi select they need to be able to search in the list for quicker and easier interaction. To avoid different appearances across applications it is recommended to use the component for every single or multiple select.</p>

            <h3>Single select</h3>
            <p>It is recommended to use deselect on all single selects. This allows the users to easily deselect the option that they have chosen.</p>
            <p>The recommended threshold to get a search field in the select box is 10 items.</p>
            <p>If there are less than 5 items in the list a radio button group is preferred.</p>

            <h3>Multi select</h3>
            <p>If more than one row of items are selected the box should grow vertically.</p>
            <p>If there are less than 5 items in the list a check box group is preferred.</p>

            <h2>Examples</h2>

            <h3>Single select with search field, placeholder and deselect</h3>
            <select class="js-example-placeholder-single select2 form-control" style="width: 50%">
              <option>American Black Bear</option>
              <option>Asiatic Black Bear</option>
              <option>Brown Bear</option>
              <option>Giant Panda</option>
              <option>Sloth Bear</option>
              <option>Sun Bear</option>
              <option>Polar Bear</option>
              <option>Spectacled Bear</option>
              <option>Blue Bear</option>
              <option>Grizzly Bear</option>
            </select>

            <h3>Single select with search field</h3>
            <select class="js-example-basic-single select2 form-control" style="width: 50%">
              <option>American Black Bear</option>
              <option>Asiatic Black Bear</option>
              <option>Brown Bear</option>
              <option>Giant Panda</option>
              <option>Sloth Bear</option>
              <option>Sun Bear</option>
              <option>Polar Bear</option>
              <option>Spectacled Bear</option>
              <option>Blue Bear</option>
            </select>

            <h3>Single select without search field</h3>
            <select class="js-example-basic-hide-search select2 form-control" style="width: 50%">
              <option>American Black Bear</option>
              <option>Asiatic Black Bear</option>
              <option>Brown Bear</option>
              <option>Giant Panda</option>
              <option>Sloth Bear</option>
              <option>Sun Bear</option>
              <option>Polar Bear</option>
              <option>Spectacled Bear</option>
              <option>Blue Bear</option>
            </select>

            <h3>Multi select</h3>
            <select class="js-example-basic-multiple select2" multiple="multiple" style="width: 50%">
              <option>American Black Bear</option>
              <option>Asiatic Black Bear</option>
              <option>Brown Bear</option>
              <option>Giant Panda</option>
              <option>Sloth Bear</option>
              <option>Sun Bear</option>
              <option>Polar Bear</option>
              <option>Spectacled Bear</option>
              <option>Blue Bear</option>
              <option>Grizzly Bear</option>
            </select>

            <h3>Limit number of selectable options</h3>
            <p>When following this pattern you should also follow the <a href="limits.html">Limits on fields</a> pattern.</p>
            <select  multiple="multiple" class="js-example-basic-multiple-limit select2" style="width: 50%">
              <option>American Black Bear</option>
              <option>Asiatic Black Bear</option>
              <option>Brown Bear</option>
              <option>Giant Panda</option>
              <option>Sloth Bear</option>
              <option>Sun Bear</option>
              <option>Polar Bear</option>
              <option>Spectacled Bear</option>
              <option>Blue Bear</option>
              <option>Grizzly Bear</option>
            </select>

            <h2>Component</h2>
            <p>Select2 is a component meant to be used for searching in large amount of data with the use of dropdowns. The component makes it possible to search for result either by group or by the name of the content. If a search would return no result this would be displayed in the view and an appropriate text should be visible.</p>
            <p>Select2 should be used instead of regular dropdowns and multi selects. If you have a specific use case where users don’t need a typical search result page this is an option.</p>

            <!-- <h4 class="heading">Code for including this component</h4>
            <pre><xmp></xmp></pre> -->

            <a href="http://select2.github.io/select2/">jQuery code examples and documentation</a>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-primary" ng-controller="Select2Ctrl as vm">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-panel table-selectable table-hover">
             <thead>
               <tr>
                <th>
                  Active dropdown with selection
                </th>
                <th>
                  Active dropdown with selection
                </th>
                <th>
                  Active dropdown with selection
                </th>
                <th>
                  Active dropdown with selection
                </th>
                <th>
                  Active dropdown with selection
                </th>
                <th>
                  Active dropdown with selection
                </th>
                <th>
                  Active dropdown with selection
                </th>
                <th>
                  Active dropdown with selection
                </th>
              </tr>
              <tr>
                <th>
                 <input
                 id="single-select-tagging-7"
                 data-placeholder="Type to add a tag"
                 data-create-search-choice="vm.createSearchChoice"
                 data-item-id="id"
                 data-label="name" the display label
                 data="{{vm.items}}"
                 ng-model="vm.selectedItemForSingleTokkenization"
                 sc-input-select/></th>
                 <th>
                  <div class="form-group">
                    <input type="text" value="" autofocus="" class="form-control" placeholder="Bread delivery">
                  </div>
                </th>
                <th>
                  <input type="text" id="single-select-tagging-2"
                  data-placeholder="Type to add a tag"
                  data-minimum-results-for-search="100"
                  data-create-search-choice="vm.createSearchChoice"
                  data-minimum-result-for-search="100"
                  data-item-id="id"
                  data-label="name"
                  data="{{vm.items}}"
                  ng-model="vm.selectedItemForSingleTokkenization"
                  sc-input-select/>
                </th>
                <th>
                  <input type="text" id="single-select-tagging-2"
                  data-placeholder="Type to add a tag"
                  data-minimum-results-for-search="100"
                  data-create-search-choice="vm.createSearchChoice"
                  data-minimum-result-for-search="100"
                  data-item-id="id"
                  data-label="name"
                  data="{{vm.items}}"
                  ng-model="vm.selectedItemForSingleTokkenization"
                  sc-input-select/>
                </th>
                <th>
                  <input type="text" id="single-select-tagging-2"
                  data-placeholder="Type to add a tag"
                  data-minimum-results-for-search="100"
                  data-create-search-choice="vm.createSearchChoice"
                  data-minimum-result-for-search="100"
                  data-item-id="id"
                  data-label="name"
                  data="{{vm.items}}"
                  ng-model="vm.selectedItemForSingleTokkenization"
                  sc-input-select/>
                </th>
                <th>
                  <input type="text" id="single-select-tagging-2"
                  data-placeholder="Type to add a tag"
                  data-minimum-results-for-search="100"
                  data-create-search-choice="vm.createSearchChoice"
                  data-minimum-result-for-search="100"
                  data-item-id="id"
                  data-label="name"
                  data="{{vm.items}}"
                  ng-model="vm.selectedItemForSingleTokkenization"
                  sc-input-select/>
                </th>
                <th>
                  <input type="text" id="single-select-tagging-2"
                  data-placeholder="Type to add a tag"
                  data-minimum-results-for-search="100"
                  data-create-search-choice="vm.createSearchChoice"
                  data-minimum-result-for-search="100"
                  data-item-id="id"
                  data-label="name"
                  data="{{vm.items}}"
                  ng-model="vm.selectedItemForSingleTokkenization"
                  sc-input-select/>
                </th>
                <th>
                 <select class="form-control">
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                    <option value="D">D</option>
                  </select>
                </th>
              </tr>
            </thead>
            <tr>
              <td>Jill</td>
              <td>Smith</td>
              <td>50</td>
              <td>50</td>
              <td>50</td>
              <td>50</td>
              <td>50</td>
              <td>50</td>
            </tr>
            <tr>
              <td>Eve</td>
              <td>Jackson</td>
              <td>94</td>
              <td>94</td>
              <td>94</td>
              <td>94</td>
              <td>94</td>
              <td>94</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script src="https://static.scania.com/vendors/frameworks/jQuery/3.0.0/dist/jquery.js"></script>
  <script src="https://static.scania.com/vendors/components/jQuery/select2/3.5.2/js/select2.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://static.scania.com/vendors/components/pure-js/lodash/4.14.2/lodash.js"></script>

  <script src="https://static.scania.com/cds/mlebg7/selecct2/scania-angular-ui/src/scania-angular-ui.js"></script>
  <script src="https://static.scania.com/cds/mlebg7/selecct2/scania-angular-ui/app.js"></script>
  <script>
    $(".js-example-placeholder-single").select2({
      placeholder: "APA",
      allowClear: true
    });

    $(".js-example-basic-single").select2({
      placeholder: "APA",
      allowClear: true
    });

    $(".js-example-basic-hide-search").select2({
      minimumResultsForSearch: Infinity
    });

    $(".js-example-basic-multiple").select2();

    $(".js-example-basic-multiple-limit").select2({
      maximumSelectionLength: 3
    });

    /*$(document).one('mouseenter', '.select2', function(e) {
      e.preventDefault();
      $('div.select2-search').prepend('<i class="scania-icon-search sm"></i>');
    });*/
  </script>
</body>
</html>