
<!DOCTYPE html>

<html lang="en-GB" class="corporate-ui" ng-app="CorporateUI">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta charset="utf-8">
  <noscript>
    <meta http-equiv="refresh" content="0;url=https://static.scania.com/vendors/components/pure-js/nonJS-browsers/1.0.0/nonJS-browsers.html">
  </noscript>

  <title>UX Library</title>

  <script src="../../../js/corporate-ui.js"></script>

</head>
<body class="scania ux-lib">

  <span>text 1</span>
  <span>text 2</span>
  <span>text 3</span>

</body>
</html>