/*** COLOR CLASSES (Custom classes for labels, badges and other special effects / notifications) ***/
.color-primary  { color: @interaction-primary !important; }
.color-success  { color: @interaction-success !important; }
.color-warning  { color: @interaction-warning !important; }
.color-danger   { color: @interaction-danger !important; }
.color-info     { color: @interaction-info !important; }
.color-disabled     { color: #ddd !important; }

.color-secondary-01 { color: @color-secondary-01 !important; }
.color-secondary-02 { color: @color-secondary-02 !important; }
.color-secondary-03 { color: @color-secondary-03 !important; }
.color-secondary-04 { color: @color-secondary-04 !important; }

.bg-primary { background-color: @interaction-primary !important; }
.bg-success { background-color: @interaction-success !important; }
.bg-warning { background-color: @interaction-warning !important; }
.bg-danger  { background-color: @interaction-danger !important; }
.bg-info    { background-color: @interaction-info !important; }

.bg-half-primary  { background-image: linear-gradient(to bottom right, transparent 0%, transparent 50%, @interaction-primary 50%, @interaction-primary 100%) !important; }
.bg-half-success  { background-image: linear-gradient(to bottom right, transparent 0%, transparent 50%, @interaction-success 50%, @interaction-success 100%) !important; }
.bg-half-warning  { background-image: linear-gradient(to bottom right, transparent 0%, transparent 50%, @interaction-warning 50%, @interaction-warning 100%) !important; }
.bg-half-danger   { background-image: linear-gradient(to bottom right, transparent 0%, transparent 50%, @interaction-danger 50%, @interaction-danger 100%) !important; }
.bg-half-info     { background-image: linear-gradient(to bottom right, transparent 0%, transparent 50%, @interaction-info 50%, @interaction-info 100%) !important; }

.bg-cross { background-image: linear-gradient(to bottom right, transparent 45%, #ddd 48%, #ddd 51%, transparent 55%), 
                              linear-gradient(to bottom left, transparent 45%, #ddd 48%, #ddd 51%, transparent 55%) !important; }

.bg-disabled    { color: #ddd !important; }

.bg-secondary-01 { background-color: @color-secondary-01 !important; }
.bg-secondary-02 { background-color: @color-secondary-02 !important; }
.bg-secondary-03 { background-color: @color-secondary-03 !important; }
.bg-secondary-04 { background-color: @color-secondary-04 !important; }

.bg-grey1 { background-color: @color-grey1 !important; }
.bg-grey2 { background-color: @color-grey2 !important; }
.bg-grey3 { background-color: @color-grey3 !important; }
.bg-grey4 { background-color: @color-grey4 !important; }
.bg-grey5 { background-color: @color-grey5 !important; }
.bg-grey6 { background-color: @color-grey6 !important; }
.bg-grey7 { background-color: @color-grey7 !important; }
.bg-grey8 { background-color: @color-grey8 !important; }
.bg-grey9 { background-color: @color-grey9 !important; }